
<p class="f16 text_color_grey loading_data ta_c mt30" ng-show="inculdeHtml.loading">数据加载中...</p>
<div class="tab-0gmi-group-1 no_data" ng-show="(tahoList|isEmptyFilter) &&!inculdeHtml.loading">
	<span class="notice">暂无招聘账号，请先绑定招聘人员！</span><br/>
	<h2 class="common_tag create_tag" team-unbind="" team-bind-style="toBind" team-unbind-fun="loadData()">创建用户并绑定</h2>
</div>

<h2 class="common_tag create_tag" ng-show="!(tahoList|isEmptyFilter)&&!inculdeHtml.loading" style="margin-top:10px;" team-unbind="{{taho.business_user_id}}" team-bind-style="toBind" team-unbind-fun="loadData()">创建用户并绑定</h2>

<ul id="team_management_list" class="team_management_ul mt20">
	<li class="tab-0gmi-group-1" ng-repeat="taho in tahoList">
		<div class="team_user_info fl">
			<div class="user_avatar fl">
				<img ng-hide="taho.avatar" src="./candidates/style/img/default.png"/>
				<img ng-show="taho.avatar" ng-src="{{taho.avatar}}" onerror="javascript:this.src='./candidates/style/img/default.png';this.onerror=null;"/>
			</div>
			<div class="fl ml10" ng-show="taho.user_id" style="padding-top:30px;">
				<p class="text_color_grey f16 b">{{taho.business_user_name}}</p>
				<p class="text_color_grey mt5 f13">{{taho.role_name}}</p>
			</div>
			<div class="fl ml10 text_color_grey f15 b"
				ng-hide="taho.user_id" style="padding-top:35px;">{{taho.business_user_name}}(待绑定)</div>
			<div class="clear"></div>
		</div>
		<div class="team_joho_count fl">
			<div class="joho_avatar fl">
				<label>{{taho.joho_count|isEmptyFilter:"0"}}</label>
			</div>
			<div class="fl ml10 text_color_grey f15 b pointer" style="padding-top:20px;" ui-sref="^.detail({'businessId':taho.business_user_id})">创建的JOHO</div>
			<div class="clear"></div>
		</div>
		<div class="team_user_bind fl">
			<span class="team_bind done_bind" ng-hide="taho.user_id" team-unbind="{{taho.business_user_id}}" team-bind-style="toBind" team-unbind-fun="loadData()">绑定新用户</span>
			<span class="team_bind cancel_bind" ng-show="taho.user_id" team-unbind-count="{{taho.joho_count|isEmptyFilter:'0'}}" team-unbind="{{taho.business_user_id}}" team-unbind-fun="loadData()">解除绑定</span>
		</div>
		<div class="clear"></div>
	</li>
</ul>