<!--andy-->
<div>
	<h2 class="text_color_grey b fl"><small>"{{joho_name}}"</small>&nbsp;的人才自荐</h2>
</div>
<div class="switch work_switch fr" style="margin-top: 0px !important;" ng-show="(selfRecommendationtalentList.length)>=2">
	<input type="checkbox" name="toggle" checked="checked" ng-model="selectShowInfo" zero-dialog-compare="selectShowInfo" talentlist=selfRecommendationTalentList>
	<label for="toggle"><i></i></label>
	<span class="switch_span switch_left b">比较</span>
</div>
<div class="clear"></div>

<p class="f16 text_color_grey loading_data ta_c mt30 cl" ng-if="inculdeHtml.loading">数据加载中...</p>
<div class="tab-0gmi-group-1 no_data" ng-show="(selfRecommendationtalentList|isEmptyFilter) &&!inculdeHtml.loading">
	<span class="notice">暂无人才自荐，完善JOHO信息，让你的JOHO被更多的人才看到</span>
	<br/>
	<h2 class="common_tag edit_tag" ui-sref="recruiters.joho.edit({'job_id':joho_id})">编辑此JOHO</h2>
</div>

<ul id="talent_push_talent_list" class="talent_push_list">
	<li class="tab-0gmi-group-1 tab tab-0gmi-position" ng-repeat="talentInfo in selfRecommendationtalentList" ui-sref="recruiters.talentPush.talentDetail({'taho_id':talentInfo.basic.taho_id,'job_id':joho_id,'selfRecommendation':'selfRecommendation'})">
		<!--has data-->
		<div class="tab-content">
			<div class="tab-first">
				<div class="tab-img">
					<img class="bradius_50" ng-hide="talentInfo.basic.avatar_url" src="./candidates/style/img/default.png" />
					<img class="bradius_50" ng-show="talentInfo.basic.avatar_url" ng-src="{{talentInfo.basic.avatar_url}}" onerror="javascript:this.src='./candidates/style/img/default.png';this.onerror=null;" />
				</div>
				<p class="text_color_999 f16 b">{{talentInfo.basic.name}}</p>
			</div>
			<div class="tab-second">
				<h2 class="postion_title text_color_redSauce">{{talentInfo.basic.positions[0].position_name}}</h2>
				<ul class="position_tag clearUl">
					<li class="h3" ng-if="talentInfo.basic.pref_salary|isEmptyFilter">年薪不限</li>
					<li class="h3" ng-if="talentInfo.basic.pref_salary">年薪{{talentInfo.basic.pref_salary}}万</li>
					<li class="h3" ng-if="talentInfo.basic.industries[0].industry_name|isEmptyFilter">行业不限</li>
					<li class="h3" ng-if="talentInfo.basic.industries[0].industry_name">{{talentInfo.basic.industries[0].industry_name}}</li>
					<li class="h3" ng-if="talentInfo.basic.locations[0].location_name|isEmptyFilter">工作地点不限</li>
					<li class="h3" ng-if="talentInfo.basic.mobile_number">{{talentInfo.basic.locations[0].location_name}}</li>
				</ul>
				<div ng-show="talentInfo.used_rice" class="mt10">
					<span style="font-size: 15px; color: #666;font-weight: 600;"> 求职欲望：</span>
					<span class="text_color_redSauce" style="line-height: 25px;">{{talentInfo.used_rice}}</span>
				</div>
				<div ng-show="talentInfo.reason" class="mt10">
					<span class="text_color_grey" style="line-height: 25px;">{{talentInfo.reason}}</span>
				</div>
			</div>
			<div class="tab-third ta_c">
				<p class="show_score">{{talentInfo.totalScore|percentFilter}}</p>
				<p class="text_color_grey f16 b">匹配度</p>
			</div>
		</div>
		<!--<div class="div_transform_rotate">匹配中</div>-->
		<div class="clearfix"></div>
	</li>
</ul>
<tm-pagination conf="paginationConf"></tm-pagination>