<div class="tab-0gmi-group-1 pb10" ng-hide="setting.editModule == 'basic'">
	<!-- 展示基本信息 begin -->
	<div class="tab tab-0gmi-position"  ng-class="{'maskLayer': setting.editModule}">
		<div ng-hide="basic|objParamsIsNone" class="tab-tag tab-top ico_img_edit no_select" title="编辑基本信息" ng-click="setting.editModule ='basic'"></div>
		
		<div class="tab-header">
			<div class="tab-title">基本信息</div>
		</div>
		
		<!--no data-->
		<div class="tab-content" ng-show="basic|objParamsIsNone">
			<div class="nothing_prompt mt60">还未添加基本信息</div>
			<div id="toho_id_basic_but_plus" class="but_plus"  ng-click="setting.editModule ='basic'">+</div>
		</div>
		
		<div class="tab-content" ng-hide="basic|objParamsIsNone">
			<div class="tab-left">
				<div class="tab-img" style="width:60% !important;">
					<img ng-hide="basic.company_logo" src="./recruiters/style/img/default.png"/>
					<img ng-show="basic.company_logo" ng-src="{{basic.company_logo}}" 
							onerror="javascript:this.src='./recruiters/style/img/default.png';this.onerror=null;"/>
				</div>
			</div>
			<div class="tab-right">
				<h1 class='b text_color_redSauce m0'>{{basic.short_company_name}}</h1>
				<div class="mt5">
					<span class="text_color_grey f13">全称：</span>
					<span class="text_color_6A f16 b">{{basic.company_name}}</span>
				</div>
				<p class="text_color_grey cl mt5">{{basic.company_details}}</p>
			</div>
		</div>
	</div>
</div>


<!--*****************edit begin***********************-->
<div class="tab-0gmi-group-1" ng-if="setting.editModule == 'basic'" ng-controller="cohoEditBasicController">
	<form name="formData" ng-submit="submitForm( formData.$valid,formData.$dirty )" novalidate  autocomplete="off">
	  <!-- 职位讯息 -->
	  <div class="tab tab-0gmi-create-position">
	  		<div class="but_cancel tab-tag tab-top no_select" title="取消基本信息编辑" ng-click="setting.editModule = ''">&#10006;</div>
			<div class="tab-header">
				<div class="tab-title">基本信息</div>
			</div>
			<div class="tab-content">
				<table class="coho_edit_basic">
					<tr>
						<td class="tagName">公司Logo：</td>
						<td width="40%">
							<div select-pic="editBasic.company_logo"></div>
						</td>
						<td class="tagName">公司简称：</td>
						<td><input maxlength="8" type="text" ng-model="editBasic.short_company_name" name="short_company_name" placeholder="不超过8个字"/></td>
					</tr>
					<tr>
						<td class="tagName">公司全名：</td>
						<td colspan="3"><input type="text" ng-model="editBasic.company_name" name="company_name"/></td>
					</tr>
					<tr>
						<td valign="top" class="tagName">公司简介：</td>
						<td colspan="3">
							<!--<textarea ng-model="editBasic.company_details"  name="company_details" zero-auto-height></textarea>-->
							<textarea maxlength="700" ng-model="editBasic.company_details" test-info="editBasic.company_details"  name="company_details"></textarea>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<!--职位讯息 end-->
		<div class="form_but_group">
			<input type="submit" id="toho_id_basic_but_submit" class="form_but form_but_submit" value="完成"/>
			<div class="form_but form_but_cancel" ng-click="setting.editModule = ''">取消</div>
		</div>
	</form>
</div>
<!--**********************************edit end***********************************-->
