<div class="tab-0gmi-group-2 pb20 hoverStatus" ng-hide="setting.editModule == 'information'"  ng-class="{'maskLayer': setting.editModule}">
	
	<div class="tab-header mb10">
		<div class="tab-title text_color_grey">公司信息</div>		
	</div>
	
	<div ng-hide="information|objParamsIsNone" class="ico_img_edit no_select" title="编辑公司信息" ng-click="setting.editModule ='information'"></div>
	
	<!--no data-->
	<div class="tab-content" ng-show="information|objParamsIsNone">
		<div class="nothing_prompt mt60">还未添加公司信息</div>
		<div id="toho_id_basic_but_plus" class="but_plus"  ng-click="setting.editModule ='information'">+</div>
	</div>
	
	<div class="tab tab-0gmi-module"  ng-hide="information|objParamsIsNone">
		<dl class="basic_dl">
			<dt>公司类型：</dt>
			<dd>{{information.company_type_name|isEmptyFilter:'不限'}}</dd>
			<dt class="cboth">所属行业：</dt>
			<dd>{{information.industry_name}}</dd>
			<dt class="cboth">公司地址：</dt>
			<dd>{{information.company_address}}</dd>
			<dt class="cboth">公司电话：</dt>
			<dd>{{information.company_phone}}</dd>
		</dl>
	</div>
	
	<div class="tab tab-0gmi-module"  ng-hide="information|objParamsIsNone">
		<dl class="basic_dl">
			<dt>公司网站：</dt>
			<dd>{{information.company_website}}</dd>
			<dt class="cboth">公司邮箱：</dt>
			<dd>{{information.company_email}}</dd>
			<dt class="cboth">公司规模：</dt>
			<dd>{{information.company_size_type}}</dd>
			<dt class="cboth">创建年份：</dt>
			<dd>{{information.company_create_time|date:'yyyy年MM月'}}</dd>
		</dl>
	</div>
</div>


<!--*****************edit begin***********************-->
<div class="tab-0gmi-group-1" ng-if="setting.editModule == 'information'" ng-controller="cohoEditInformationController">
	<form name="formData" ng-submit="submitForm( formData.$valid,formData.$dirty )" novalidate  autocomplete="off">
	  <!-- 职位讯息 -->
	  <div class="tab tab-0gmi-create-position">
	  		<div class="but_cancel tab-tag tab-top no_select" title="取消公司信息编辑" ng-click="setting.editModule = ''">&#10006;</div>
			<div class="tab-header">
				<div class="tab-title">公司信息编辑</div>
			</div>
			<div class="tab-content">
				<ul class="coho_edit_information">
					<li class="input_div">
						<span class="tagName">公司类型：</span>
						<select name="company_type_id" required zero-focus class="input_text" ng-model="editInformation.company_type_id" title="{{companyTypeList|selectObjFromObjArr:'company_type_id':editInformation.company_type_id:'company_type_name'}}"
							ng-options="company_type.company_type_id as company_type.company_type_name for company_type in companyTypeList">
						</select>
						<span class="error" ng-show="formData.company_type_id.$dirty && formData.company_type_id.$invalid && !formData.company_type_id.$focused">请选择公司类型</span>
					</li>
					<li class="input_div">
						<span class="tagName">所属行业：</span>
						<select name="industry_id" required zero-focus class="input_text" ng-model="editInformation.industry_id" title="{{industyList|selectObjFromObjArr:'industry_id':editInformation.industry_id:'industry_name'}}"
						ng-options="industry.industry_id as industry.industry_name for industry in industyList">
						</select>
						<span class="error" ng-show="formData.industry_id.$dirty && formData.industry_id.$invalid && !formData.industry_id.$focused">请选择行业类型</span>
					</li>
					<li class="input_div">
						<span class="tagName">公司地址：</span>
						<input type="text" name="company_address" ng-model="editInformation.company_address" required zero-focus/>
						<span class="error" ng-show="formData.company_address.$dirty && formData.company_address.$invalid && !formData.company_address.$focused">请填写公司地址</span>
						
					</li>
					<li class="input_div">
						<span class="tagName">公司电话：</span>
						<input type="text" name="company_phone" ng-model="editInformation.company_phone"
							ng-pattern="/(^(\d{3,4}-)?\d{7,8})$|(1[3|4|5|8][0-9]\d{8})$/" zero-focus required/>
						<span class="error" ng-show="formData.company_phone.$dirty && formData.company_phone.$error.required && !formData.company_phone.$focused">请填写公司电话</span>
						<span class="error" ng-show="formData.company_phone.$dirty && formData.company_phone.$error.pattern && !formData.company_phone.$focused">号码输入格式不正确</span>
					</li>
					<li class="input_div">
						<span class="tagName">公司网站：</span>
						<input type="url" name="company_website" ng-model="editInformation.company_website" zero-focus/>
						<span class="error" ng-show="formData.company_website.$dirty && formData.company_website.$invalid && !formData.company_website.$focused">网址输入格式不正确</span>
					</li>
					<li class="input_div">
						<span class="tagName">公司邮箱：</span>
						<input type="email" name="company_email" ng-model="editInformation.company_email" zero-focus/>
						<span class="error" ng-show="formData.company_email.$dirty && formData.company_email.$invalid && !formData.company_email.$focused">邮箱输入格式不正确</span>
					</li>
					<li class="input_div">
						<span class="tagName">公司规模：</span>
						<select name="company_size_type_id" required zero-focus  class="input_text" ng-model="editInformation.company_size_type_id" title="{{companyTypeSizeList|selectObjFromObjArr:'company_size_type_id':editInformation.company_size_type_id:'company_size_type'}}"
						ng-options="companyTypeSize.company_size_type_id as companyTypeSize.company_size_type for companyTypeSize in companyTypeSizeList">
						</select>
						<span class="error" ng-show="formData.company_size_type_id.$dirty && formData.company_size_type_id.$invalid && !formData.company_size_type_id.$focused">请选择企业规模</span>
					</li>
					<li class="input_div">
						<span class="tagName">创建时间：</span>
						<div lay-date="formData.company_create_time" class="company_create_time laydate-icon"  ng-model="editInformation.company_create_time">{{editInformation.company_create_time|date:'yyyy年MM月'}}</div>
						<input type="hidden" name="company_create_time" ng-model="editInformation.company_create_time" required/>
						<span class="error" ng-show="formData.company_create_time.$invalid && showError">请选择创建时间</span>
					</li>
				</ul>
			</div>
		</div>
		<!--职位讯息 end-->
		<div class="form_but_group">
			<input type="submit" id="toho_id_basic_but_submit" class="form_but form_but_submit" value="完成"/>
			<div class="form_but form_but_cancel" ng-click="setting.editModule = ''">取消</div>
		</div>
	</form>
</div>
<!--**********************************edit end***********************************-->