<div class="tab-0gmi-group-1"  ng-hide="setting.editModule == 'introduce'">
	<div class="tab tab-0gmi-position">
		<div class="tab-header">
			<div class="tab-title">公司视频</div>
		</div>
		<div ng-hide="introduce|objParamsIsNone" class="tab-tag tab-top ico_img_edit no_select" title="编辑公司视频" ng-click="setting.editModule ='introduce'"></div>
		<!--no data-->
		<div class="tab-content" ng-show="introduce|objParamsIsNone">
			<div class="nothing_prompt mt60">还未添加公司视频</div>
			<div id="toho_id_basic_but_plus" class="but_plus"  ng-click="setting.editModule ='introduce'">+</div>
		</div>
		<div class="tab-content" ng-hide="introduce|objParamsIsNone">
			<video id="video_id" ng-class="{'video_show':setting.video_show}">
				<source src="{{introduce.company_video}}" type="video/mp4" />
			</video>
		</div>
	</div>
</div>



<!--*****************edit begin***********************-->
<div class="tab-0gmi-group-1" ng-if="setting.editModule == 'introduce'" ng-controller="cohoEditIntroduceController">
	<form name="formData" ng-submit="submitForm( formData.$valid,formData.$dirty )" novalidate  autocomplete="off">
	  <!-- 职位讯息 -->
	  <div class="tab tab-0gmi-create-position">
	  		<div class="but_cancel tab-tag tab-top no_select" title="取消公司视频编辑" ng-click="setting.editModule = ''">&#10006;</div>
			<div class="tab-header">
				<div class="tab-title">公司视频编辑</div>
			</div>
			<div class="tab-content coho_edit_introduce">
				<div class="uploadBorder">
					<div class="uploadBorder_title text_color_grey">上传企业宣传视频，或产品视频，建议时长为3分钟</div>
					<input class="video_file" type="file" nv-file-select uploader="uploader" />
				</div>
			</div>
		</div>
	</form>
</div>
<!--**********************************edit end***********************************-->