<!--  ==================================== -->
<!--  ======== 工作经历&教育 module  ========  -->
<!--  ==================================== -->
<!--*********show begin ***********-->
<!--教育&理想工作经验 begin-->
<div class="tab-0gmi-group-2" ng-if="editModuleTag != 'education' && editModuleTag != 'work_experience' ">
  <!-- 教育 -->
  <div class="tab tab-0gmi-education" ng-class="{'maskLayer': editModuleTag}">
  		<!--编辑图标-->
		<div ng-show="!(education | isEmptyFilter) && johoStatus==1" class="tab-tag tab-top ico_img_edit" title="编辑教育信息" ng-click="openEditModuleTag('education')"></div>

		<div class="tab-header">
			<div class="tab-title">教育</div>
		</div>
		
		<!--no data-->
		<div class="tab-content" ng-show="education|isEmptyFilter">
			<div class="nothing_prompt mt60" ng-show="johoStatus==1">还未添加教育信息</div>
			<div class="nothing_prompt mt60" ng-show="johoStatus!=1">无条件要求</div>
			<div class="but_plus" ng-show="johoStatus==1" ng-click="openEditModuleTag('education')">+</div>
		</div>
		
		<!--has data-->
		<div class="tab-content" ng-show="!(education|isEmptyFilter)">
			<h1 class="text_color_redSauce b no_first_label" ng-show="education.university_types && education.university_types.length>0">学校:
				<span ng-repeat="university_type in education.university_types">
					<label>,</label>
					{{university_type.university_type_name}}
				</span>
			</h1>
			<h1 class="text_color_redSauce slash">
				<span>{{education.education_level_name}}</span>
				<span ng-if="education.education_level_name && education.pref_edu_level_name">/</span>
				<span>{{education.pref_edu_level_name}}</span>
			</h1>
			<h2 class="text_color_grey ta_c">
				{{education.major.major_name}}
			</h2>
			<h2 class="text_color_grey ta_c">
				{{education.major.major2_name}}
			</h2>
			<h2 class="text_color_grey ta_c">
				{{education.major.major3_name}}
			</h2>
		</div>
	</div>
	
  <!-- 理想工作经验 -->
  <div class="tab tab-0gmi-experience" ng-class="{'maskLayer': editModuleTag}">
  		<!--编辑图标-->
		<div ng-show="!(work_experience | isEmptyFilter) && johoStatus==1" class="tab-tag tab-top ico_img_edit" title="编辑理想工作经验" ng-click="openEditModuleTag('work_experience')"></div>

		<div class="tab-header">
			<div class="tab-title">理想工作经验</div>
		</div>
		
		<!--no data-->
		<div class="tab-content" ng-show="work_experience|isEmptyFilter">
			<div class="nothing_prompt mt60" ng-show="johoStatus==1">还未添加工作经历</div>
			<div class="nothing_prompt mt60" ng-show="johoStatus!=1">无条件要求</div>
			<div class="but_plus"  ng-show="johoStatus==1"  ng-click="openEditModuleTag('work_experience')">+</div>
		</div>
		
		<!--has data-->
		<div class="tab-content" ng-show="!(work_experience|isEmptyFilter)">
			<div class="tab-left">
				<div class="tab-img">
					<h1 class="text_color_redSauce b test">{{work_experience.duration}}<sub>+</sub></h1>
				</div>
				<p class="h1 text_color_redSauce">经验</p>
			</div>
			<div class="tab-right">
				<h1 class="b mt5">{{work_experience.position_name}}</h1>
				<h2 class="text_color_grey mt15">{{work_experience.industry_name}}</h2>
				<h2 class="text_color_grey mt15">{{work_experience.company_type_name}}</h2>
			</div>
		</div>
		
	</div>
</div>
<!--教育&理想工作经验 end-->
<!--*********show end ***********-->
	
<!--*********edit begin ***********-->
<!--教育 begin-->
<div id="education" class="tab-0gmi-group-1" ng-if="editModuleTag == 'education'" ng-controller="johoEducationController">
	<form name="formData" ng-submit="submitForm(formData.$valid,formData.$dirty)" novalidate  autocomplete="off">
	<div class="tab tab-0gmi-create-edu">
		<div class="but_cancel tab-tag tab-top" title="取消教育编辑" ng-click="openEditModuleTag('')">x</div>
		<div class="tab-header">
			<div class="tab-title">教育</div>
		</div>
		<div class="tab-content">
			<ul class="table_ul">
				<li>
					<span>学校</span>
					<span>
						<input type="checkbox" name="university_type_id" id="university_1" 
						ng-model="educationModule.university_type_id" ng-checked="educationModule.university_type_id==1" ng-true-value="1" ng-false-value=""/>
						<label for="university_1">985</label>
						
						<input type="checkbox" name="university_type_id" id="university_2" 
						ng-model="educationModule.university_type_id" ng-checked="educationModule.university_type_id==2" ng-true-value="2" ng-false-value=""/>
						<label for="university_2">211</label>
						
						<input type="checkbox" name="university_type_id" id="university_3" 
						ng-model="educationModule.university_type_id" ng-checked="educationModule.university_type_id==3" ng-true-value="3" ng-false-value=""/>
						<label for="university_3">不限</label>
						
						<input type="checkbox" name="university_type_id" id="university_4" 
						ng-model="educationModule.university_type_id" ng-checked="educationModule.university_type_id==4" ng-true-value="4" ng-false-value=""/>
						<label for="university_4">海外</label>
					</span>
				</li>
				<li>
					<span>最高学历</span>
					<span>
						<input type="checkbox" name="edu_level_id" id="edu_level_id_1"
						ng-model="educationModule.edu_level_id" ng-checked="educationModule.edu_level_id==5" ng-true-value="5" ng-false-value=""/>
						<label for="edu_level_id_1">博士</label>
						
						<input type="checkbox" name="edu_level_id" id="edu_level_id_2"
						ng-model="educationModule.edu_level_id" ng-checked="educationModule.edu_level_id==4" ng-true-value="4" ng-false-value=""/>
						<label for="edu_level_id_2">硕士</label>
						
						<input type="checkbox" name="edu_level_id" id="edu_level_id_3"
						ng-model="educationModule.edu_level_id" ng-checked="educationModule.edu_level_id==3" ng-true-value="3" ng-false-value=""/>
						<label for="edu_level_id_3">本科</label>
						
						<input type="checkbox" name="edu_level_id" id="edu_level_id_4"
						ng-model="educationModule.edu_level_id" ng-checked="educationModule.edu_level_id==2" ng-true-value="2" ng-false-value=""/>
						<label for="edu_level_id_4">大专</label>
						
						<input type="checkbox" name="edu_level_id" id="edu_level_id_5"
						ng-model="educationModule.edu_level_id" ng-checked="educationModule.edu_level_id==1" ng-true-value="1" ng-false-value=""/>
						<label for="edu_level_id_5">大专以下</label>
					</span>
				</li>
				<li>
					<span>商务学历</span>
					<span>
						<input type="checkbox" name="pref_edu_level_id" id="pref_edu_level_1"
						ng-model="educationModule.pref_edu_level_id" ng-checked="educationModule.pref_edu_level_id==1" ng-true-value="1" ng-false-value=""/>
						<label for="pref_edu_level_1">MBA</label>
						<input type="checkbox" name="pref_edu_level_id" id="pref_edu_level_2"
						ng-model="educationModule.pref_edu_level_id" ng-checked="educationModule.pref_edu_level_id==2" ng-true-value="2" ng-false-value=""/>
						<label for="pref_edu_level_2">EMBA</label>
						<input type="checkbox" name="pref_edu_level_id" id="pref_edu_level_3"
						ng-model="educationModule.pref_edu_level_id" ng-checked="educationModule.pref_edu_level_id==3" ng-true-value="3" ng-false-value=""/>
						<label for="pref_edu_level_3">DBA</label>
					</span>
				</li>
				<li>
					<span>专业1</span>
					<span>
						<div style="display: inline-block;" pre-search = "major"
							ng-model = "educationModule.major.major_id"
							edit-pluagin="editPluagin('major')"
							show-from-level  = 1
							click-from-level = 1
							show-to-level=1>
						</div>
					</span>
				</li>
				<li>
					<span>专业2</span>
					<span>
						<div style="display: inline-block;" pre-search = "major"
							ng-model = "educationModule.major.major2_id"
							edit-pluagin="editPluagin('major2')"
							show-from-level  = 1
							click-from-level = 1
							show-to-level=1>
						</div>
					</span>
				</li>
				<li>
					<span>专业3</span>
					<span>
						<div style="display: inline-block;" pre-search = "major"
							ng-model = "educationModule.major.major3_id"
							edit-pluagin="editPluagin('major3')"
							show-from-level  = 1
							click-from-level = 1
							show-to-level=1>
						</div>
					</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="form_but_group">
		<input type="submit" class="form_but form_but_submit" value="完成"/>
		<div class="form_but form_but_cancel" ng-click="openEditModuleTag()">取消</div>
	</div>
	</form>
	
	<!-- 遮罩层 -->
	<div ng-if="editPluaginName" class="pop_up_bg"></div>
	<!-- 专业选择  -->
	<div class="position_pop_up"
	 ng-show="editPluaginName=='major'"
	 pop-up-layer = "major"
	 ng-model = "educationModule.major.major_id"
	 edit-pluagin="editPluagin('')"
	 show-name = "专业"
	 click-level = 1>
	</div>
	<div class="position_pop_up"
	 ng-show="editPluaginName=='major2'"
	 pop-up-layer = "major"
	 ng-model = "educationModule.major.major2_id"
	 edit-pluagin="editPluagin('')"
	 show-name = "专业"
	 click-level = 1>
	</div>
	<div class="position_pop_up"
	 ng-show="editPluaginName=='major3'"
	 pop-up-layer = "major"
	 ng-model = "educationModule.major.major3_id"
	 edit-pluagin="editPluagin('')"
	 show-name = "专业"
	 click-level = 1>
	</div>
	
</div>
<!--教育 end-->

<!--工作经验 begin-->
<div id='work_experience' class="tab-0gmi-group-1" ng-if="editModuleTag == 'work_experience'" ng-controller="johoWorkExperienceController">
	<form name="formData" ng-submit="submitForm(formData.$valid,formData.$dirty)" novalidate autocomplete="off">
		<!-- 职位讯息 -->
		<div class="tab tab-0gmi-create-exper">
			<div class="but_cancel tab-tag tab-top" title="取消工作经验编辑" ng-click="openEditModuleTag('')">x</div>
			<div class="tab-header">
				<div class="tab-title">工作经验</div>
			</div>
			<div class="tab-content">
				<div class="tab-left">
					<div class="round">
						<div class="tab-img">
							<h1 class="b">
								<input class="no_out_line test" type="text" name="duration" maxlength="2"
								 ng-pattern="/^0$|^([1-9][\d]{0,1})$/"
								 ng-model="workExperienceModule.duration" placeholder="0"/>
								<sub>年</sub>
							</h1>
						</div>
						<p class="h2 b">经验</p>
						<span class="error" ng-show="(showError || formData.duration.$dirty) && formData.duration.$invalid">输入错误</span>
					</div>
				</div>
				<ul class="tab-right table_ul">
					<li>
						<span>行业类型</span>
						<span>
							<select class="input_text" ng-model="workExperienceModule.industry_id" title="{{industyList|selectObjFromObjArr:'industry_id':workExperienceModule.industry_id:'industry_name'}}"
							ng-options="industry.industry_id as industry.industry_name for industry in industyList">
							<option value="">不限</option>
							</select>
						</span>
					</li>
					<li>
						<span>企业类型</span>
						<span>
							<select class="input_text" ng-model="workExperienceModule.company_type_id" title="{{companyTypeList|selectObjFromObjArr:'company_type_id':workExperienceModule.company_type_id:'company_type_name'}}"
							ng-options="company_type.company_type_id as company_type.company_type_name for company_type in companyTypeList">
							<option value="">不限</option>
							</select>
						</span>
					</li>
					<li>
						<span>担任过的职位</span>
						<span>
							<div class="input_text" style="display: inline-block;width: 170px;"
							pre-search = "position"
							ng-model = "workExperienceModule.position_id"
							edit-pluagin="editPluagin('position')"
							show-from-level  = 2
							click-from-level = 2
							></div>
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="form_but_group">
			<input type="submit" class="form_but form_but_submit" value="完成"/>
			<div class="form_but form_but_cancel" ng-click="openEditModuleTag()">取消</div>
		</div>
	</form>
	<!-- 遮罩层 -->
	<div ng-if="editPluaginName" class="pop_up_bg"></div>
	<!-- 职位选择  -->
	<div class="position_pop_up"
	 ng-show="editPluaginName=='position'"
	 pop-up-layer = "position"
	 ng-model = "workExperienceModule.position_id"
	 edit-pluagin="editPluagin('')"
	 show-name = "职位"
	 click-level = 3
	 special-select=2
	></div>
	
</div>
<!--工作经验 end-->
	
