<!-- 主体  左侧-->
<div class="width_scale70 fl">
	<div ng-include="inculdeHtml.searchHtml"></div>
	<div id="joho_manage" ui-view=""></div>
</div>

<!-- 主体  右侧-->
<div class="fr width_scale30 right_module" ng-include="inculdeHtml.rightHtml">
</div>
<script id="invite_user.html" type="text/ng-template">
	<div id="invite_user" ng-controller="recrInviteUserController" class="zero_dialog" style="z-index:1000;width:560px;top: 210px;margin: 0 auto;">
		<form name="formData" ng-submit="submitForm(formData.$valid)" novalidate autocomplete="off">
			<div title="关闭面试邀请" class="cancel_button no_select mr10" ng-click="closeDialog();"></div>
			<div style="padding: 30px 40px 0 40px;">
				<div>
					<h2 style="text-align: center;margin: 0 auto;" class="b">邀请候选人</h2>
					<input class="mt10" id="send_Interview_input" type="text" ng-model="inviteUser.userName"  placeholder="请输入邀请人的邮箱或者手机号"
						 name="userName" required/>
					<br />
					<label style="background: url(recruiters/style/img/tips.png);width: 16px;height: 20px;">&nbsp;&nbsp;&nbsp;</label><label style="color: #999;">如果输入多个，请用英文分号（;）分隔开(最多可输入50个)</label>
					<span class="error" ng-show="proving && formData.userName.$error.required" style="top:138px;width: 80%;left: 60px;">请填写邀请人的邮箱或者手机号</span>
					<!--<span class="error" ng-show="formData.userName.$dirty && !formData.userName.$focused" style="top:150px;width: 80%;left: 50px;">请填写正确的邮箱或者手机号</span>-->
					<span class="error" ng-show="!formData.userName.$focused" style="top:138px;width: 80%;left: 60px;">{{usernameError}}</span>
				</div>
				
				<div style="margin-top: 20px;">
					<label class="b">邀请类别</label><br />
					<div class="mt5 ml5">
						<input type="checkbox" name="check1" ng-click="changeTestStatus()" />心理学测试邀请
						<input class="ml20" type="checkbox" name="check2" ng-click="changeShowStatus()" />视频面试邀请
					</div>
				</div>
				<div ng-if="showTest == true || showInteview == true" >
					<div class="b pt20">邀请信息</div>
					<div class="posrel mt10">
						<textarea type="textarea" maxlength="100" ng-model="inviteUser.message" test-info="inviteUser.message" name="message" required>
						</textarea><span class="error" style="top:100px;" ng-show="proving && formData.message.$error.required">面试邀请信息不能为空</span>
					</div>
				</div>
			</div>
			<div id="send_Interview" ng-if="showInteview == true">
				<div class="b">发送面试视频前，需要提供1到3个问题以及所需时间：</div>
				<ul class="invitation_question">
					<li ng-repeat="question in inviteUser.questions">
						<div class="question_index fl">问题{{$index+1}}：</div>
						<div class="question_info fl">
							<div class="select_div fl" ng-show="question.type=='select'">
								<select class="fl" ng-model="question.value" ng-options="value.joho_interviewer_question as value.joho_interviewer_question for value in inviteUser.questionsBank|filterSelect:'joho_interviewer_question':inviteUser.questions:question.value:'value'">
									<option value="">请在题库中选择问题</option>
								</select>
							</div>
							<div class="select_div fl" ng-show="question.type=='pen'">
								<input class="fl" type="text" ng-model="question.value" set-focus="question.type" set-focus-value="pen" />
							</div>
							<div class="tag pen" title="自定义问题" ng-show="question.type=='select'" ng-click="pen($index)"></div>
							<div class="tag backSelect" title="使用问题库中的问题" ng-show="question.type=='pen'" ng-click="select($index)"></div>
							<div class="tag add" title="添加问题" ng-click="add()"></div>
							<div class="tag del" title="删除问题" ng-click="del($index)"></div>
							<div class="clear"></div>
						</div>
					</li>
				</ul>
				<div class="mt20 pt10">
					<span>每题面试视频所需时间：</span>
					<span class="select_div question_time">
					<select ng-init="inviteUser.duration=3" ng-model="inviteUser.duration" name="duration" ng-options="value.key as value.key for value in timeList">
						<option ng-if=""></option>
					</select>
				</span>
					<span>分钟</span>
				</div>
			</div>
			<div style="padding: 10px 40px;" ng-if="showTest == true || showInteview == true">
				<span style="height: 26px;float: left;clear: right;">邀请有效时间：</span>
				<label lay-date-time class="laydate-icon pl5" ng-model="inviteUser.last_time" style="display: inline-block;width: 210px;height: 26px;" name="last_time">{{inviteUser.last_time|date:'yyyy年MM月dd日 hh:mm:ss'}}</label>
				<!--<span class="error" ng-show="formData.last_time.$error.required" style="position: relative;float: left;left: 0;top: 0;">邀请有效时间不能为空</span>-->
			</div>
			<div class="mt20" style="text-align: center;" >
				<input type="submit" class="but_basic pl20 pr20" value="确定" ng-disabled="inculdeHtml.loading" />
			</div>
		</form>
	</div>
</script>
