
<form name="edu_exper" ng-submit="submitFormData()"  autocomplete="off">
	
<!--coho begin-->
<div class="tab-0gmi-group-1">
	<!-- coho -->
	<div class="tab tab-0gmi-create-edu">
		<div class="tab-header">
			<div class="tab-title">教育</div>
		</div>
		<div class="tab-content">
			<ul class="table_ul">
				<li>
					<span>大学</span>
					<span>
						<input type="checkbox" name="university_type_id" id="university_1" 
						ng-model="module2formData.education.university_type_id.1" ng-checked="module2formData.education.university_type_id.1" ng-true-value="1" ng-false-value=""/>
						<label for="university_1">985</label>
						
						<input type="checkbox" name="university_type_id" id="university_2" 
						ng-model="module2formData.education.university_type_id.2" ng-checked="module2formData.education.university_type_id.2" ng-true-value="2" ng-false-value=""/>
						<label for="university_2">211</label>
						
						<input type="checkbox" name="university_type_id" id="university_3" 
						ng-model="module2formData.education.university_type_id.3" ng-checked="module2formData.education.university_type_id.3" ng-true-value="3" ng-false-value=""/>
						<label for="university_3">不限</label>
						
						<input type="checkbox" name="university_type_id" id="university_4" 
						ng-model="module2formData.education.university_type_id.4" ng-checked="module2formData.education.university_type_id.4" ng-true-value="4" ng-false-value=""/>
						<label for="university_4">海外</label>
					</span>
				</li>
				<li>
					<span deal-break db-click="addDealbreaker('edu_level_db')" db-value="dealBreaker | selectObjFromObjArr:'name':'edu_level_db':'status' ">最高学历</span>
					<span>
						<input type="checkbox" name="edu_level_id" id="edu_level_id_1"
						ng-model="module2formData.education.edu_level_id" ng-checked="module2formData.education.edu_level_id==1" ng-true-value="1" ng-false-value=""/>
						<label for="edu_level_id_1">学士</label>
						
						<input type="checkbox" name="edu_level_id" id="edu_level_id_2"
						ng-model="module2formData.education.edu_level_id" ng-checked="module2formData.education.edu_level_id==2" ng-true-value="2" ng-false-value=""/>
						<label for="edu_level_id_2">硕士</label>
						
						<input type="checkbox" name="edu_level_id" id="edu_level_id_3"
						ng-model="module2formData.education.edu_level_id" ng-checked="module2formData.education.edu_level_id==3" ng-true-value="3" ng-false-value=""/>
						<label for="edu_level_id_3">博士</label>
					</span>
				</li>
				<li>
					<span deal-break db-click="addDealbreaker('pre_edu_level_db')" db-value="dealBreaker | selectObjFromObjArr:'name':'pre_edu_level_db':'status' ">商务学历</span>
					<span>
						<input type="checkbox" name="pref_edu_level_id" id="pref_edu_level_1"
						ng-model="module2formData.education.pref_edu_level_id" ng-checked="module2formData.education.pref_edu_level_id==1" ng-true-value="1" ng-false-value=""/>
						<label for="pref_edu_level_1">MBA</label>
						<input type="checkbox" name="pref_edu_level_id" id="pref_edu_level_2"
						ng-model="module2formData.education.pref_edu_level_id" ng-checked="module2formData.education.pref_edu_level_id==2" ng-true-value="2" ng-false-value=""/>
						<label for="pref_edu_level_2">EMBA</label>
						<input type="checkbox" name="pref_edu_level_id" id="pref_edu_level_3"
						ng-model="module2formData.education.pref_edu_level_id" ng-checked="module2formData.education.pref_edu_level_id==3" ng-true-value="3" ng-false-value=""/>
						<label for="pref_edu_level_3">DBA</label>
					</span>
				</li>
				<li>
					<span>专业</span>
					<span>
						<select class="input_text" ng-model="module2formData.education.major.major_id"
						ng-options="major.major_id as major.major_name for major in majorList">
						<option value="">请选择专业</option>
						</select>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--coho end-->
	
<!--职位讯息 begin-->
  <div class="tab-0gmi-group-1">
  <!-- 职位讯息 -->
  <div class="tab tab-0gmi-create-exper">
		<div class="tab-header">
			<div class="tab-title">工作经验</div>
		</div>
		<div class="tab-content">
			<div class="tab-left">
				<div class="round">
					<div class="tab-img">
						<h1 class="b">
							<input class="no_out_line" type="text" maxlength="2" ng-model="module2formData.work_experience.duration"/><sub>yrs</sub>
						</h1>
					</div>
					<p class="h2 b">经验</p>
				</div>
			</div>
			<ul class="tab-right table_ul">
				<li>
					<span deal-break db-click="addDealbreaker('industry_db')" db-value="dealBreaker | selectObjFromObjArr:'name':'industry_db':'status' ">行业类型</span>
					<span>
						<select class="input_text" ng-model="module2formData.work_experience.industry_id"
						ng-options="industry.industry_id as industry.industry_name for industry in industyList">
						<option value="">不限</option>
						</select>
					</span>
				</li>
				<li>
					<span>企业类型</span>
					<span>
						<select class="input_text" ng-model="module2formData.work_experience.company_type_id"
						ng-options="company_type.company_type_id as company_type.company_type_name for company_type in companyTypeList">
						<option value="">不限</option>
						</select>
					</span>
				</li>
				<li>
					<span>担任过的职位</span>
					<span>
						<!--<select class="input_text" ng-model="module2formData.work_experience.position_id"
						ng-options="position.position_id as position.position_name for position in positionList">
						<option value="">不限</option>
						</select>-->
						
						<div class="input_text" style="display: inline-block;width: 170px;"
						pre-search = "position"
						ng-model = "module2formData.work_experience.position_id"
						edit-pluagin="editPluagin('position')"
						show-from-level  = 1
						click-from-level = 2
						></div>
						
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--职位讯息 end-->
<!--<pre>
	{{ module2formData }}
</pre>-->

<!--保存按钮-->
<button class="save_but" type="submit" ng-show="( !job_id || edu_exper.$dirty)">
	<span class="h2 b">保存</span>
</button>
<!--下一页-->
<div class="save_but" ng-show="( job_id && edu_exper.$pristine )"  ui-sref="^.languages_skills_certifications">
	<span class="h2 b">下一步</span>
</div>


<!-- 遮罩层 -->
<div ng-if="editPluaginName" class="pop_up_bg"></div>
<!-- 职位选择  -->
<!--<div
 ng-if="editPluaginName=='position'"
 pop-up-layer-position
 ng-model = "module2formData.work_experience.position_id"
 resource-data="positionList"
 resource-data-key  = "position_id"
 resource-data-name = "position_name"
 edit-pluagin="editPluagin('')"
></div>-->

<!-- 职位选择  -->
<div class="position_pop_up"
 ng-if="editPluaginName=='position_'+$index"
 pop-up-layer = "position"
 ng-model = "work_experience.position_id"
 edit-pluagin="editPluagin('')"
 show-name = "职位"
 click-level = 2
></div>


</form>




