<form name="updateForm" ng-submit="submitFormData()">
		
<!--面试问题 begin-->
<div class="tab-0gmi-group-1">
	<div class="tab tab-0gmi-interview">
		<div class="tab-header">
			<div class="tab-title">面试问题</div>
		</div>
		<div class="tab-content" id="div_questions">
			<div class="title">每个候选人需要回答随机产生的三个问题</div>
			<ul class="table_ul" id="question_list">
				<li ng-repeat = "question in module7formData.questions">
					<span class="span1">问题{{question.key+1}}:</span>
					<span class="span2">
						<textarea class="text_height" ng-model="question.value" ng-blur="changeQuestion($index,question.value)"></textarea>
					</span>
				</li>
			</ul>
			<button type="button" ng-click = "addNewQuestion()" >+</button>
		</div>
	</div>
</div>
<!--面试问题 end-->
	
<!--选取重要类别 begin-->
<div class="tab-0gmi-group-1"  >
	<input type="hidden" ng-model="module7formData.category_importance" /> 
  	<div class="tab tab-0gmi-important">
		<div class="tab-header">
			<div class="tab-title">选取重要类别</div>
		</div>
		<div class="tab-content">
			<div class="but_group">
				<div class="hover" ng-class ="{true:'select',false:''}[module7formData.category_importance.basic_information == 2]" ng-click="SelectImportant('basic_information')">职位信息</div>
				<div class="hover" ng-class ="{true:'select',false:''}[module7formData.category_importance.education_work_experience == 2]"  ng-click="SelectImportant('education_work_experience')">教育及经验</div>
				<div class="hover" ng-class ="{true:'select',false:''}[module7formData.category_importance.languages_certificates_skills == 2]" ng-click="SelectImportant('languages_certificates_skills')">语言证书技能</div>
			</div>
			<div class="but_group">
				<div class="hover" ng-class ="{true:'select',false:''}[module7formData.category_importance.motivation_value == 2]" ng-click="SelectImportant('motivation_value')">动机价值观</div>
				<div class="hover" ng-class ="{true:'select',false:''}[module7formData.category_importance.thinking_pattern_iq == 2]" ng-click="SelectImportant('thinking_pattern_iq')">IQ及思维</div>
				<div class="hover" ng-class ="{true:'select',false:''}[module7formData.category_importance.behavior_pattern_eq == 2]" ng-click="SelectImportant('behavior_pattern_eq')">行为及EQ</div>
			</div>
		</div>
	</div>
</div>
<!--选取重要类别 end-->

<!--<pre>
	{{ module7formData }}
</pre>-->

<!--保存按钮-->
<button class="save_but" type="submit" ng-show="( !job_id || updateForm.$dirty)">
	<span class="h2 b">保存</span>
</button>
<!--下一页-->
<div class="save_but" ng-show="( job_id && updateForm.$pristine )"  ui-sref="recruiters.joho.detail({'job_id':job_id,'detail_type':2})">
	<span class="h2 b">查看</span>
</div>


</form>



