
<form name="updateForm" ng-submit="submitFormData()">
	
<!--IQ begin-->
<div class="tab-0gmi-group-1">
	<div class="tab tab-0gmi-create-IQ">
		<div class="tab-header">
			<div class="tab-title">IQ</div>
		</div>
		<div class="tab-content">
			<div class="tab-left">
				<div class="round"  deal-break db-click="addDealbreaker('iq_db')" db-value="dealBreaker | selectObjFromObjArr:'name':'iq_db':'status' ">
					<input class="no_out_line" type="text" 
					 ng-model="module5formData.iq.iq_value"
					 ng-change="setIqValue()"
					 maxlength="3"/>
					<br/>
					<span class="b">IQ</span>
				</div>
			</div>
			<div class="tab-right">
				<h2 class="text_color_redSauce b">{{module5formData.iq.iq_level}}</h2>
				<span class="text_color_redSauce b">{{module5formData.iq.iq_percent}}%</span>的人在这个范围内
			</div>
		</div>
	</div>
</div>
<!--IQ end-->
	
<!--思维倾向 begin-->
<div class="tab-0gmi-group-1">
  <div class="tab tab-0gmi-create-vt">
		<div class="tab-header">
			<div class="tab-title">思维模式</div>
		</div>
		<div class="tab-content">
			<div class="tab-left">
				<h1 class="b text_color_redSauce">
					<span ng-repeat="tp in module5formData.thinking_pattern.thinking_pattern_name|zeroSplit:'/'"  deal-break db-click="addDealbreaker('thinking_pattern_db')" db-value="dealBreaker | selectObjFromObjArr:'name':'thinking_pattern_db':'status' ">
						{{tp}}<span ng-if="$index == 0">/</span>
					</span>
					
					<!--<span class="triangle up"></span>-->
				</h1>
				<ul class="ul_list">
					<li ng-repeat="thinkingPattern in thinkingPatternList" 
						ng-class="{'tag':(thinkingPattern.thinking_pattern_id==module5formData.thinking_pattern.thinking_pattern_id)}"
						ng-click="selectThinkPattern($index)">
						<em></em>{{thinkingPattern.thinking_pattern_name}}
					</li>
				</ul>
				<div class="descripation">
					{{module5formData.thinking_pattern.thinking_pattern_description}}
				</div>
			</div>
			<div class="tab-right">
				<ul class="ul_drag no_select">
					<li>
						<span class="h2">对外界的评估</span>
						<div zero-drag-scale
							zero-drag-scale-min=0
							zero-drag-left-name="友善"
							zero-drag-scale-max=10
							zero-drag-right-name="敌对"
							zero-drag-scale-step=0.5
							ng-model = "module5formData.thinking_pattern.assessment_of_environment"
							fun="getThinkingPatternValue()"
							>
						</div>
					</li>
					<li>
						<span class="h2">对自己的评估</span>
						<div zero-drag-scale
							zero-drag-scale-min=0
							zero-drag-left-name="跃进"
							zero-drag-scale-max=10
							zero-drag-right-name="保守"
							zero-drag-scale-step=0.5
							ng-model = "module5formData.thinking_pattern.assessment_of_oneself"
							fun="getThinkingPatternValue()"
							>
						</div>
					</li>
					<li>
						<span class="h2">思维方式</span>
						<div zero-drag-scale
							zero-drag-scale-min = 0
							zero-drag-left-name = "理智"
							zero-drag-scale-max = 10
							zero-drag-right-name = "情感"
							zero-drag-scale-step=0.5
							ng-model = "module5formData.thinking_pattern.thinking_method"
							fun="getThinkingPatternValue()"
							>
						</div>
					</li>
					<li>
						<span class="h2">认知方式</span>
						<div zero-drag-scale
							zero-drag-scale-min = 0
							zero-drag-left-name = "聚焦"
							zero-drag-scale-max = 10
							zero-drag-right-name = "全局"
							zero-drag-scale-step=0.5
							ng-model = "module5formData.thinking_pattern.cognitive_pattern"
							fun="getThinkingPatternValue()"
							>
						</div>
					</li>
					<li>
						<span class="h2">信息接纳</span>
						<div zero-drag-scale
							zero-drag-scale-min = 0
							zero-drag-left-name = "批评"
							zero-drag-scale-max = 10
							zero-drag-right-name = "接纳"
							zero-drag-scale-step=0.5
							ng-model = "module5formData.thinking_pattern.acceptance_to_information"
							fun="getThinkingPatternValue()"
							>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--思维倾向 end-->

<!--<pre>
	{{ module5formData }}
</pre>-->

<!--保存按钮-->
<button class="save_but" type="submit" ng-show="( !job_id || updateForm.$dirty)">
	<span class="h2 b">保存</span>
</button>
<!--下一页-->
<div class="save_but" ng-show="( job_id && updateForm.$pristine )"  ui-sref="^.behaviour_EQ">
	<span class="h2 b">下一步</span>
</div>


</form>




