
<form name="updateForm" ng-submit="submitFormData()"  autocomplete="off">

<!--语言 begin-->
<div class="tab-0gmi-group-1">
  <div class="tab tab-0gmi-create-lsc">
		<div class="tab-header">
			<div class="tab-title">语言</div>
		</div>
		<div class="tab-content">
			<div class="tab-left">
				<div class="tab-img tab-img-lang"></div>
				<!--<span>Language</span>-->
			</div>
			<div class="tab-right">
				
				<div class="add_input">
					<select class="input_text" ng-model="select_value_languages"
						ng-options="language as language.language_name for language in languageList | filterSelect:'language_id':module3formData.languages">
						<option value="">请选择语言</option>
					</select>
					<span class="but_add"  ng-click="addArrayParamlanguage()">+</span>
				</div>
				
				<ul class="ul_list">
					<li ng-repeat = "language in module3formData.languages" deal-break db-click="addDealbreaker('language_db_'+$index)" db-value="dealBreaker | selectObjFromObjArr:'name':'language_db_'+$index:'status' ">
						<div class="first">
							<span>{{language.language_name}}</span>
							<button ng-click="removeArrayParam(module3formData.languages,$index)">x</button>
						</div>
						<select class="second" ng-model="language.language_level_id" value="0"
						ng-options="languageLevel.language_level_id as languageLevel.language_level_name for languageLevel in languageLevelList">
					</select>
					</li>
				</ul>
				
			</div>
		</div>
	</div>
</div>
<!--语言 end-->

<!--技能 begin-->
<div class="tab-0gmi-group-1">
  <div class="tab tab-0gmi-create-lsc">
		<div class="tab-header">
			<div class="tab-title">技能</div>
		</div>
		<div class="tab-content">
			<div class="tab-left">
				<div class="tab-img tab-img-skill"></div>
				<!--<span>Skills in</span>-->
			</div>
			<div class="tab-right">
				<div class="add_input">
					<span class="input_text"
						pre-search = "skill"
						ng-model = "select_value_skill"
						edit-pluagin="editPluagin('skill')"
						show-from-level  = 1
						click-from-level = 2>
					</span>
					<span class="but_add" ng-click="addArrayParam(module3formData.skills,select_value_skill,'select_value_skill')">+</span>
				</div>
				
				<ul class="ul_list">
					<li ng-repeat = "skill in module3formData.skills">
						<div class="first">
							<span>{{skill.skill_name}}</span>
							<button ng-click="removeArrayParam(module3formData.skills,$index)">x</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--技能 end-->

<!--证书  begin-->
<div class="tab-0gmi-group-1">
  <div class="tab tab-0gmi-create-lsc">
		<div class="tab-header">
			<div class="tab-title">证书</div>
		</div>
		<div class="tab-content">
			<div class="tab-left">
				<div class="tab-img tab-img-certificate"></div>
				<!--<span>Certificate</span>-->
			</div>
			<div class="tab-right">
				
				<div class="add_input">
					<!--<select class="input_text" ng-model="select_value_certificate"
						ng-options="certificate as certificate.certificate_name for certificate in certificateList | filterSelect:'certificate_id':module3formData.certificates">
						<option value="">请选择证书</option>
					</select>-->
					
					<span class="input_text"
						pre-search = "certificate"
						ng-model = "select_value_certificate"
						edit-pluagin="editPluagin('certificate')"
						show-from-level  = 1
						click-from-level = 2>
						
					</span>
					<span class="but_add" ng-click="addArrayParam(module3formData.certificates,select_value_certificate,'select_value_certificate')">+</span>
				</div>
				
				<ul class="ul_list">
					<li ng-repeat = "certificate in module3formData.certificates">
						<div class="first">
							<span>{{certificate.certificate_name}}</span>
							<button ng-click="removeArrayParam(module3formData.certificates,$index)">x</button>
						</div>
					</li>
				</ul>
				
			</div>
		</div>
	</div>
</div>
<!--证书 end-->


<!--保存按钮-->
<button class="save_but" type="submit" ng-show="( !job_id || updateForm.$dirty)">
	<span class="h2 b">保存</span>
</button>
<!--下一页-->
<div class="save_but" ng-show="( job_id && updateForm.$pristine )"  ui-sref="^.motivation_value">
	<span class="h2 b">下一步</span>
</div>

<!-- 遮罩层 -->
<div ng-if="editPluaginName" class="pop_up_bg"></div>
<!-- 工作地点选择  -->
<div
 ng-show="editPluaginName=='skill'"
 class="skill_pop_up"
 pop-up-layer = "skill"
 ng-model="select_value_skill"
 edit-pluagin="editPluagin('')"
 hide-ng-model = true
 show-name = "技能"
 click-level = 2
></div>

<div
 ng-show="editPluaginName=='certificate'"
 class="skill_pop_up"
 pop-up-layer = "certificate"
 ng-model="select_value_certificate"
 edit-pluagin="editPluagin('')"
 hide-ng-model = true
 show-name = "证书"
 click-level = 2
></div>


</form>




