<!--coho begin-->
<div class="tab-0gmi-group-1">
	<!-- coho -->
	<div class="tab tab-0gmi-CoHo">
		<div class="tab-header">
			<div class="tab-title">CoHo</div>
		</div>
		<div class="tab-content">
			<div class="tab-left">
				<div class="tab-img">
					<img ng-src="{{company.company_logo}}" />
				</div>
				<h2 class="b">{{company.company_name}}<br/>
					<small>{{comany.comany_industry}}</small>
				</h2>
			</div>
			<ul class="tab-right table_ul">
				<li>
					<span deal-break db-click="addDealbreaker('company_type_db')" db-value="dealBreaker | selectObjFromObjArr:'name':'company_type_db':'status' ">类型:</span>
					<span>{{company.company_type_name}}</span>
				</li>
				<li>
					<span>大小:</span>
					<span>{{company.company_size_type}}</span>
				</li>
				<li>
					<span>产品与服务:</span>
					<span>{{company.company_introduce}}</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--coho end-->
	
<form name="position" ng-submit="submitPosition(position.$valid)" novalidate  autocomplete="off">
  <!--职位讯息 begin-->
  <div class="tab-0gmi-group-1">
  <!-- 职位讯息 -->
  <div class="tab tab-0gmi-basic">
		<div class="tab-header">
			<div class="tab-title">职位讯息</div>
		</div>
		<div class="tab-content">
			<ul class="table_ul">
				<li>
					<span class="span1" deal-break db-click="addDealbreaker('position_db')" db-value="dealBreaker | selectObjFromObjArr:'name':'position_db':'status' ">职位名称</span>
					<span class="span2">
						<div
						pre-search = "position"
						ng-model = "positionformData.position_id"
						edit-pluagin="editPluagin('position')"
						show-from-level  = 2
						click-from-level = 3
						></div>
					</span>
				</li>
				<li>
					<span class="span1">税前年薪</span>
					<span class="span2">
						<input class="input_salary" 
						type="text"
						name="salary"
						ng-model="positionformData.salary"
						zero-field-validate="salary" 
						validate-number="true"
						min-value="0"
						max-value="1000"
						/>
						<!--<input type="number" id="age" name="age" ng-model="user.age" class="form-control" />-->
					&nbsp;万人民币</span>
				</li>
				<li>
					<span class="span1" deal-break db-click="addDealbreaker('location_db')" db-value="dealBreaker | selectObjFromObjArr:'name':'location_db':'status' ">工作地点</span>
					<span class="span2">
						<div
						pre-search = "location"
						ng-model = "positionformData.location_id"
						edit-pluagin="editPluagin('location')"
						show-from-level  = 1
						click-from-level = 2
						input-disable = true
						></div>
					</span>
				</li>
				<li>
					<span class="span1">适合性别</span>
					<span class="span2">
						<input type="checkbox" name="getGender" ng-model="positionformData.getGender.1" id="sex_men"/><label for="sex_men">&nbsp;男</label>
						<input type="checkbox" name="getGender" ng-model="positionformData.getGender.2" id="sex_women"/><label for="sex_women">&nbsp;女</label>

					</span>
				</li>
				<li>
					<span class="span1" deal-break db-click="addDealbreaker('travel_db')" db-value="dealBreaker | selectObjFromObjArr:'name':'travel_db':'status' ">出差比例</span>
					<span class="span2">
						<div class="ul_drag ul_drag_1">
							<div zero-drag-scale
								zero-drag-scale-min=0
								zero-drag-scale-max=100
								zero-drag-scale-step=1
								zero-drag-has-label=0
								ng-model = "positionformData.travel_value"
								>
							</div>
							<span>{{positionformData.travel_value}}%</span>
						</div>
					</span>
				</li>
				<li>
					<span class="span1" deal-break db-click="addDealbreaker('age_db')" db-value="dealBreaker | selectObjFromObjArr:'name':'age_db':'status' ">适合年龄</span>
					<span class="span2">
						<input class="input_age" 
						type="text"
						name="age"
						ng-model="positionformData.age"
						zero-field-validate="age" 
						validate-number="true"
						min-value="10"
						max-value="100"/>
						&nbsp;±3
					</span>
				</li>
				<li class="special">
					<span class="span1">工作描述</span>
					<span class="span2">
						<textarea ng-model="positionformData.job_description"></textarea>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--职位讯息 end-->



<!--<pre>
	{{ positionformData }}
</pre>-->

<!--保存按钮-->
<button class="save_but" type="submit" ng-show="( !job_id || position.$dirty)">
	<span class="h2 b">保存</span>
</button>
<!--下一页-->
<div class="save_but" ng-show="( job_id && position.$pristine )" ui-sref="^.education_experience">
	<span class="h2 b">下一步</span>
</div>




<!-- 遮罩层 -->
<div ng-if="editPluaginName" class="pop_up_bg"></div>
<!-- 职位选择  -->
<div
 ng-if="editPluaginName=='position'"
 pop-up-layer-position
 ng-model = "positionformData.position_id"
 resource-data="positionList"
 resource-data-key  = "position_id"
 resource-data-name = "position_name"
 edit-pluagin="editPluagin('')"
></div>
<!-- 工作地点选择  -->
<div
 ng-if="editPluaginName=='location'"
 pop-up-layer-location
 ng-model = "positionformData.location_id"
 edit-pluagin="editPluagin('')"
></div>


</form>















