<style>
.login_content {background: #F7F7F7;}
#guide{background: #ffffff;}
</style>
<div id="guide" class="content_box">
	<form name="formData" ng-submit="submitForm(formData.$valid)" novalidate autocomplete="on">
		<div ng-if="userInfo.login_type==1000">
			<h1 class="guide_page">
				嗨，回答5个问题，让你更快的找到工作！
			</h1>
		    <div class="guide_input_box">
		    	<div class="input_div">
		        	<span class="guide_title">你好，我的名字是</span>
		        	<input type="text" class="guide_input input1" name="name" autocomplete="off" ng-model="basic.name" required maxlength="10"/>
		        	<span class="error" ng-show="formData.name.$dirty && formData.name.$error.required">名字不能为空</span>
		        	<span class="error ok" ng-show="formData.name.$valid">&nbsp;</span>
		        </div>
		    	
		        <div class="input_div">
		        	<span class="guide_title">期望工作地点</span>
		        	<div class="guide_input input2"
					pre-search = "location"
					ng-model = "basic.location_id"
					edit-pluagin="editPluagin('location')"
					show-from-level  = 1
					click-from-level = 2
					input-disable = true
					tabindex=0></div>
					<input name="location_id" type="hidden" ng-model="basic.location_id" required/>
					<span class="error" ng-show="formData.location_id.$dirty && formData.location_id.$error.required">工作城市不能为空</span>
					<span class="error ok" ng-show="formData.location_id.$valid">&nbsp;</span>
		        </div>
		        
		        <div class="input_div">
		        	<span class="guide_title">期望工作行业</span>
			        <select class="input3 guide_input" tabindex=0 ng-model="basic.industry_id" title="{{industyList|selectObjFromObjArr:'industry_id':basic.industry_id:'industry_name'}}"
						ng-options="industry.industry_id as industry.industry_name for industry in industyList">
					</select>
					<input name="industry_id" type="hidden" ng-model="basic.industry_id" required/>
					<span class="error" ng-show="formData.industry_id.$dirty && formData.industry_id.$error.required">工作行业不能为空</span>
					<span class="error ok" ng-show="formData.industry_id.$valid">&nbsp;</span>
		        </div>
		        
		        <div class="input_div">
		        	<span class="guide_title">期望的职位</span>
		        	<div class="input4 guide_input"
					pre-search = "position"
					ng-model = "basic.pref_position_id"
					edit-pluagin="editPluagin('position')"
					show-from-level  = 1
					click-from-level = 2
					show-to-level=2
					tabindex=0></div>
					<input name="position_id" type="hidden" ng-model="basic.pref_position_id" required/>
					<span class="error" ng-show="formData.position_id.$dirty && formData.position_id.$error.required">职业不能为空</span>
					<span class="error ok" ng-show="formData.position_id.$valid">&nbsp;</span>
		        </div>
		       	
		       	<div class="input_div">
		       		<span class="guide_title">期望的年薪</span>
		       		<input class="guide_input input5" type="text" name="salary" maxlength="3"
						ng-model="basic.pref_salary"
						ng-pattern="/^([1-9][\d]{0,2})$/" required/>
		        	<span class="guide_title">万</span>
		        	<span class="error" ng-show="formData.salary.$dirty && formData.salary.$error.required">年薪不能为空</span>
		        	<span class="error" ng-show="formData.salary.$dirty && formData.salary.$error.pattern">年薪为1~999万的整数</span>
		        	<span class="error ok" ng-show="formData.salary.$valid">&nbsp;</span>
		       	</div>
		        
		        
		        <!-- 遮罩层 -->
				<div ng-if="editPluaginName" class="pop_up_bg"></div>
				<!-- 职位选择  -->
				<div
				 class="position_pop_up"
				 ng-show="editPluaginName=='position'"
				 pop-up-layer = "position"
				 ng-model = "basic.pref_position_id"
				 edit-pluagin="editPluagin('')"
				 show-name = "职位"
				 click-level = 2></div>
				
				<!-- 工作地点选择  -->
				<div
				 ng-show="editPluaginName=='location'"
				 pop-up-layer-location
				 ng-model = "basic.location_id"
				 edit-pluagin="editPluagin('')"></div>
				
		        
		    </div>
		</div>
		<div ng-if="userInfo.login_type==1001" class="guide_input_box" style="margin: 150px auto;">
	    	<div class="input_div">
	        	<h1 class="guide_title" style="text-align: center;display: block;font-size: 18px;">嗨，您的名字是</h1>
	        	<input type="text" name="name" autocomplete="off" ng-model="basic.name" required maxlength="10"/>
	        	<span class="error" ng-show="formData.name.$dirty && formData.name.$error.required" style="top:60px">名字不能为空</span>
	        	<span class="error ok" ng-show="formData.name.$valid" style="top:60px">&nbsp;</span>
	        </div>
		</div>
		
        <input class="a1" type="submit" value="完成" ng-disabled="formData.$invalid"/>
        
        <p class="p4">输入您的真实信息。我们将更方便联系到您。我们保证您的信息安全。</p>
    </form>
	<script>
		$(function() {
			$('#advertise-page').hide();
		});
	</script>
</div>