<div class="content_header c_header b_header"></div>
<div class="content_box">
	<form name="loginForm" ng-submit="dologinIn(loginForm.$valid)" autocomplete="off"  novalidate>
	<div class="logo"></div>
    <h2 class="h2_one">企业管理员登录</h2>
    <div class="input_box">
    	<p class="p1" ng-show="loginError">帐号或密码错误</p>
    	<input type="password" style="display: none;"/>
        <div class="input_div">
	        <input type="text" placeholder="请输入企业后台账号" class="input1" name="username1" zero-focus
	        ng-model="loginFormData.username" ng-change="changeValue()" required/>
	        <div class='error' ng-show="loginForm.username1.$dirty && loginForm.username1.$error.required && !loginForm.username1.$focused">
	        	请输入企业后台账号
	        </div>
        </div>

        <div class="input_div">
	        <input type="password" ng-change="changeValue()" placeholder="请输入密码" class="input1" name="password1" ng-model="loginFormData.password" zero-focus required/>
	        <div class='error' ng-show="loginForm.password1.$dirty && loginForm.password1.$invalid && !loginForm.password1.$focused">
	        	请输入登录密码
	        </div>
        </div>
        <div style="min-height: 100px;">
        	<input class="submit_loginCoho" ng-show="noStatus" ng-disabled="loginForm.$invalid" type="submit" value="登&nbsp;录"/>
        	<input class="submit_loginCoho" ng-hide="noStatus" ng-disabled="!noStatus" type="submit" value="登录中..."/>
        </div>
    </div>
    </form>
</div>
<div class="content_footer no_select footer_loginCoho">
	<div class="login_enter b_enter fr" ui-sref="^.login({'login_type':'recruiters'})">企业用户登录</div>
    <div class="login_enter c_enter fl" ui-sref="^.login({'login_type':'candidates'})">个人用户登录<div>
</div>

