<div class="content_header c_header"></div>
<div class="content_notice" ng-if="type=='notice'">
    <span class="notice_title">激活邮件已发送到你的注册邮箱，请去激活！</span><br/>
    <span class="notice_url">去
    	<a href="javascript:void(0);"  to-email-url="code">跳转到邮箱</a>，或
    	<a href="javascript:void(0);" ui-sref="userManagement.login({'login_type':'candidates'})">返回首页</a>
    </span>
</div>

<div class="content_notice" ng-if="type=='success'">
    <span class="notice_title">恭喜您，邮箱验证成功，{{time}}s后将跳转！</span><br/>
    <a href="javascript:void(0);" class="notice_url" ng-click="goNow()">立即跳转</a>
</div>