<div class="content_header c_header" ng-class="{'b_header':(loginType=='recruiters')}"></div>
<div class="content_box">
	<form name="registerForm" ng-submit="dologinIn(registerForm.$valid)" novalidate autocomplete="off">
		<div class="logo"></div>
		<h2 class="h2_one" ng-if="loginType=='candidates'">用户注册</h2>
		<h2 class="h2_one" ng-if="loginType=='recruiters'">企业注册</h2>
		<div class="input_box">
			<input type="password" style="display: none;" />

			<div class="input_div">
				<input type="text" placeholder="请输入邮箱或手机号" name="username1" ng-model="formData.username" ng-pattern="/^(1[3|4|5|7|8][0-9]\d{8})$|^([^@\s]+@[^@\.\s]+(\.[^@\.\s]+)+)$/" ng-change="validateRegisterType()" zero-focus="errorInfo" zero-focus-code="6004" required/>
				<div class='error' ng-show="(loading||registerForm.username1.$dirty) && registerForm.username1.$error.required && !registerForm.username1.$focused">
					请输入邮箱或手机号
				</div>
				<div class='error' ng-show="registerForm.username1.$dirty && registerForm.username1.$error.pattern && !registerForm.username1.$focused">
					邮箱格式或手机号不正确
				</div>
				<div class='error' ng-show="registerForm.username1.$zeroError.code == '6004' && !registerForm.username1.$focused">
					{{registerForm.username1.$zeroError.message}}
				</div>
				<div class="sendCode no_select" title="{{codeNotice}}" ng-click="sendMobile()" ng-if="registerType=='mobile'">
					<span ng-hide="codeEnable">{{codeNotice}}</span>
				</div>
			</div>

			<div class="input_div" ng-if="registerType=='mobile'">
				<input type="text" placeholder="短信验证码" name="code" maxlength="6" zero-focus="errorInfo" zero-focus-code="9000" ng-model="formData.code" required ng-pattern="/^[0-9]{6}$/" />
				<div class='error' ng-show="(loading||registerForm.code.$dirty) && registerForm.code.$error.required  && !registerForm.code.$focused">
					请输入验证码
				</div>
				<div class='error' ng-show="registerForm.code.$dirty && registerForm.code.$error.pattern  && !registerForm.code.$focused">
					验证码不正确
				</div>
				<div class='error' ng-show="registerForm.code.$zeroError.code == '9000' && !registerForm.code.$focused">
					{{registerForm.code.$zeroError.message}}
				</div>
			</div>
			<div class="input_div">
				<input type="password" placeholder="设置密码" name="password1" ng-model="formData.pwd" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/" zero-focus required />
				<div class='error' ng-show="(loading||registerForm.password1.$dirty) && registerForm.password1.$error.required && !registerForm.password1.$focused">
					请输入密码
				</div>
				<div class='error' ng-show="registerForm.password1.$dirty && registerForm.password1.$error.pattern && !registerForm.password1.$focused">
					密码需6~20位字母与数字
				</div>
			</div>

			<div class="button_group" ng-mouseover="overButton = !overButton" ng-hide="overButton"></div>
			<div class="button_group_1" ng-show="overButton" ng-mouseleave="overButton=!overButton">
				<div class="button_minor">
					<div class="button_img regetpass_img_1" ui-sref="userManagement.retrievePassword({step:'step1'})"></div>
					<span>忘记密码<span>
       		</div>
        	<div class="button_main">
       			<input class="button_img register_img_2" type="submit" value=""/>
       			<span class="text_color_redSauce">注册<span>
       		</div>
       		<div class="button_minor">
       			<div class="button_img login_img_1" ui-sref="userManagement.login({login_type:'candidates'})"></div>
       			<span>登录<span>
       		</div>
       		<div class="clear"></div>
        </div>
        
    </div>
    </form>
    <script>
		$(function() {
			$('#advertise-page').hide();
		});
	</script>
</div>