<div class="content_header c_header"></div>
<div class="content_box">
	<div class="logo"></div>
    <h2 class="h2_one">找回密码</h2>
    <div class="input_box" ng-hide="retrieveType">
    	<form name="formStep1" ng-submit="submitStep1()" novalidate autocomplete="off">
    	<p class="p1" ng-show="notices.isError">{{notices.message}}</p>
        <div class="input_div">
        	<input type="text" placeholder="请输入邮箱或手机号" name="username1" ng-model="retrieveData.username"
        	ng-pattern="/^(1[3|4|5|7|8][0-9]\d{8})$|^([^@\s]+@[^@\.\s]+(\.[^@\.\s]+)+)$/"
        	ng-change="validateRegisterType()"
        	required zero-focus/>
	        <div class='error' ng-show="formStep1.username1.$dirty && formStep1.username1.$error.pattern && !formStep1.username1.$focused">
	        	邮箱或手机号不正确
	        </div>
        </div>
        <input class="a1" type="submit" value="下一步" ng-show="noStatus" ng-disabled="!formStep1.$valid"/>
        <input class="a1" type="submit" value="请稍后..." ng-hide="noStatus" ng-disabled="true"/>
        </form>
    </div>

    <div class="input_box" ng-if="retrieveType=='mobile'">
    	<form name="formStep2" ng-submit="submitStep2()" novalidate  autocomplete="off">
    	<span class="retrieve_span mb20">您的手机号码为：{{retrieveData.username}}</span><br />
    	<p class="p1" ng-show="notices.isError">{{notices.message}}</p>
        <div class="input_div">
	        <input type="text" placeholder="短信验证码" name="code" ng-model="retrieveData.code" zero-focus required ng-pattern="/^[0-9]{6}$/"/>
	        <div class="sendCode no_select" title="{{codeNotice}}" ng-click="sendMobile()">
	        	<span ng-hide="codeEnable">{{codeNotice}}</span>
	    	</div>
	        <div class='error' ng-show="formStep2.code.$dirty && formStep2.code.$invalid && !formStep2.code.$focused">
		    	验证码不正确
		    </div>
        </div>
        <input class="a1" type="submit" value="下一步" ng-show="noStatus" ng-disabled="!formStep2.$valid"/>
        <input class="a1" type="submit" value="请稍后..." ng-hide="noStatus" ng-disabled="true"/>
        </form>
    </div>
    
    <div class="input_box" ng-if="retrieveType=='email'">
        <span class="retrieve_span">您的邮箱是：{{retrieveData.username}}</span><br />
        <span class="retrieve_span mb20">我们已经发送验证邮件，请查收!</span>
        <div class="a1" to-email-url="retrieveData.username">进入邮箱验证</div>
    </div>
    
    <div class="input_box" ng-if="retrieveType=='setPassword'">
    	<form name="formStep3" ng-submit="submitStep3()" novalidate  autocomplete="off">
    		<input type="password" style="display: none;"/>
	         <div class="input_div">
	        	<input type="password" placeholder="设置密码" name="password"
	        	ng-model="retrieveData.pwd" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/" zero-focus required />
	        	<div class='error' ng-show="formStep3.password.$dirty && formStep3.password.$error.require && !formStep3.password.$focused">
			       	请输入密码
			    </div>
			    <div class='error' ng-show="formStep3.password.$dirty && formStep3.password.$error.pattern && !formStep3.password.$focused">
			       	密码需6~20位字母与数字
			    </div>
	        </div>
	        <div class="input_div">
	       		<input type="password" placeholder="确认密码" name="confirmPassword"
	        	ng-model="confirmPassword" required  zero-focus required/>
	        	<div class='error' ng-show="formStep3.confirmPassword.$dirty && formStep3.confirmPassword.$error.require && !formStep3.confirmPassword.$focused">
			       	请输入确认密码
			    </div>
	        	<div class='error' ng-show="formStep3.confirmPassword.$dirty && retrieveData.pwd != confirmPassword  && !formStep3.confirmPassword.$focused">
		        	密码不一致
		        </div>
	       	</div>
	        <input class="a1" type="submit" value="重设密码" ng-disabled="!(formStep3.$valid && retrieveData.pwd && retrieveData.pwd == confirmPassword)"/>
	    </form>
    </div>
</div>
