/*-----------------通用简单样式----------------------*/

h1,.h1{font-size:24px;margin:15px 0;}
h2,.h2{font-size:18px;margin:0;}

ul{list-style: none;margin:0px;padding:0px;}
ul:after{content:".";display:block;clear:both;height:0;display:none;}
li{margin:0px;padding:0px;}

.text_center{text-align: center;}

.none{margin:0px;padding:0px;}

.clearfix{height: 0;visibility: hidden;display: block;clear: both;}

/*三角型*/
.triangle{
	height: 0px;
	width:0px;
	border-color:transparent;
	border-style: solid;
	border-width: 8px 5px;
	display: inline-block;
	margin-left:15px;
}
.up{border-bottom-color: #E24F00;}
.down{border-top-color: #E24F00;}
/* ----------------　通用小部件 begin ---------------- */



/**按钮组件**/
.btn_red{
	background:#E24F00 !important;
	color:#fff !important;
}

/**模块样式**/
.module_style > h2,
.module_style > div,
.module_style > li
{ 
	border-radius:6px;
	background:#fff;
	box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.01);
	width:100%;
	margin:20px auto;
}
.module_style > div{
	padding: 15px 10px;
}
.module_style > h2{
	color: #E24F00;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
}
.no_out_line{outline: medium;}

.no_first_label span:first-child label{
	display: none;
}




/*私用目录中----后期调整*/

/***index***/

/*********Recruiter*******/
/*添加成员*/
.ul_add_member{border-bottom: #f4f4f4 2px solid;margin-top:30px;}
.ul_add_member li{float:none; padding:0 10px 50px 10px;}
.ul_add_member li:after{display: block;height: 0;visibility: hidden;content: "";clear: both;}
.ul_add_member li>div{float:left;}
.ul_add_member li>div:first-child{width:50px;line-height: 50px;}
.ul_add_member img{width: 100%;}

.ul_add_member li>div:nth-child(2){width:90px;line-height: 30px;padding-left:10px;}
.ul_add_member li>div:nth-child(2) h2{padding:0px;margin: 0px; font-weight: bold;}

.ul_add_member li>div:nth-child(3){width:10px;line-height: 50px;text-align:left;}


#member_search_ico{
	background: url(../img/member_search.png);
	width:12px;
	height:14px;
	vertical-align: middle;
	margin-left:5px;
	margin-right:0;
}

/*团队成员*/
.ul_member{ padding:40px 5px 0px 5px; }
.ul_member li{ width:46px;float: left; }
.ul_member li + li{margin-left:16px;}
.ul_member li p{margin-top:10px;font-weight: bold;}
.ul_member img{width:100%;}



/*********creation*******/
/*input 公共样式*/
form label{
	vertical-align: middle;
	margin-right:20px;
	font-weight: normal;
}


/*ul_infor 相关信息选择框*/
.ul_infor{ 
	position: absolute;
	top:0;
	left:0;
	background: #1fbce0;
	border-radius: 0 0 5px 5px;
	display: none;
	height:130px;
	overflow-y: auto;
	padding:4px !important;
}
.ul_infor li{
	width:90% !important;
	margin:5px auto;
	color:#FFFFFF;
	font-size: 12px;
	float: none;
	white-space:nowrap;
	overflow: hidden;
	cursor: pointer;
}
.ul_infor li:hover{
	color:#E24F00;
}



/**creation_header**/
.creation_header{
	height:50px;
	width:100%;
	background:#A2A2A2;
}
.creation_header ul{
	
}
.creation_header li{
	height:50px;
	line-height: 50px;
	width:130px;
	text-align: center;
	cursor: pointer;
	float: left;
}
.creation_header li a{
	color:#fafafa;
	text-decoration: none;
	display: block;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}

.creation_header li.special{
	width:144px;
}
.creation_header li.special span{
	display: inline-block;
	line-height: 1.1;
	margin-top:10px;
	width:80px;
}
.creation_header li:first-child{
	border-top-left-radius: 0px;
}
.creation_header li:last-child{
	border-top-right-radius: 0px;
}

.creation_header .select{
	background:#fff;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-top:3px;
	height:47px;
	line-height:46px;
	background:#F8F8F8;
}
.creation_header .select a{
	color:#E24F00;
}


/****************************joho的编辑模块*************************************/
/*coho*/
.tab-0gmi-CoHo .tab-content .tab-left{width:35%;text-align: center;}
.tab-0gmi-CoHo .tab-img{width:120px;margin:0 auto !important;}
.tab-0gmi-CoHo .tab-left img{width:70px;}
.tab-0gmi-CoHo .tab-content .tab-right{width:65%;}
.tab-0gmi-CoHo .table_ul li{margin-bottom: 25px;width:100%;}

/*职位讯息*/
.tab-0gmi-basic{}
.tab-0gmi-basic .table_ul{margin-bottom: 0px;}
.tab-0gmi-basic .table_ul>li{width:50%;height:26px;float: left;}
.tab-0gmi-basic .table_ul .span1{margin-left:15px;padding-left:10px;}
.tab-0gmi-basic .drag{
	width: 100px;
	margin-right: 10px;
	float: left;
	margin-top:4px;
}
.tab-0gmi-basic .ul_drag_1{
	width: 100%;
	margin: 0;
}
.tab-0gmi-basic .special{width:100% !important;height:auto !important;}
.tab-0gmi-basic .special .span1{vertical-align: top;margin-top:5px;}
.tab-0gmi-basic .special textarea{height:80px;max-height:80px;width:450px;max-width: 450px;}

/*教育*/
.tab-0gmi-create-edu .tab-content{width:60%;}

/*工作经验*/
.tab-0gmi-create-exper .tab-content{width:90%;margin-bottom:20px;}
.tab-0gmi-create-exper .tab-content .tab-left{width:40%;}
.tab-0gmi-create-exper .tab-content .tab-right{width:60%; text-align: center;padding:0 20px;}
.tab-0gmi-create-exper .round{ 
	width:150px;
	height:150px;
	border-radius: 75px;
	background: #E24F00;
	margin:0 auto;
	color:#fff !important;
}
.tab-0gmi-create-exper .tab-img h1{
	font-size:33px;
	font-family: "agency fb";
	margin:-10px 0px 0px 0px;
}
.tab-0gmi-create-exper .tab-img input{
	width:45px;
	height:40px;
	background: none;
	padding: none;
	margin:none;
	margin-top:35px;
	border-bottom: #fff 1px solid;
	text-align: center;
	margin-left:10px;
}
.tab-0gmi-create-exper sub{font-size:50%;margin-left:10px;}
.tab-0gmi-create-exper .round span{color:#FFFFFF;display: inline-block;font-weight: bold;}
.tab-0gmi-create-exper .round span:first-child{
	font-size:43px;
	font-family: "agency fb";
	margin-top:10px;
	margin-bottom: -5px;
}
.tab-0gmi-create-exper .table_ul li{
	text-align: left;
}
.tab-0gmi-create-exper .table_ul li>span:first-child, 
.tab-0gmi-create-exper .table_ul li>.span1{
	margin-right: 10px;
}


/*语言 技能 证书*/
.tab-0gmi-create-lsc .tab-content{width:86%;}
.tab-0gmi-create-lsc .tab-content .tab-left{
	width:35%;
	text-align: left;
	height:90px;
	line-height: 90px;
}
.tab-0gmi-create-lsc .tab-left span{
	margin-left:20px;
	color:#A2A2A2;
	font-weight: bold;
	font-size: 13px;
}
.tab-0gmi-create-lsc .tab-content .tab-right{width:60%; text-align: left;padding:0 20px;}
.tab-0gmi-create-lsc .tab-img{
	display: inline-block;
	width:60px;
	height:70px;
	vertical-align: middle;
	background-size: contain !important;
	background-position: center !important;
}
.tab-0gmi-create-lsc .tab-img-lang{
	background: url(../img/language.png) no-repeat;
}
.tab-0gmi-create-lsc .tab-img-skill{
	background: url(../img/skill.png) no-repeat;
}
.tab-0gmi-create-lsc .tab-img-certificate{
	background: url(../img/certificate.png) no-repeat;
}

.tab-0gmi-create-lsc .tab-content .tab-right{
	width:65%;
	padding-right: 0px;
}
.tab-0gmi-create-lsc .ul_list{
	margin-bottom: 10px;
	margin-left:-8px;
}
.tab-0gmi-create-lsc .ul_list li{
	color:#A2A2A2;
	font-size: 13px;
	min-width: 60px;
	float:left;
	margin:8px;
}


.tab-0gmi-create-lsc .first{
	padding-right: 20px;
	position: relative;
	background: #F7F7F7;
}


.tab-0gmi-create-lsc .first span{
	text-align: left;
	margin-left: 4px;
	color:#666;
}
.tab-0gmi-create-lsc .first button{
	position: absolute;
	right:3px;
	top:0px;
	width: 15px;
	height:100%;
	line-height: 1;
	border:none;
	background:none;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}
.tab-0gmi-create-lsc button:hover{
	color:#E24F00;
	font-weight: bold;
}
.tab-0gmi-create-lsc .ul_list .second{
	width: 100%;
	background:#f1f1f1;
	margin-top:5px;
	border:none;
	color: #A2A2A2;
}

.tab-0gmi-create-lsc .ul_list option{
	font-size: 50%;
}


.tab-0gmi-create-lsc .add_input{
	margin-top:20px;
	height:30px;
	line-height: 30px;
}
.tab-0gmi-create-lsc .add_input>.input_text{
	vertical-align: middle;
	display: inline-block;
	width:170px !important;
}


.tab-0gmi-create-lsc .but_add{
	text-align: center;
	font-size: 26px;
	margin: 0px;
	margin-left: 10px;
	font-weight: bold;
	display: inline-block;
	width:26px;
	height:26px;
	line-height:21px;
	border-radius: 13px;
	background:#A2A2A2;
	color:#F7F7F7;
	padding: 0px;
	cursor: pointer;
	vertical-align: middle;
}

/*动机*/
.tab-0gmi-create-motivation .tab-content{width:80%;}
.tab-0gmi-create-motivation .tab-content .tab-left{width:40%;margin-bottom: 10px;}
.tab-0gmi-create-motivation .tab-content .tab-right{width:60%; padding:0 20px;}
.tab-0gmi-create-motivation .round{ 
	width:100px;
	height:100px;
	border-radius: 50px;
	background: #E24F00;
	margin:10px auto;
}
.tab-0gmi-create-motivation .title{font-size: 12px;color: #bfbfbf;margin-top:10px;}
.tab-0gmi-create-motivation .ul_list li{margin: 15px 0;}

/*价值观 思维倾向  行为模式*/
.tab-0gmi-create-vt .tab-content{width:80%;}
.tab-0gmi-create-vt .tab-content .tab-left{width:40%;margin-bottom: 10px;}
.tab-0gmi-create-vt .tab-content .tab-left input{text-align: center;width: 150px;}
.tab-0gmi-create-vt .tab-content .tab-right{width:60%;padding-left: 30px;}
.tab-0gmi-create-vt .round{ 
	width:100px;
	height:100px;
	border-radius: 50px;
	background: #E24F00;
	margin:10px auto;
}
.tab-0gmi-create-vt .descripation{
	color: #A2A2A2;
	margin-top:20px;
	text-align: left;
}

.tab-0gmi-create-vt h1{
	width:170px;
	margin:60px 0px 0px 20px;
	height: 26px;
	text-align: left;
}

.tab-0gmi-create-vt .ul_list{ 
	width:130px;
	margin:10px 0px 30px 60px;
}
.tab-0gmi-create-vt .ul_list li{
	margin:0px;
	border-left: #979797 1px solid;
	padding:3px 3px 3px 10px;
	font-size: 16px;
	color:#9b9b9b;
	font-weight: bold;
	position: relative;
	text-align: left;
	cursor: pointer;
}
.tab-0gmi-create-vt .ul_list li:hover{
	color:#E24F00;
}

.tab-0gmi-create-vt .ul_list .tag{
	border-left: transparent 1px solid;
}
.tab-0gmi-create-vt .tag:before{
	position: absolute;
	content: "";
	display: block;
	height: 0px;
	width:0px;
	border-color:transparent;
	border-style: solid;
	border-width: 8px 6px;
	border-left-color: #E24F00;
	left:-3px;
	top:5px;
}
.tab-0gmi-create-vt .tag em{
	position: absolute;
	content: "";
	display: block;
	height: 0px;
	width:0px;
	border-color:transparent;
	border-style: solid;
	border-width: 8px 6px;
	border-left-color: #FFFFFF;
	left:-5px;
	top:5px;
}

.tab-0gmi-create-vt .ul_drag_1 label{
	color:#A2A2A2
}
.tab-0gmi-create-vt .ul_drag_1 li .h2{
	font-size: 18px;
	color: #333;
}

.tab-0gmi-create-vt .ul_drag_1 li .drag{ 
	width:90%;
	margin:0 auto;
}


/*IQ*/
.tab-0gmi-create-IQ .tab-content{width:80%;margin-top: 0;}
.tab-0gmi-create-IQ .tab-content .tab-left{margin-bottom: 10px;}
.tab-0gmi-create-IQ .tab-content .tab-left input{text-align: center;width: 150px;}
.tab-0gmi-create-IQ .tab-content .tab-right{ padding:0 20px;}
.tab-0gmi-create-IQ .round{ 
	width:100px;
	height:100px;
	border-radius: 50px;
	background: #E24F00;
	margin:0px auto;
	color:#FFFFFF;
}
.tab-0gmi-create-IQ .round input{
	font-size:35px;
	width:84px !important;
	height:50px;
	line-height: 50px;
	padding: 0px;
	padding:10px;
	margin-top:20px;
	text-align: center;
	background: none;
	color:#FFFFFF !important;
}

/*EQ*/
.tab-0gmi-create-EQ .tab-content{width:90%;}
.tab-0gmi-create-EQ .tab-content .tab-left{width:28%;}
.tab-0gmi-create-EQ .tab-content .tab-right{width:72%;padding-left: 20px;}
.tab-0gmi-create-EQ .tab-content .tab-left input{text-align: center;width: 150px;}
.tab-0gmi-create-EQ .descripation{
	color: #A2A2A2;
	margin-top:20px;
	text-align: left;
}

.tab-0gmi-create-EQ h1{
	margin:80px 20px 0px 0px;
}
.tab-0gmi-create-EQ .EQ_module{
	width:50%;
	padding:0px 22px;
	text-align: center;
}
.tab-0gmi-create-EQ .EQ_module>span{
	display: inline-block;
	width:80%;
}
.tab-0gmi-create-EQ .round{
	width: 80px;
	height:80px;
	border-radius: 40px;
	border:#A2A2A2 2px solid;
	text-align:center;
	margin:0 auto 5px auto;
}
.tab-0gmi-create-EQ .round span{
	font-size:36px;
	font-weight: bold;
	line-height:80px;
}


/*面试问题*/
.tab-0gmi-interview .tab-content{width:85%;}
.tab-0gmi-interview .tab-content .title{font-size:12px;color:#A2A2A2;}
.tab-0gmi-interview .tab-content .text_height{width:100%;height:50px; max-width:100%; max-height: 50px;}
.tab-0gmi-interview .tab-content .table_ul{margin-top:20px;}
.tab-0gmi-interview .tab-content .table_ul li{width: 100%;float: left;}
.tab-0gmi-interview .tab-content .span1{width:15%;float:left;margin-top: 4px;}
.tab-0gmi-interview .tab-content .span2{width:85%;float:right;}
.tab-0gmi-interview .tab-content input{width:100%;color: #454545;}
.tab-0gmi-interview .tab-content button{
	display: block;
	margin:0px auto 10px auto;
	background: none;
	border:none;
	font-size: 30px;
	font-weight: bold;
	color: #A2A2A2;
}

/*类别重要型*/
.tab-0gmi-important .tab-content{width:85%;}


.tab-0gmi-important .but_group{margin:20px 0;}

.tab-0gmi-important .but_group:after{
	height: 0;
	content: "";
	display: block;
	clear: both;
}
.tab-0gmi-important .but_group > div{
	width:150px;
	height:60px;
	line-height: 60px;
	text-align: center;
	color: #E24F00;
	font-size: 18px;
	border: #E24F00 1px solid;
	float: left;
	border-radius: 6px;
	font-weight: bold;
	
}

.tab-0gmi-important .but_group > div.hover{
	cursor: pointer;
}

.tab-0gmi-important .but_group > div.select{
	color:#fff;
	background: #E24F00;
}

.tab-0gmi-important .but_group > div+div{
	margin-left: 30px;
	/*color:#FFFFFF;
	background: #E24F00;
	border:#FFFFFF 1px solid;
		*/
}



/*添加必要条件list*/
.ul_add_condition{ padding:30px 12px;}
.ul_add_condition li{ float: none;padding:10px 0px;}
.ul_add_condition li:after{content: "";height: 0;visibility: hidden;display: block;clear: both;}
.ul_add_condition li span:first-child{float:left;width:140px;}
.ul_add_condition li span:nth-child(2){float:right;color:#E24F00;font-size: 14px;}
.module_style .but_plus{
	display: inline;
	font-size: 20px;
	font-weight: bold;
}
.module_style .but_plus:hover{
	color:#E24F00;
}
.member_search{
	margin:15px 0 0 0;
	width:135px;
	background: #FFFFFF;
	font-size: 12px;
	padding: 0px;
}

#member_search_ico{
	background: url(../../../style/img/member_search.png);
	width:12px;
	height:14px;
	vertical-align: middle;
	margin-left:5px;
	margin-right:0;
	display: inline-block;
}

/*保存按钮*/
.save_but{
	width:150px;
	height:60px;
	line-height: 60px;
	margin:40px auto;
	text-align: center;
	font-weight:bold;
	border:#E24F00 1px solid;
	border-radius:6px;
	color:#FFF;
	background: #E24F00;
	display: block;
	cursor: pointer;
}
.save_but h2{margin:0px;padding:0px;margin:0px;}
.save_but a{text-decoration: none;}
.save_but>span{display: block;}








/*添加必要条件 选则图形*/
.dealBreakClass{
	position: relative;
}
.dealBreakClass .dealBreaktag{
	position: absolute;
	width: 100px;
	height:35px;
	top:-35px;
	left:-15px;
}
.dealBreakClass .dealBreaktagClass{
	position: absolute;
	width:100px;
	height:25px;
	line-height: 25px;
	background: #fff;
	top:0px;
	left:0px;
	text-align: center;
	border:#DEDEDE 1px solid;
	border-radius: 6px;
	color: #E24F00;
	font-weight: bold;
	box-shadow: 3px 3px 2px 2px #E3E3E3;
	letter-spacing: 1px;
	cursor: pointer;
	display: none;
	font-size: 14px !important;
}
.dealBreakClass:hover .dealBreaktagClass{
	display: block;
}
.dealBreakClass .dealBreaktagClass .db_arrow:before{
	position:absolute;
	bottom:-17px;
	left:40px;
	content: "";
	display: block;
	height:0px;
	width:0px;
	border:transparent 1px solid;
	border-width: 8px 6px;
	border-top-color: #DEDEDE;
}
.dealBreakClass .dealBreaktagClass .db_arrow:after{
	position:absolute;
	bottom:-15px;
	left:40px;
	content: "";
	display: block;
	height:0px;
	width:0px;
	border:transparent 1px solid;
	border-width: 8px 6px;
	border-top-color: #FFFFFF;
}
.dealBreakClass .dealBreaktagClass .db_arrow .shadow_arrow{
	position:absolute;
	bottom:-20px;
	left:43px;
	content: "";
	display: block;
	height:0px;
	width:0px;
	border:transparent 1px solid;
	border-width: 8px 6px;
	border-top-color: #E3E3E3;
}





/************************comments************************/
/*joho展示页面,comments编辑按钮*/
.tab_comments{
	background: #454545;
	border-radius: 1px;
	position: relative;
	color: #fff !important;
	text-align: center;
	width:18px !important;
	height:15px !important;
	line-height: 15px !important;
	font-size: 12px !important;
}
.tab_comments:after{
	position: absolute;
	bottom: -6px;
	left:4px;
	content: "";
	display: block;
	height:0px;
	width:0px;
	border:transparent 5px solid;
	border-top-color: #454545;
	border-width: 6px 5px 0px 0px;
}
/*comments 模块*/
.div_comments{
	width:100%;
	margin:15px auto;
	color: #A4A4A4;
	font-size: 13px;
}

.div_comments>.tab-header{
	width:110px;
	border-bottom: #E24F00 5px solid;
	padding:0px 0px 0px 10px;
	height:35px;
	line-height: 35px;
}
.div_comments>.tab-content{
	background: #eeeeee;
	border-radius: 6px;
	margin-top:0px;
	padding-top: 30px;
}
.div_comments>.tab-content>.tab-top{
	top:45px;
	font-size: 15px;
}
.div_comments .addCommentsTextarea{
	padding:5px;
	width:92%;
	margin:0px auto 30px;
	height:110px;
	display: block;
	border-radius: 6px;
	border:#E24F00 1px solid;
	background: #fff;
	padding-bottom: 20px;
	position: relative;
}
.div_comments textarea{
	width:98%;
	margin:0px auto;
	padding: 0px;
	display: block;
	height:70px;
	max-height: 70px;
	max-width: 98%;
	background: #fff;
	overflow: hidden;
	color:#888;
	font-size: 14px;
	line-height: 1.2;
}
.div_comments textarea:focus{
	border:transparent 1px solid;
}

.div_comments li{
	width:92%;
	margin:20px auto;
}

.div_comments .comments_but{
	width:50px;
	height:25px;
	line-height:25px;
	text-align: center;
	background: #eeeeee;
	border-radius: 4px;
	position: absolute;
	right:6px;
	bottom:5px;
	font-size:12px;
	cursor: pointer;
}

.div_comments .addCommentsTextarea .comments_but{
	color:#E24F00;
}

.div_comments .comment_ul .addCommentsTextarea{
	margin:15px 0px;
	width:80%;
	float: right;
}

.div_comments .comment_ul ul{
	margin:0px;
	width:80%;
	float: right;
	padding:0px;
}
.div_comments .comment_ul ul li{
	width:100%;
	margin:8px 0px;
	position: relative;
}
.div_comments .comment_ul ul li:after{
	position:absolute;
	top:50px;
	left:-38px;
	content: "";
	display: block;
	height:0px;
	width:0px;
	border:transparent 20px solid;
	border-right-color: #fff;
}


.div_comments li .tab-content{
	position: relative;
}

.div_comments li textarea{
	height:50px;
	max-height: 50;
}


.div_comments .comment_ul li .tab-top{
	top:4px;
	font-size: 16px;
	background:url(../../../style/img/lajitong.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.div_comments .comment_ul li .tab-content{
	background: #FFFFFF;
	border-radius: 6px;
	padding:20px 0px;
	margin:0px;
}

.div_comments .comment_ul li .tab-left{
	width:180px;
	padding-left: 20px;
}

.div_comments .comment_ul li .tab-right{
	float: none;
	padding-left:160px;
	padding-right:20px;
}

.div_comments .comment_ul .comment_user{
	height:80px;
}

.div_comments .comment_user .user_pic{
	float: left;
	width:70px;
	height:70px;
	text-align: center;
	line-height: 70px;
}
.div_comments .comment_user .user_pic:after{
	content: "1";
	visibility: hidden;
	width:0px;
}

.div_comments .comment_user .user_pic img{
	width: 80%;
	vertical-align: middle;
}
.div_comments .user_info{
	padding-top:15px;
}
.div_comments .user_info span{
	font-size:16px;
	font-weight: bold;
}
.div_comments .user_info small{
	font-weight: normal;
}
.div_comments .comment_ul .comment_date{
	padding-left:10px;
	margin-bottom: 15px;
}
/*该评论的回复*/
.div_comments .child-tag{
	width:100px;
	height:30px;
	bottom:5px;
	left:50%;
	margin-left:-50px;
	text-align: center;
}
.div_comments .child-tag small{
	font-size: 10px;
}
.div_comments .child-tag .ico_img{
	width:13px;
	height:13px;
	margin:0px auto;
}











