<div class="tab-0gmi-group-1">
	<!-- 展示个人信息 begin -->
	<div class="tab tab-0gmi-position" >
		<div class="tab-header">
			<div class="tab-title">职位</div>
		</div>
		<!--has data-->
		<div class="tab-content">
			<div class="tab-left">
				<div class="tab-img">
					<img ng-hide="johoInfo.company.company_logo" src="./recruiters/style/img/default.png"/>
					<img ng-show="johoInfo.company.company_logo" ng-src="{{johoInfo.company.company_logo}}" 
						onerror="javascript:this.src='./recruiters/style/img/default.png';this.onerror=null;"/>
				</div>
				<p class="h2 b">{{johoInfo.company.company_name}}</p>
			</div>
			<div class="tab-right">
				<h1 class="postion_title b text_color_redSauce">{{johoInfo.position.joho_name}}</h1>
				<ul class="position_tag">
					<li class="h2" ng-if="johoInfo.position.salary">{{johoInfo.position.salary | salaryShowFilter}}</li>
					<li class="h2" ng-if="johoInfo.company.industry_name">{{johoInfo.company.industry_name}}</li>
					<li class="h2" ng-if="johoInfo.position.location_name">{{johoInfo.position.location_name}}</li>
					<li class="clear" style="width:0px;height:0px;float:none;"></li>
				</ul>
				<div ng-show="johoInfo.position.job_description" class="mt10">
					<span class="text_color_grey">工作描述：</span>
					<span style="line-height: 25px;">{{johoInfo.position.job_description}}</span>
				</div>
			</div>
		</div>
		<div class="tab-footer tab-tag no_select text_color_redSauce" style="width: auto;bottom: 10px;" ui-sref="recruiters.joho.edit({'job_id':job_id})">查看详情</div>
	</div>
</div>

<p class="f16 text_color_grey loading_data ta_c mt30" ng-if="inculdeHtml.loading">数据加载中...</p>
<div class="tab-0gmi-group-1 no_data" ng-show="(eventList|isEmptyFilter)&&!inculdeHtml.loading">
	<span class="notice">暂无相关的JOHO事件！</span><br/>
</div>


<ul id="joho_notice_detail" ng-show="eventList&&!inculdeHtml.loading">
	<li class="tab-0gmi-group-1" ng-repeat="notice in eventList" ng-class="{'noRead':!notice.is_read}">
		<div class="notice_li_img fl">
			<img class="bradius_50" ng-hide="notice.avatar" src="./candidates/style/img/default.png"/>
			<img class="bradius_50" ng-show="notice.avatar" ng-src="{{notice.avatar}}" 
				onerror="javascript:this.src='./candidates/style/img/default.png';this.onerror=null;"/>
		</div>
		<div class="notice_li_info fl">
			<span class="b" ng-show="!notice.is_read">未查看</span>
			<span class="b" ng-show="notice.is_read">已查看</span>
			<span class="ml20">{{notice.last_modified_time|date:"yyyy-MM-dd  hh:mm"}}</span>
		</div>
		<div class="cboth notice_informations" ng-show="notice.taho_interview_video_image">
			<img class="video_img" ng-src="{{notice.taho_interview_video_image}}" onerror="javascript:this.src=' ';this.onerror=null;"/>
			<div class="notice_buttom" ng-click="showInterview(notice)"></div>
		</div>
		<span class="commentTitle no_select" ng-hide="notice.showComment===0" ng-click="openComment(notice)">评论({{notice.comment_count}})</span>
		<span class="commentTitle no_select commentLoading" ng-show="notice.showComment===0"></span>
		<div class="video_comment_module" ng-if="notice.showComment" style="margin-left: 100px;" video-comment="notice"></div>
	</li>
</ul>
<tm-pagination conf="paginationConf"></tm-pagination>