<div class="tab-0gmi-group-1 tab">
	<div class="tab-header">
		<div class="tab-title">
			<h2 class="b">账户设置</h2>
			<p>以下是您的账户信息，您可以绑定手机和邮箱，设置密码和语言。</p>
		</div>
	</div>
	<ul class="tab-content setting_ul">
		<li ng-show="setting.editSetting != 'mobile_number'">
			<div class='li_l'>手机绑定</div>
			<div class='li_r pl5'>
				<span ng-show="userInfo.mobile_number">{{userInfo.mobile_number}}</span>
				<span ng-hide="userInfo.mobile_number" class="text_color_grey">还未绑定手机</span>
			</div>
			<div class="clear"></div>
			<div class="edit" ng-click="setting.editSetting = 'mobile_number'"></div>
		</li>
		<li class="special"  ng-if="setting.editSetting == 'mobile_number'">
			<div class='li_l'>手机绑定</div>
			<div class='li_r'>
				<form name="formData" ng-submit="submitForm( formData.$valid )" novalidate  autocomplete="off">
					<div class="posrel mb15">
						<input type="text" name="mobile_number" ng-model="update.mobile_number" placeholder="请输入新手机号" 
							ng-pattern="/^(1[3|4|5|8][0-9]\d{8})$/" 
							zero-focus="errorInfo"  zero-focus-code="6011" required/>
						<div class='error' ng-show="formData.mobile_number.$dirty && formData.mobile_number.$error.pattern && !formData.mobile_number.$focused">手机号码输入错误</div>
						<div class='error' ng-show="formData.mobile_number.$zeroError.code == '6011' && !formData.mobile_number.$focused">
		    				{{formData.mobile_number.$zeroError.message}}
		    			</div>
					</div>
					<div class="posrel">
						<input type="text" ng-model="update.code" style="width:150px;" 
							placeholder="输入验证码"  maxlength="6" 
							zero-focus="errorInfo"  zero-focus-code="9000" 
							name="code" ng-pattern="/^[0-9]{6}$/"
							required/>
						<span class='sendCode' ng-click="sendMobile()">{{codeNotice}}</span>
						<div class='error' ng-show="formData.code.$dirty && formData.code.$invalid && !formData.code.$focused">
					    	验证码输入错误
					    </div>
					    <div class='error' ng-show="formData.code.$zeroError.code == '9000' && !formData.code.$focused">
					    	{{formData.code.$zeroError.message}}
					    </div>
					</div>
					<div class="form_but_group">
						<input type="submit" id="toho_id_basic_but_submit" class="form_but form_but_submit" value="确认" />
						<div class="form_but form_but_cancel" ng-click="cancelForm(formData)">取消</div>
					</div>
				</form>
			</div>
			<div class="clear"></div>
		</li>
		<li ng-show="setting.editSetting != 'email'">
			<div class='li_l'>邮箱绑定</div>
			<div class='li_r ml5' ng-show="userInfo.email">{{userInfo.email}}</div>
			<div class='li_r ml5 text_color_grey' ng-show="!userInfo.email">还未绑定邮箱</div>
			<div class="clear"></div>
			<div class="edit" ng-click="setting.editSetting = 'email'"></div>
		</li>
		<li class="special" ng-if="setting.editSetting == 'email'">
			<div class='li_l'>邮箱绑定</div>
			<div class='li_r'>
				<form name="formData" ng-submit="submitForm( formData.$valid )" novalidate  autocomplete="off">
					<div class="posrel mb15">
						<input type="text" name="email" ng-model="update.email" placeholder="请输入新的邮箱号" 
							ng-pattern="/^([^@\s]+@[^@\.\s]+(\.[^@\.\s]+)+)$/" 
							zero-focus="errorInfo"  zero-focus-code="6004" required/>
						<div class='error' ng-show="formData.email.$dirty && formData.email.$error.pattern && !formData.email.$focused">邮箱输入错误</div>
						<div class='error' ng-show="formData.email.$zeroError.code == '6004' && !formData.email.$focused">
		    				{{formData.email.$zeroError.message}}
		    			</div>
					</div>
					<div class="posrel">
						<input type="text" ng-model="update.code" style="width:150px;" 
							placeholder="输入验证码" zero-focus="errorInfo"  zero-focus-code="8000" 
							name="code" required/>
						<span ng-show="update.mailCodeEnable" class='sendCode' ng-click="sendEmail()">发送验证码</span>
						<span ng-show="!update.mailCodeEnable" class="goToEmail" to-email-url="update.email">跳转到邮箱</span>
						
						<div class='error' ng-show="formData.code.$dirty && formData.code.$invalid  && !formData.code.$focused">
					    	验证码输入错误
					    </div>
					    <div class='error' ng-show="formData.code.$zeroError.code == '8000' && !formData.code.$focused">
					    	{{formData.code.$zeroError.message}}
					    </div>
					</div>
					<div class="form_but_group">
						<input type="submit" id="toho_id_basic_but_submit" class="form_but form_but_submit" value="确认" />
						<div class="form_but form_but_cancel" ng-click="cancelForm(formData)">取消</div>
					</div>
				</form>
			</div>
			<div class="clear"></div>
		</li>
		<li ng-show="setting.editSetting != 'change_password'">
			<div class='li_l'>密码修改</div>
			<div class='li_r ml5'></div>
			<div class="clear"></div>
			<div class="edit" ng-click="setting.editSetting = 'change_password'"></div>
		</li>
		<li class="special" ng-if="setting.editSetting == 'change_password'">
			<div class='li_l'>密码修改</div>
			<div class='li_r'>
				<form name="formData" ng-submit="submitForm( formData.$valid )" novalidate  autocomplete="off">
					<div class="posrel">
						<input type="password" name="oldPwd" ng-model="update.oldPwd"   placeholder="请输入原密码" zero-focus="errorInfo" zero-focus-code="6016" required />
						<div class='error' ng-show="formData.oldPwd.$dirty && formData.oldPwd.$error.required && !formData.oldPwd.$focused">请输入密码</div>
			    		<div class='error' ng-show="formData.oldPwd.$zeroError.code == '6016' && !formData.oldPwd.$focused && update.oldPwd">
		    				{{formData.oldPwd.$zeroError.message}}
		    			</div>
					</div>
					<div class="posrel mt10">
						<input name="newPwd" type="password" ng-model="update.newPwd"  placeholder="请输入新密码" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/" zero-focus required />
						<div class='error' ng-show="formData.newPwd.$dirty && formData.newPwd.$error.required && !formData.newPwd.$focused">请输入密码</div>
			    		<div class='error' ng-show="formData.newPwd.$dirty && formData.newPwd.$error.pattern && !formData.newPwd.$focused">密码需6~20位字母与数字</div>
					</div>
					<div class="posrel mt10">
						<input name="rePwd" type="password" ng-model="update.rePwd"  placeholder="请确认新密码" zero-focus required />
						<div class='error' ng-show="formData.rePwd.$dirty && formData.rePwd.$error.required && !formData.rePwd.$focused">请输入确认密码</div>
			    		<div class='error' ng-show="formData.rePwd.$dirty && update.rePwd != update.newPwd && !formData.rePwd.$focused">密码不一致</div>
					</div>
					<div class="form_but_group">
						<input type="submit" id="toho_id_basic_but_submit" class="form_but form_but_submit" value="确认"/>
						<div class="form_but form_but_cancel" ng-click="cancelForm(formData)">取消</div>
					</div>
				</form>
			</div>
			<div class="clear"></div>
		</li>
		<li ng-show="setting.editSetting != 'language'">
			<div class='li_l'>语言设置</div>
			<div class='li_r ml5'>中文</div>
			<div class="clear"></div>
			<div class="edit" ng-click="setting.editSetting = 'language'"></div>
		</li>
		<li class="special" ng-if="setting.editSetting == 'language'">
			<div class='li_l'>语言设置</div>
			<div class='li_r'>
				<form name="formData" ng-submit="submitForm(true)" novalidate  autocomplete="off">
					<input type="radio" id="language" checked="checked"/><label for="language">中文</label>
					<div class="form_but_group">
						<input type="submit" id="toho_id_basic_but_submit" class="form_but form_but_submit" value="确认"/>
						<div class="form_but form_but_cancel" ng-click="cancelForm(formData)">取消</div>
					</div>
				</form>
			</div>
			<div class="clear"></div>
		</li>
	</ul>
</div>








