<div id="match_detail">
	<div>
		<h2 class="fl text_color_grey ml10" ng-show="selectShowInfo=='match'">差距分析</h2>
		<h2 class="fl text_color_grey ml10" ng-hide="selectShowInfo=='match'">JOHO详情</h2>
		<input ng-click="changeRecommendationShowStatus()" type="button" style="background-color: #e24f00;border: 1px #999999 solid;border-radius: 20px;color: white;height: 2em;line-height:2em;margin: 5px;width: 80px;"
			 class="fr ml40 mt5 mr10" value="我要自荐"></input>
		<div class="switch work_switch fr" style="margin-top: 5px !important; margin-right: 20px !important;">
			<input type="checkbox" name="toggle" checked="checked" ng-model="selectShowInfo" ng-true-value="match" ng-false-value="joho" ng-change="refush()">
			<label for="toggle"><i></i></label>
			<span class="switch_span switch_left">差距分析</span>
		</div>		
		<div class="clear"></div>
	</div>
	
	<div ng-show="bool" style="position: absolute;z-index:1000;width:642px;height: 562px;background-image: url(candidates/style/img/envelop.png);background-repeat:no-repeat">
		<div>
			<label style="width: 40px;height: 40px;float: right;margin-right: 75px;margin-top: 35px;" ng-click="changeRecommendationShowStatus()"></label>
		</div>
		<div style="padding-top: 60px;">
			
			<h2 class="b" style="margin: 0px 260px;text-align: center;">自荐信</h2>
			<div style="margin: 20px 0;">
				<form name="selfRecommendationForm" ng-submit="selfRecommendation()" autocomplete="off" novalidate>
					<div style="text-align: center;" class="text_color_redSauce b f16">
						我愿意用&nbsp;<input ng-model="selfRecommendationFormData.used_rice" style="height: 4em;line-height: 4em;border-radius:20px;color: #e24f00;background-color: #F9F2F4;" type="text" placeholder="5" />&nbsp;克米
					</div>
					<div class="fr" style="margin-right: 234px;">
						<small class="text_color_redSauce b">当前拥有{{riceCount}}克米</small>
					</div><br />
					<div style="text-align: center;height: 100px;">
						<span class="text_color_grey f16 f15">(输入你愿意付出的欲望点数,来获得自荐的机会)</span>
						<textarea placeholder="给HR的留言（50个字以内）" ng-model="selfRecommendationFormData.reason" style="color: #e24f00;height: 3em;line-height: 3em;overflow: hidden;border-radius:20px;width: 400px;margin: 10px auto 0 auto;background-color: #F9F2F4;outline:none;resize: none;"/>
						<input type="reset" value="取消" class="text_color_redSauce b" style="margin-left: 320px;padding: 0;margin-top: 0;border: none;background:none"></input>
					</div>
					
					<div style="margin-top: 160px;text-align: center;">
						<input style="background-color: #e24f00;color: whitesmoke;padding: 10px;font-size: 16px;border: none;border-radius:10px;" type="submit" value="我要自荐"/>
						<div class="text_color_grey mt10">当前职位已有<spn class="text_color_redSauce">{{johoReceiveRecommendation}}</spn>人自荐</div>
					</div>
						
				</form>
				
			</div>
		</div>
	</div>
	
	<div ng-show="selectShowInfo=='match'">
		<!--  ====================================  -->
		<!--  ======== joho 基本信息 module  ========  -->
		<!--  ====================================  -->
		<div class="tab-0gmi-group-1">
			<!-- 展示个人信息 begin -->
			<div class="tab tab-0gmi-match">
				<!--has data-->
				<div class="tab-content">
					<div class="tab-img fl">
						<img ng-hide="johoInfo.company.company_logo" src="./recruiters/style/img/default.png"/>
						<img ng-show="johoInfo.company.company_logo" ng-src="{{johoInfo.company.company_logo}}" 
							onerror="javascript:this.src='./recruiters/style/img/default.png';this.onerror=null;"/>
						<p class="h2 pointer" ui-sref="candidates.opportunities.cohoDetail({coho_id:johoInfo.position.company_id})">{{johoInfo.company.company_name}}</p>
					</div>
					<div class="tab-center">
						<h2 class="text_color_redSauce mt10">比较</h2>
						<div class="totleScore">{{score.totalScore|percentFilter}}</div>
						<div class="f13 text_color_grey">统一符合度</div>
					</div>
					
					<div class="tab-img fr">
						<img class="bradius_50" ng-hide="tahoInfo.basic.avatar_url" src="./candidates/style/img/default.png"/>
						<img class="bradius_50" ng-show="tahoInfo.basic.avatar_url" ng-src="{{tahoInfo.basic.avatar_url}}" 
							onerror="javascript:this.src='./candidates/style/img/default.png';this.onerror=null;"/>
						<p class="h2">{{tahoInfo.basic.name}}</p>
					</div>
					
					<div class="clear"></div>
					<ul class="dealbreak_ul">
						<li ng-repeat="dealbreak in dealBreakers" ng-if="dealbreak.status==1">
							{{dealbreak.value}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		
		<!--  ==================个人信息==================  -->
		<div class="tab-0gmi-group-2">
			<!--joho 展示个人信息 begin -->
			<div class="tab tab-0gmi-position">
				<div class="tab-header">
					<div class="tab-title">个人信息</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.position|isEmptyFilter">
					<div class="nothing_prompt mt60">无条件要求</div>
				</div>
				
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.position|isEmptyFilter)">
					<dl class="basic_dl">
						<dt>年薪：</dt>
						<dd>{{johoInfo.position.salary|addTagFilter:'万'}}</dd>
						<dt class="cboth">工作地点：</dt>
						<dd>{{johoInfo.position.location_name}}</dd>
						<dt class="cboth">性别：</dt>
						<dd>{{johoInfo.position.gender|genderShowFromTag}}</dd>
						<dt class="cboth">出差比例：</dt>
						<dd>{{johoInfo.position.travel_type_name}}</dd>
						<dt class="cboth">职位：</dt>
						<dd>{{johoInfo.position.position_name}}</dd>
						<dt class="cboth">年龄：</dt>
						<dd ng-hide="johoInfo.position.age|isEmptyFilter">{{johoInfo.position.age}}岁</dd>
						<dd ng-show="johoInfo.position.age|isEmptyFilter">不限</dd>
						<dt class="cboth">公司类型：</dt>
						<dd>{{johoInfo.company.company_type_name}}</dd>
						<dt class="cboth">行业类型：</dt>
						<dd>{{johoInfo.company.industry_name}}</dd>
						<dt class="cboth">工作类型：</dt>
						<dd>{{johoInfo.position.employment_type_name}}</dd>
					</dl>
				</div>
			</div>
			
			<!--joho 展示个人信息 begin -->
			<div class="tab tab-0gmi-position">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo.basic|isEmptyFilter">
					<div class="nothing_prompt mt60">还未添加个人信息</div>
				</div>
				
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo.basic|isEmptyFilter)">
					<dl class="basic_dl">
						<dt>年薪：</dt>
						<dd>{{tahoInfo.basic.pref_salary|addTagFilter:'万'}}</dd>
						<dt class="cboth">工作地点：</dt>
						<dd>{{tahoInfo.basic.locations[0].location_name}}</dd>
						<dt class="cboth">性别：</dt>
						<dd>{{tahoInfo.basic.gender|genderShowFromTag}}</dd>
						<dt class="cboth">出差比例：</dt>
						<dd>{{tahoInfo.basic.travel_type_name}}</dd>
						<dt class="cboth">职位：</dt>
						<dd>{{tahoInfo.basic.positions[0].position_name}}</dd>
						<dt class="cboth">年龄：</dt>
						<dd ng-hide="tahoInfo.basic.birth|isEmptyFilter">{{tahoInfo.basic.birth|dateToAgeFilter}}岁</dd>
						<dd ng-show="tahoInfo.basic.birth|isEmptyFilter">未知</dd>
						<dt class="cboth">公司类型：</dt>
						<dd>{{tahoInfo.basic.company_type_name}}</dd>
						<dt class="cboth">行业类型：</dt>
						<dd>{{tahoInfo.basic.industries[0].industry_name}}</dd>
						<dt class="cboth">工作类型：</dt>
						<dd>{{tahoInfo.basic.employment_type_name}}</dd>
					</dl>
				</div>
			</div>
			<div class="score">{{score.basciInformationScore|percentFilter}}</div>
		</div>
		
		
		<!--  ==================教育==================  -->
		<div class="tab-0gmi-group-2">
			<!-- joho教育 -->
			<div class="tab tab-0gmi-education">
				<div class="tab-header">
					<div class="tab-title">教育</div>
				</div>
			
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.education|isEmptyFilter">
					<div class="nothing_prompt mt60">无条件要求</div>
				</div>
			
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.education|isEmptyFilter)">
					<h1 class="text_color_redSauce b no_first_label" ng-show="johoInfo.education.university_types && johoInfo.education.university_types.length>0">
						学校:
						<span ng-repeat="university_type in johoInfo.education.university_types">
							<label>,</label>
							{{university_type.university_type_name}}
						</span>
					</h1>
					<h1 class="text_color_redSauce slash">
						<span>{{johoInfo.education.education_level_name}}</span>
						<span ng-if="johoInfo.education.education_level_name && johoInfo.education.pref_edu_level_name">/</span>
						<span>{{johoInfo.education.pref_edu_level_name}}</span>
					</h1>
						<h2 class="text_color_grey ta_c">
						{{johoInfo.education.major.major_name}}
					</h2>
				</div>
			</div>
			<!-- taho教育 -->
			<div class="tab tab-0gmi-education">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo.educations|isEmptyFilter">
					<div class="nothing_prompt mt60">还未添加教育信息</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo.educations|isEmptyFilter)">
					<ul class="education_ul" >
						<li ng-repeat = "education in tahoInfo.educations">
							<h1 class="text_color_redSauce mnone">{{education.university_name}}</h1>
							<div class="f12 text_color_grey">{{education.start_time|dateHandleFilter:education.end_time}}</div>
							<div class="text_color_grey">{{education.pref_edu_level_name}}{{education.education_level_name}}&nbsp;{{education.majors[0].major_name}}</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="score">{{score.edcuationScore|percentFilter}}</div>
		</div>
		
		

		<!--  ================工作经验================== -->
		<div class="tab-0gmi-group-1">
		    <!-- 理想工作经验 -->
		    <div class="tab tab-0gmi-education">
		  	<!--编辑图标-->
				<div class="tab-header">
					<div class="tab-title">工作经验</div>
				</div>
				
				<!--no data-->
				<div class="tab-content" ng-show="((tahoInfo.work_experiences|isEmptyFilter) && (johoInfo.work_experience|isEmptyFilter))">
					<div class="nothing_prompt mt60">无条件要求</div>
				</div>
				<div class="score" ng-show="!((tahoInfo.work_experiences|isEmptyFilter) && (johoInfo.work_experience|isEmptyFilter))" style="position: static;margin:10px auto;">{{score.workExperienceScore|percentFilter}}</div>
				<!--has data-->
				<div class="tab-content" ng-show="!((tahoInfo.work_experiences|isEmptyFilter) && (johoInfo.work_experience|isEmptyFilter))">
					<div class="ta_c" work-experience-compare compare-taho-data="tahoInfo.work_experiences" compare-joho-data="johoInfo.work_experience"></div>
				</div>
			</div>
		</div>
		
		<!--  =================语言======================  -->
		<div class="tab-0gmi-group-2">
		    
		    <!-- joho语言能力 -->
		  	<div class="tab tab-0gmi-language">
				
				<div class="tab-header">
					<div class="tab-title">语言能力</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.languages|isEmptyFilter">
					<div class="img_style_prompt ico_img_language"></div>
					<div class="nothing_prompt">无条件要求</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.languages|isEmptyFilter)">
					<ul item="2">
						<li ng-repeat="language in johoInfo.languages">
							<h2>{{language.language_name}}<br/>
								<small>{{language.language_level_name}}</small>
							</h2>
						</li>
					</ul>
				</div>
			</div>
			
			 <!-- taho语言能力 -->
		  	<div class="tab tab-0gmi-language">
				
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo.languages|isEmptyFilter">
					<div class="img_style_prompt ico_img_language"></div>
					<div class="nothing_prompt">还未添加语言能力</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo.languages|isEmptyFilter)">
					<ul item="2">
						<li ng-repeat="language in tahoInfo.languages">
							<h2>{{language.language_name}}<br/>
								<small>{{language.language_level_name}}</small>
							</h2>
						</li>
					</ul>
				</div>
			</div>
			
		  	<div class="score">{{score.languageScore|percentFilter}}</div>
		  	
		</div>
		
		
		<!--  =================技能======================  -->
		<div class="tab-0gmi-group-2">
		    
		    <!-- joho技能 -->
		  	<div class="tab tab-0gmi-skill">
		
				<div class="tab-header">
					<div class="tab-title">技能</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.skills|isEmptyFilter">
					<div class="img_style_prompt ico_img_skill"></div>
					<div class="nothing_prompt">无条件要求</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.skills|isEmptyFilter)">
					<ul class="ul_list">
						<li ng-repeat="skill in johoInfo.skills">{{skill.skill_name}}</li>
					</ul>
				</div>
			</div>
			
			<!-- taho技能 -->
		  	<div class="tab tab-0gmi-skill">
		
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo.skills|isEmptyFilter">
					<div class="img_style_prompt ico_img_skill"></div>
					<div class="nothing_prompt">还未添加任何技能</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo.skills|isEmptyFilter)">
					<ul class="ul_list">
						<li ng-repeat="skill in tahoInfo.skills">{{skill.skill_name}}</li>
					</ul>
				</div>
			</div>
			
			<div class="score">{{score.skillScore|percentFilter}}</div>
			
		</div>
		
		
		
		<!--  =================证书====================  -->
		<div class="tab-0gmi-group-2">
		    
			<!-- joho证书 -->
		  	<div class="tab tab-0gmi-certificate">
		  		
				<div class="tab-header">
					<div class="tab-title">证书</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.certificates|isEmptyFilter">
					<div class="img_style_prompt ico_img_certificate"></div>
					<div class="nothing_prompt">无条件要求</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.certificates|isEmptyFilter)">
					<ul class="ul_list ul_ico">
						<li ng-repeat="certificate in johoInfo.certificates">
							<div class="li_ico"><img ng-src="{{certificate.certificate_logo}}"/></div>
							<span>{{certificate.certificate_name}}</span>
						</li>
					</ul>
				</div>
			</div>
			
			<!-- taho证书 -->
		  	<div class="tab tab-0gmi-certificate">
		  		
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo.certificates|isEmptyFilter">
					<div class="img_style_prompt ico_img_certificate"></div>
					<div class="nothing_prompt">还未添加任何证书</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo.certificates|isEmptyFilter)">
					<ul class="ul_list ul_ico">
						<li ng-repeat="certificate in tahoInfo.certificates">
							<div class="li_ico"><img ng-src="{{certificate.certificate_logo}}"/></div>
							<span>{{certificate.certificate_name}}</span>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="score">{{score.certificationScore|percentFilter}}</div>
			
		</div>
		
		
		<!--  =================动机====================  -->
		<div class="tab-0gmi-group-2">
		    
			<!-- joho动机 -->
	    	<div class="tab tab-0gmi-motivation">
				<div class="tab-header">
					<div class="tab-title">动机</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.motivation|isEmptyFilter">
					<div class="nothing_prompt mt60">无条件要求</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.motivation|isEmptyFilter)">
					<div class="tab-img">
						<img ng-src="{{johoInfo.motivation.motivation_picture}}"/>
					</div>
					<h1>{{johoInfo.motivation.motivation_name}}</h1>
					<div class="motivation_show">
						<span>{{johoInfo.motivation.motivation_item1_name}}</span>
						<span>{{johoInfo.motivation.motivation_item2_name}}</span>
						<span>{{johoInfo.motivation.motivation_item3_name}}</span>
					</div>
				</div>
			</div>
			
			<!-- taho动机 -->
	    	<div class="tab tab-0gmi-motivation">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-hide="tahoInfo.motivation && tahoInfo.motivation.motivation_id">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="tahoInfo.motivation && tahoInfo.motivation.motivation_id">
					<div class="tab-img">
						<img ng-src="{{tahoInfo.motivation.motivation_picture}}"/>
					</div>
					<h1>{{tahoInfo.motivation.motivation_name}}</h1>
					<div class="motivation_show">
						<span>{{tahoInfo.motivation.motivation_item1_name}}</span>
						<span>{{tahoInfo.motivation.motivation_item2_name}}</span>
						<span>{{tahoInfo.motivation.motivation_item3_name}}</span>
					</div>
				</div>
			</div>
			
			<div class="score">{{score.motivationScore|percentFilter}}</div>
			
		</div>
		
		<!--  =================价值观====================  -->
		<div class="tab-0gmi-group-2">
		    
			<!--joho 价值观 -->
		  	<div class="tab tab-0gmi-values">
				<div class="tab-header">
					<div class="tab-title">价值观</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.value|isEmptyFilter">
					<div class="nothing_prompt mt60">无条件要求</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-if="!(johoInfo.value|isEmptyFilter)">
					<div id="valueShow" value-show width="140" height="140" ng-model='johoInfo.value'></div>
				</div>
			</div>
			
			<!--taho 价值观 -->
		  	<div class="tab tab-0gmi-values">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-hide="tahoInfo.value && tahoInfo.value.value_id">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-if="tahoInfo.value && tahoInfo.value.value_id">
					<div id="valueShow" value-show width="140" height="140" ng-model='tahoInfo.value'></div>
				</div>
			</div>
			
			<div class="score">{{score.valueTestScore|percentFilter}}</div>
			
		</div>
		
		<!--  =================iq====================  -->
		<div class="tab-0gmi-group-2">
		    <!--joho iq -->
			<div class="tab tab-0gmi-IQEQ">
				<div class="tab-header">
					<div class="tab-title">IQ</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.iq|isEmptyFilter">
					<div class="nothing_prompt mt60">无条件要求</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.iq|isEmptyFilter)">
					<div class="tab-left">
						<div class="round">
							<span>{{johoInfo.iq.iq_value}}</span>
							<br/>
							<span>IQ</span>
						</div>
					</div>
					<div class="tab-right">
						<h1 class="b text_color_redSauce">{{johoInfo.iq.iq_level}}</h1>
						<p class="text_color_grey marketing">{{johoInfo.iq.iq_description}}</p>
					</div>
				</div>
			</div>
			
			<!--taho iq -->
			<div class="tab tab-0gmi-IQEQ">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo.iq|isEmptyFilter">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo.iq|isEmptyFilter)">
					<div class="tab-left">
						<div class="round">
							<span>{{tahoInfo.iq.iq_value}}</span>
							<br/>
							<span>IQ</span>
						</div>
					</div>
					<div class="tab-right">
						<h1 class="b text_color_redSauce">{{tahoInfo.iq.iq_level}}</h1>
						<p class="text_color_grey marketing">{{tahoInfo.iq.iq_description}}</p>
					</div>
				</div>
			</div>
			
			<div class="score">{{score.iqScore|percentFilter}}</div>
		
		</div>
		
		<!--  =================思维模式====================  -->
		<div class="tab-0gmi-group-2">
		    
			<!-- joho思维倾向 -->
			<div class="tab tab-0gmi-thinkingbehavior">
				<div class="tab-header">
					<div class="tab-title">思维模式</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.thinking_pattern|isEmptyFilter">
					<div class="nothing_prompt mt60">无条件要求</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.thinking_pattern|isEmptyFilter)">
					<div class="tab-img">
						<img ng-src="{{johoInfo.thinking_pattern.thinking_pattern_picture}}">
					</div>
					<h1 class="b text_color_redSauce">{{ johoInfo.thinking_pattern | showThinkingPatternName }}</h1>
					<p class="mb20">{{johoInfo.thinking_pattern.thinking_pattern_description}}</p>
				</div>
			</div>
			
			<!-- taho思维倾向 -->
			<div class="tab tab-0gmi-thinkingbehavior">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-hide="tahoInfo.thinking_pattern && tahoInfo.thinking_pattern.thinking_pattern_id">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="tahoInfo.thinking_pattern && tahoInfo.thinking_pattern.thinking_pattern_id">
					<div class="tab-img">
						<img ng-src="{{tahoInfo.thinking_pattern.thinking_pattern_picture}}">
					</div>
					<h1 class="b text_color_redSauce">{{ tahoInfo.thinking_pattern | showThinkingPatternName }}</h1>
					<p class="mb20">{{tahoInfo.thinking_pattern.thinking_pattern_description}}</p>
				</div>
			</div>
			
			<div class="score">{{score.thinkingPatternScore|percentFilter}}</div>
			
		</div>
		
		<!--  =================行为模式====================  -->
		<div class="tab-0gmi-group-2">
		    
			<!--joho 行为模式 -->
			<div class="tab tab-0gmi-thinkingbehavior">
				<div class="tab-header">
					<div class="tab-title">行为模式</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.behavior_style|isEmptyFilter">
					<div class="nothing_prompt mt60">无条件要求</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.behavior_style|isEmptyFilter)">
					<div class="tab-img">
						<img ng-src="{{johoInfo.behavior_style.behavior_style_picture}}">
					</div>
					<h1 class="b text_color_redSauce">{{johoInfo.behavior_style.behavior_style_name}}</h1>
					<p class="mb20">{{johoInfo.behavior_style.behavior_style_description}}</p>
				</div>
			</div>
			
			<!--taho 行为模式 -->
			<div class="tab tab-0gmi-thinkingbehavior">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-hide="tahoInfo.behavior_style && tahoInfo.behavior_style.behavior_style_id">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="tahoInfo.behavior_style && tahoInfo.behavior_style.behavior_style_id">
					<div class="tab-img">
						<img ng-src="{{tahoInfo.behavior_style.behavior_style_picture}}">
					</div>
					<h1 class="b text_color_redSauce">{{tahoInfo.behavior_style.behavior_style_name}}</h1>
					<p class="mb20">{{tahoInfo.behavior_style.behavior_style_description}}</p>
				</div>
			</div>
			
			<div class="score">{{score.behaviorStyleScore|percentFilter}}</div>
			
		</div>
		
		<!--  =================eq====================  -->
		<div class="tab-0gmi-group-2">
		    <!--joho eq -->
			<div class="tab tab-0gmi-IQEQ">
				<div class="tab-header">
					<div class="tab-title">EQ</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.eq|isEmptyFilter">
					<div class="nothing_prompt mt60">无条件要求</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.eq|isEmptyFilter)">
					<div class="tab-left">
						<div class="round">
							<span class="test">{{johoInfo.eq.eq_value}}</span>
							<br/>
							<span>EQ</span>
						</div>
					</div>
					<div class="tab-right">
						<h1 class="b text_color_redSauce">{{johoInfo.eq.eq_level}}</h1>
						<p class="text_color_grey marketing">{{johoInfo.eq.eq_description}}</p>
					</div>
				</div>
			</div>
			<!--taho eq -->
			<div class="tab tab-0gmi-IQEQ">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo.eq|isEmptyFilter">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo.eq|isEmptyFilter)">
					<div class="tab-left">
						<div class="round">
							<span>{{tahoInfo.eq.eq_value}}</span>
							<br/>
							<span>EQ</span>
						</div>
					</div>
					<div class="tab-right">
						<h1 class="b text_color_redSauce">{{tahoInfo.eq.eq_level}}</h1>
						<p class="text_color_grey marketing">{{tahoInfo.eq.eq_description}}</p>
					</div>
				</div>
			</div>
			<div class="score">{{score.eqScore|percentFilter}}</div>
		</div>
	</div>
	
	
	<div ng-hide="selectShowInfo=='match'">
		<!--  ====================================  -->
		<!--  ======== joho 基本信息 module  ========  -->
		<!--  ====================================  -->
		<!--**********************show begin************************-->
		<div class="tab-0gmi-group-1">
			<!-- 展示个人信息 begin -->
			<div class="tab tab-0gmi-position">
				<div class="tab-header">
					<div class="tab-title">职位</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.position|isEmptyFilter">
					<div class="nothing_prompt mt60">还未添加职位信息</div>
				</div>
				
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.position|isEmptyFilter)">
					<div class="tab-left">
						<div class="tab-img">
							<img ng-hide="johoInfo.company.company_logo" src="./recruiters/style/img/default.png"/>
							<img ng-show="johoInfo.company.company_logo" ng-src="{{johoInfo.company.company_logo}}" 
								onerror="javascript:this.src='./recruiters/style/img/default.png';this.onerror=null;"/>
						</div>
						<p class="h2 b pointer" ui-sref="candidates.opportunities.cohoDetail({coho_id:johoInfo.position.company_id})">{{johoInfo.company.company_name}}</p>
					</div>
					<div class="tab-right">
						<h1 class="postion_title b text_color_redSauce">{{johoInfo.position.joho_name}}</h1>
						<ul class="position_tag">
							<li class="h2" ng-if="johoInfo.position.salary">{{johoInfo.position.salary | salaryShowFilter}}</li>
							<li class="h2" ng-if="johoInfo.company.industry_name">{{johoInfo.company.industry_name}}</li>
							<li class="h2" ng-if="johoInfo.position.location_name">{{johoInfo.position.location_name}}</li>
						</ul>
						<p class="text_color_grey cl">{{johoInfo.position.job_description}}</p>
					</div>
				</div>
				<div class="tab-footer tab-tag no_select" ng-click="positionShow = !positionShow" 
					ng-class="{true:'ico_img_extened_up',false:'ico_img_extened_down'}[positionShow == true]"
					ng-show="!(johoInfo.position|isEmptyFilter)">
				</div>
			</div>
			<!--show more-->
			<div class="tab tab-0gmi-position-more" ng-if="positionShow">
				<table>
					<tr>
						<td><span>类型：</span><span>{{johoInfo.company.company_type_name}}</span></td>
						<td class="special" rowspan="2">
							<span>产品与服务：</span>
							<div>{{johoInfo.company.company_introduce}}</div>
						</td>
						<td><span>性别：</span><span>{{johoInfo.position.gender|genderShowFromTag}}</span></td>
					</tr>
					<tr>
						<td><span>专业：</span><span>{{johoInfo.company.industry_name}}</span></td>
						<td><span>年龄：</span><span>{{johoInfo.position.age|addTagFilter:'岁'}}</span></td>
					</tr>
					<tr>
						<td><span>大小：</span><span>{{johoInfo.company.company_size_type}}</span></td>
						<td><span>出差：</span><span>{{johoInfo.position.travel_type_name}}</span></td>
						<td></td>
					</tr>
				</table>
			</div>
			<div class="clearfix"></div>
		</div>
		<!--*******************show end***********************-->
		
		<!--  ==================================== -->
		<!--  ======== 工作经历&教育 module  ========  -->
		<!--  ==================================== -->
		<!--*********show begin ***********-->
		<!--教育&理想工作经验 begin-->
		<div class="tab-0gmi-group-2">
		  <!-- 教育 -->
		  <div class="tab tab-0gmi-education">
				<div class="tab-header">
					<div class="tab-title">教育</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.education|isEmptyFilter">
					<div class="nothing_prompt mt60">无条件要求</div>
				</div>
				
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.education|isEmptyFilter)">
					<h1 class="text_color_redSauce b no_first_label" ng-show="johoInfo.education.university_types && johoInfo.education.university_types.length>0">学校:
						<span ng-repeat="university_type in johoInfo.education.university_types">
							<label>,</label>
							{{university_type.university_type_name}}
						</span>
					</h1>
					<h1 class="text_color_redSauce slash">
						<span>{{johoInfo.education.education_level_name}}</span>
						<span ng-if="johoInfo.education.education_level_name && johoInfo.education.pref_edu_level_name">/</span>
						<span>{{johoInfo.education.pref_edu_level_name}}</span>
					</h1>
					<h2 class="text_color_grey ta_c">
						{{johoInfo.education.major.major_name}}
					</h2>
				</div>
			</div>
			
		    <!-- 理想工作经验 -->
		    <div class="tab tab-0gmi-experience">
				<div class="tab-header">
					<div class="tab-title">理想工作经验</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.work_experience|isEmptyFilter">
					<div class="nothing_prompt mt60">无条件要求</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.work_experience|isEmptyFilter)">
					<div class="tab-left">
						<div class="tab-img">
							<h1 class="text_color_redSauce b test">{{johoInfo.work_experience.duration}}<sub>+</sub></h1>
						</div>
						<p class="h1 text_color_redSauce">经验</p>
					</div>
					<div class="tab-right">
						<h1 class="b mt5">{{johoInfo.work_experience.position_name}}</h1>
						<h2 class="text_color_grey mt15">{{johoInfo.work_experience.industry_name}}</h2>
						<h2 class="text_color_grey mt15">{{johoInfo.work_experience.company_type_name}}</h2>
					</div>
				</div>
			</div>
			
		</div>
		<!--教育&理想工作经验 end-->
		<!--*********show end ***********-->
		
		<!--  =======================================  -->
		<!--  ======== 语言能力&技能&证书 module  ========  -->
		<!--  =======================================  -->
		<!--*********show begin ***********-->
		<div class="tab-0gmi-group-3">
		    <!-- 语言能力 -->
		  	<div class="tab tab-0gmi-language">
				<div class="tab-header">
					<div class="tab-title">语言能力</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.languages|isEmptyFilter">
					<div class="img_style_prompt ico_img_language"></div>
					<div class="nothing_prompt">无条件要求</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.languages|isEmptyFilter)">
					<ul item="2">
						<li ng-repeat="language in johoInfo.languages">
							<h2>{{language.language_name}}<br/>
								<small>{{language.language_level_name}}</small>
							</h2>
						</li>
					</ul>
				</div>
			</div>
			
		  	<!-- 技能 -->
		  	<div class="tab tab-0gmi-skill">
				<div class="tab-header">
					<div class="tab-title">技能</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.skills|isEmptyFilter">
					<div class="img_style_prompt ico_img_skill"></div>
					<div class="nothing_prompt">无条件要求</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.skills|isEmptyFilter)">
					<ul class="ul_list">
						<li ng-repeat="skill in johoInfo.skills">{{skill.skill_name}}</li>
					</ul>
				</div>
			</div>
			
			<!-- 证书 -->
		  	<div class="tab tab-0gmi-certificate">
				<div class="tab-header">
					<div class="tab-title">证书</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="johoInfo.certificates|isEmptyFilter">
					<div class="img_style_prompt ico_img_certificate"></div>
					<div class="nothing_prompt">无条件要求</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(johoInfo.certificates|isEmptyFilter)">
					<ul class="ul_list ul_ico">
						<li ng-repeat="certificate in johoInfo.certificates">
							<div class="li_ico"><img ng-src="{{certificate.certificate_logo}}"/></div>
							<span>{{certificate.certificate_name}}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--*********show end ***********-->
		
		<!--  =======================================  -->
		<!--  ======== joho motivation&value ========  -->
		<!--  =======================================  -->
		<!--********************************show动机&价值观 begin********************************-->
		<div class="tab-0gmi-group-2" style="background:none;">
		    <!-- 动机 -->
		    <div class="tab tab-0gmi-motivation viewport-flip">
				<div class="flipper-container" ng-class="{'transFormFilp':transformTag_motivation==1}">
					<!-- IQ 正面-->
					<div class="filp front">
						
						<div class="tab-header">
							<div class="tab-title">动机</div>
						</div>
						<!--no data-->
						<div class="tab-content" ng-show="johoInfo.motivation|isEmptyFilter">
							<div class="nothing_prompt mt60">无条件要求</div>
						</div>
						<!--has data-->
						<div class="tab-content" ng-show="!(johoInfo.motivation|isEmptyFilter)">
							<div class="tab-img">
								<img ng-src="{{johoInfo.motivation.motivation_picture}}"/>
							</div>
							<h1>{{johoInfo.motivation.motivation_name}}</h1>
							<div class="motivation_show">
								<span>{{johoInfo.motivation.motivation_item1_name}}</span>
								<span>{{johoInfo.motivation.motivation_item2_name}}</span>
								<span>{{johoInfo.motivation.motivation_item3_name}}</span>
							</div>
						</div>
						<div class="ico_img_information tab-footer tab-tag" ng-click="transformTag_motivation=1"></div>
					</div>
				
					<!-- IQ 反面-->
					<div class="filp back">
						<div class="tab-tag tab-top" ng-click="transformTag_motivation=0">X</div>
						<div class="tab-header">
							<div class="tab-title">动机</div>
						</div>
						<div class="tab-content">
							动机描述了激发员工求职行为和高绩效表现的驱动因子。如果这些驱动因子被组织满足则会促使员工长期并主动处于高绩效状态。相反如长期未被满足则易导致人员流失。
						</div>
					</div>
				</div>
		  	</div>
			
		  	<!-- 价值观 -->
		  	<div class="tab tab-0gmi-values viewport-flip">
		  		<div class="flipper-container" ng-class="{'transFormFilp Filpborder':transformTag_value==1}">
					<!-- IQ 正面-->
					<div class="filp front">
						<div class="tab-header">
							<div class="tab-title">价值观</div>
						</div>
						<!--no data-->
						<div class="tab-content" ng-show="johoInfo.value|isEmptyFilter">
							<div class="nothing_prompt mt60">无条件要求</div>
						</div>
						<!--has data-->
						<div class="tab-content" ng-if="!(johoInfo.value|isEmptyFilter)">
							<div id="valueShow" value-show width="140" height="140" ng-model='johoInfo.value'></div>
						</div>
						<div class="ico_img_information tab-tag tab-footer" ng-click="transformTag_value=1"></div>
					</div>
					<!-- IQ 反面-->
					<div class="filp back">
						<div class="tab-tag tab-top" ng-click="transformTag_value=0">X</div>
						<div class="tab-header">
							<div class="tab-title">价值观</div>
						</div>
						<div class="tab-content">
							价值观是人们认识事物、辩定是非的一种思维或价值取向。匹配的价值观会使员工更容易融入组织/团队；差异较大的价值观容易导致理念和观点上的冲突，进而影响员工稳定性。
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--***********************************show动机&价值观 end ******************************-->
		
		<!--  =======================================  -->
		<!--  ======== joho IQ&思维模式========  -->
		<!--  =======================================  -->
			
		<!--******************************show IQ&思维倾向 begin ***************************-->
		<div class="tab-0gmi-group-2" style="background:none;">
			
			<div class="tab tab-0gmi-IQEQ viewport-flip">
				<div class="flipper-container" ng-class="{'transFormFilp':transformTag_iq==1}">
					<!-- IQ 正面-->
					<div class="filp front">
						<div class="tab-header">
							<div class="tab-title">IQ</div>
						</div>
						<!--no data-->
						<div class="tab-content" ng-show="johoInfo.iq|isEmptyFilter">
							<div class="nothing_prompt mt60">无条件要求</div>
						</div>
						<!--has data-->
						<div class="tab-content" ng-show="!(johoInfo.iq|isEmptyFilter)">
							<div class="tab-left">
								<div class="round">
									<span>{{johoInfo.iq.iq_value}}</span>
									<br/>
									<span>IQ</span>
								</div>
							</div>
							<div class="tab-right">
								<h1 class="b text_color_redSauce">{{johoInfo.iq.iq_level}}</h1>
								<p class="text_color_grey marketing">{{johoInfo.iq.iq_description}}</p>
							</div>
						</div>
						<div class="ico_img_information tab-tag tab-footer" ng-click="transformTag_iq=1"></div>
					</div>
				
					<!-- IQ 反面-->
					<div class="filp back">
						<div class="tab-tag tab-top" ng-click="transformTag_iq=0">X</div>
						<div class="tab-header">
							<div class="tab-title">IQ</div>
						</div>
						<div class="tab-content">
							智商是人们认识客观事物并运用不同知识解决实际问题的能力，因此常被用于预测偏脑力劳动岗位的工作绩效。
						</div>
					</div>
				</div>
			</div>
			
			<!-- 思维倾向 -->
			<div class="tab tab-0gmi-thinkingbehavior viewport-flip">
				<div class="flipper-container" ng-class="{'transFormFilp Filpborder':transformTag_thinking_pattern==1}">
					<!-- IQ 正面-->
					<div class="filp front">
						<div class="tab-header">
							<div class="tab-title">思维模式</div>
						</div>
						<!--no data-->
						<div class="tab-content" ng-show="johoInfo.thinking_pattern|isEmptyFilter">
							<div class="nothing_prompt mt60">无条件要求</div>
						</div>
						<!--has data-->
						<div class="tab-content" ng-show="!(johoInfo.thinking_pattern|isEmptyFilter)">
							<div class="tab-img">
								<img ng-src="{{johoInfo.thinking_pattern.thinking_pattern_picture}}">
							</div>
							<h1 class="b text_color_redSauce">{{ johoInfo.thinking_pattern | showThinkingPatternName }}</h1>
							<p class="mb20">{{johoInfo.thinking_pattern.thinking_pattern_description}}</p>
						</div>
						<div class="ico_img_information tab-tag tab-footer" ng-click="transformTag_thinking_pattern=1"></div>
					</div>
					<!-- IQ 反面-->
					<div class="filp back">
						<div class="tab-tag tab-top" ng-click="transformTag_thinking_pattern=0">X</div>
						<div class="tab-header">
							<div class="tab-title">思维模式</div>
						</div>
						<div class="tab-content">
							思维倾向反应了人们在接收，加工，推理和判断等过程中固有的倾向。不同的思维倾向会影响员工处理每一件事情的决定。
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--**************************************show IQ&思维倾向  end ******************************-->
		
		<!--  =======================================  -->
		<!--  ========== joho 行为模式&EQ ===========  -->
		<!--  =======================================  -->
		<!--******************************show 行为模式&EQ begin ***************************-->
		<div class="tab-0gmi-group-2" class="tab-0gmi-group-2" style="background:none;">
			<!-- 行为模式 -->
			<div class="tab tab-0gmi-thinkingbehavior viewport-flip">
				<div class="flipper-container" ng-class="{'transFormFilp':transformTag_behavior_style==1}">
					<!-- IQ 正面-->
					<div class="filp front">
						<div class="tab-header">
							<div class="tab-title">行为模式</div>
						</div>
						<!--no data-->
						<div class="tab-content" ng-show="johoInfo.behavior_style|isEmptyFilter">
							<div class="nothing_prompt mt60">无条件要求</div>
						</div>
						<!--has data-->
						<div class="tab-content" ng-show="!(johoInfo.behavior_style|isEmptyFilter)">
							<div class="tab-img">
								<img ng-src="{{johoInfo.behavior_style.behavior_style_picture}}">
							</div>
							<h1 class="b text_color_redSauce">{{johoInfo.behavior_style.behavior_style_name}}</h1>
							<p class="mb20">{{johoInfo.behavior_style.behavior_style_description}}</p>
						</div>
						<div class="ico_img_information tab-tag tab-footer"></div>
						<div class="ico_img_information tab-footer tab-tag" ng-click="transformTag_behavior_style=1"></div>
					</div>
				
					<!-- IQ 反面-->
					<div class="filp back">
						<div class="tab-tag tab-top" ng-click="transformTag_behavior_style=0">X</div>
						<div class="tab-header">
							<div class="tab-title">行为模式</div>
						</div>
						<div class="tab-content">
							行为模式是人们在工作场合中扮演的角色和工作方式的倾向性。它会决定人们做出决定后以什么样的方式和角色来执行。
						</div>
					</div>
				</div>
			</div>
			
			<!-- EQ -->
			<div class="tab tab-0gmi-IQEQ viewport-flip">
				<div class="flipper-container" ng-class="{'transFormFilp Filpborder':transformTag_EQ==1}">
					<!-- IQ 正面-->
					<div class="filp front">
						<div class="tab-header">
							<div class="tab-title">EQ</div>
						</div>
						<!--no data-->
						<div class="tab-content" ng-show="johoInfo.eq|isEmptyFilter">
							<div class="nothing_prompt mt60">无条件要求</div>
						</div>
						<!--has data-->
						<div class="tab-content" ng-show="!(johoInfo.eq|isEmptyFilter)">
							<div class="tab-left">
								<div class="round">
									<span>{{johoInfo.eq.eq_value}}</span>
									<br/>
									<span>EQ</span>
								</div>
							</div>
							<div class="tab-right">
								<h1 class="b text_color_redSauce">{{johoInfo.eq.eq_level}}</h1>
								<p class="text_color_grey marketing">{{johoInfo.eq.eq_description}}</p>
							</div>
						</div>
						<div class="ico_img_information tab-tag tab-footer" ng-click="transformTag_EQ=1"></div>
					</div>
					<!-- IQ 反面-->
					<div class="filp back">
						<div class="tab-tag tab-top" ng-click="transformTag_EQ=0">X</div>
						<div class="tab-header">
							<div class="tab-title">EQ</div>
						</div>
						<div class="tab-content">
							情商反应的是人们在工作环境中与人做出情绪互动并保持良好关系的能力，包括情绪识别、情绪控制、同理心等。高情商的人更适合从事情绪劳动型工作或在团队中扮演领导的角色。
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		

	</div>
	
	
</div>
