<div id="interview_guide" class="tab-0gmi-group-1">
	<div class="tab p20">
		<div class="tab-header">
			<div class="tab-title f16" style="font-size: 16px !important;">视频面试录制</div>
		</div>
		<div class="tab-content p20">
			<div class="ta_c text_color_6A">尊敬的用户，PC端暂不支持视频录制，请去移动录制，操作方法请参考下面的步骤</div>
			<div class="interview_div">
				<ul class="interview_message">
					<li ng-class="{'active':style==1}" ng-click="showStep(1)">
						<h2>步骤一：下载零克米app</h2>
						<span ng-show="style==1">去安卓市场已经APPStore下载我们的APP</span>
					</li>
					<li ng-class="{'active':style==2}" ng-click="showStep(2)">
						<h2>步骤二：点击扫描浏览器</h2>
						<span ng-show="style==2">点击APP内的扫描器，扫一扫即可进行视频录制</span>
					</li>
					<li ng-class="{'active':style==3}" ng-click="showStep(3)">
						<h2>步骤三：扫描二维码</h2>
						<span ng-show="style==3">点击APP内的扫描器，扫一扫即可进行视频录制</span>
					</li>
					<li ng-class="{'active':style==4}" ng-click="showStep(4)">
						<h2>步骤四：视频录制</h2>
						<span ng-show="style==4">在APP中，进入准备状态，开始视频录制</span>
					</li>
				</ul>
				<ul class="interview_image">
					<li ng-show="style==1"><img src="candidates/style/img/interview/step1.png" /></li>
					<li ng-show="style==2"><img src="candidates/style/img/interview/step2.png" /></li>
					<li class="posrel" ng-show="style==3">
						<img src="candidates/style/img/interview/step3.png" />
						<div class="qrcode"><img src="./style/img/basic/qrcode.png"/></div>
					</li>
					<li ng-show="style==4"><img src="candidates/style/img/interview/step4.png" /></li>
				</ul>
			</div>
		</div>
	</div>
</div>
