<style>
.but_accept{
	width: 100px;
	border:none;
	background: #E24F00;
	color:#fff;
	border-radius: 6px;
	margin: 0 auto;
	padding:3px 15px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	/*letter-spacing: 2px;*/
	cursor: pointer;
	margin: 0 15px;
}
.but_accept:hover{background:#f75c09;}
.but_reject{
	width: 100px;
	border:none;
	background: whitesmoke;
	color:#E24F00;
	border-radius: 6px;
	margin: 0 auto;
	padding:3px 15px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	margin: 0 15px;
}
.but_reject:hover{background: #EFEFEF;}
.but_accept_grey{
	width: 100px;
	background: #F5F5F5;
	border:none;
	color:#666;
	border-radius: 6px;
	margin: 0 auto;
	padding:3px 15px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	
	margin: 0 15px;
}
.but_done{
	width: 100px;
	border:none;
	background: whitesmoke;
	color:#E24F00;
	border-radius: 6px;
	margin: 0 auto;
	padding:3px 15px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	text-shadow: -1px 1px 1px #efefef;
	margin: 0 15px;
}
</style>
<div class="tab-0gmi-group-1">
	<div class="clear"></div>
	<h2 class="text_color_6A mt15 ml20">消息</h2>
	<ul id="cand_notice_ul">
		<li ng-repeat="notice in noticeList" ui-sref="candidates.opportunities.detail({'job_id':notice.joho_id})">
			<div class="notice_li_img fl">
				<img ng-hide="notice.company_logo" src="./recruiters/style/img/default.png"/>
				<img ng-show="notice.company_logo" ng-src="{{notice.company_logo}}" 
					onerror="javascript:this.src='./recruiters/style/img/default.png';this.onerror=null;"/>
			</div>
			<div class="notice_li_info fl">
				<h2 class="text_color_redSauce b mt20">{{notice.joho_name}}</h2>
			</div>
			<div class="notice_li_score fr">
				<div class="show_score">{{ notice.score.totalScore|percentFilter}}</div>
				<span class="f14 text_color_c0">匹配度</span>
			</div>
			<ul class="cboth notice_informations">
				<li class="cl" ng-repeat="message in notice.message">
					<div class="notice_li_img fl">
						<img class="bradius_50" ng-hide="message.avatar" src="./candidates/style/img/default.png"/>
						<img class="bradius_50" ng-show="message.avatar" ng-src="{{message.avatar}}" 
							onerror="javascript:this.src='./candidates/style/img/default.png';this.onerror=null;"/>
					</div>
					<div class="fl ml15 notice_info" ng-if="message.message_type==1">{{message.name}}{{message.content}}</div>
					<div class="fl ml15 notice_info" ng-if="message.message_type==2">{{message.name}}：{{message.content}}</div>
					<div class="mt10 ml20 fl"><small>{{ message.last_modified_time | date:'yyyy-MM-dd HH:mm:ss'}}</small></div>
					<div class="clear"></div>
				</li>
			</ul>
		</li>
	</ul>
	
	
	<ul id="cand_notice_ul">
		<li ng-repeat="notice in eventDeclineList" ui-sref="candidates.opportunities.detail({'job_id':notice.job_id})">
			<div class="notice_li_img fl">
				<img ng-hide="notice.company_logo" src="./recruiters/style/img/default.png"/>
				<img ng-show="notice.company_logo" ng-src="{{notice.company_logo}}" 
					onerror="javascript:this.src='./recruiters/style/img/default.png';this.onerror=null;"/>
			</div>
			<div class="notice_li_info fl">
				<h2 class="text_color_redSauce b mt20">{{notice.joho_name}}</h2>
			</div>
			<div class="cboth notice_informations">
				<div class="cl">
					<div class="notice_li_img fl">
						<img class="bradius_50" ng-hide="notice.avatar_url" src="./candidates/style/img/default.png"/>
						<img class="bradius_50" ng-show="notice.avatar_url" ng-src="{{notice.avatar_url}}" 
							onerror="javascript:this.src='./candidates/style/img/default.png';this.onerror=null;"/>
					</div>
					<div class="fl ml15 notice_info">您好！该职位已有人选，希望下次有机会合作！</div>
					<div class="mt10 ml20 fl"><small>{{ notice.last_modified_Time | date:'yyyy-MM-dd HH:mm:ss'}}</small></div>
					<div class="clear"></div>
				</div>
			</div>
		</li>
	</ul>
	
	<ul id="cand_message_ul">
		<li ng-repeat="notice in messageList">
			<div class="ml5">
				<h2 class="text_color_999" ng-if="notice.type==10000">系统消息</h2>
				<h2 class="text_color_999" ng-if="notice.type==1000||notice.type==4000">事件通知</h2>
				<h2 class="text_color_999" ng-if="notice.type==2000">米粒消息</h2>
				<h2 class="text_color_999" ng-if="notice.type==3000">消息通知</h2>
				<h2 class="text_color_999" ng-if="notice.type==1001">视频面试邀请</h2>
				<h2 class="text_color_999" ng-if="notice.type==1002">测评邀请</h2>
			</div>
			<div class="mt10" ng-if="notice.type != 1001 && notice.type != 1002">
				<div class="message_li_img fl">
					<img ng-hide="notice.image" src="./recruiters/style/img/default.png"/>
					<img ng-show="notice.image" ng-src="{{notice.image}}" 
						onerror="javascript:this.src='./recruiters/style/img/default.png';this.onerror=null;"/>
				</div>
	
				<div class="message_informations fl">
					<div class="cl ml15 mt5">
						<h2 class="text_color_redSauce b">{{ notice.title }}</h2>
						<h2 class="mt10 f16 lh20">{{ notice.content }}</h2>			
						<div class="mt10"><small>{{ notice.send_time | date:'yyyy-MM-dd'}}</small></div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			
			<div class="mt10" ng-if="notice.type == 1001 || notice.type == 1002">
				<div class="message_li_img fl">
					<img ng-hide="notice.image" src="./recruiters/style/img/default.png"/>
					<img ng-show="notice.image" ng-src="{{notice.image}}" 
						onerror="javascript:this.src='./recruiters/style/img/default.png';this.onerror=null;"/>
				</div>
	
				<div class="message_informations fl">
					<div class="cl ml15 mt2">
						<div class="f15 lh20">
							<label class="fl">招聘职位：</label>
							<h2 class="text_color_redSauce f15" style="cursor: pointer;" ui-sref="candidates.opportunities.detail({'job_id':notice.job_id})">{{ notice.title }}</h2>
						</div>
						<div class="f15 lh20">
							<label class="fl">招聘公司：</label>
							<h2 class="mt10 f15">{{ notice.content }}</h2>			
						</div>
						<div class="f15 lh20">
							<label ng-if="notice.type == 1001" class="fl">视频完成时间：</label>
							<label ng-if="notice.type == 1002" class="fl">测评完成时间：</label>
							<div class="mt10">{{ notice.last_time | date:'yyyy-MM-dd hh:mm:ss'}}</div>
						</div>
						<div class="mt10" ng-if="notice.status==0" >
							<input type="button" ng-click="openQrDialog()" class="but_accept" value="接受邀请" />
							<span>&nbsp;&nbsp;&nbsp;</span>
							<input type="button" class="but_reject" value="拒绝邀请" 
								ng-click="reject_invite(notice.value_1,notice.type)" />
						</div>
						<div class="mt10" ng-if="notice.status==4" >
							<input type="button" class="but_accept_grey"   value="接受邀请" />
							<span>&nbsp;&nbsp;&nbsp;</span>
							<input type="button" class="but_done"   value="已拒绝" />
						</div>
						<div class="mt10" ng-if="notice.status==2" >
							<input type="button" class="but_done"   value="已完成" />
							<span>&nbsp;&nbsp;&nbsp;</span>
							<input type="button" class="but_accept_grey"  value="拒绝邀请" />
						</div>
						<div class="mt10" ng-if="notice.status==3" >
							<input type="button" class="but_done" value="已接受" />
							<span>&nbsp;&nbsp;&nbsp;</span>
							<input type="button" class="but_accept_grey"  value="拒绝邀请" />
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>

		</li>
	</ul>
	
	
	
	<div class="clear"></div>
</div>
<script id="qrcode.html" type="text/ng-template">
	<div ng-click="closeQrDialog()" ng-controller="candNoticeListController" style="margin: 40px auto;width: 380px;height: 400px;background: #fff;z-index: 100;position: absolute;border-radius: 6px;">
		<div style="text-align: center;padding: 50px 20px 20px 20px;">
			<img style="width: 260px;height: 260px;" src="style/img/basic/qrcode_2.jpg" />
			<h2 class="mt10">扫一扫，去APP中面试更方便</h2>
		</div>
	</div>
</script>
