<style>
	article{
   		width: 100%;
    	margin: 0 auto;
    	min-height: 100%;
    	padding-top: 70px;
    }
</style>
<div id="challenge">
	<div class="chall_bg">
		<div class="chall_pic"></div>
		<img src="./candidates/style/img/challenge/qrcode.png"/>
	</div>
	<ul class="chall_ul">
		<li>
			<div class="content_text content_icon_1" go-center="200">
				<h1 class="text_color_redSauce">问卷答题</h1>
				<div class="text_color_999 f13 pt10">4大类型的问卷类型，只需几分钟，让你更加了解自己。</div>
			</div>
			<div class="content_pic content_pic_1" go-center="200"></div>
		</li>
		<li>
			<div class="content_pic content_pic_2" go-center="400"></div>
			<div class="content_text content_icon_2" go-center="400">
				<h1 class="text_color_redSauce">情绪识别</h1>
				<div class="text_color_999  f13 pt10">识别表情图，对您的情绪智力充分了解。</div>
			</div>
		</li>
		<li>
			<div class="content_text content_icon_3" go-center="600">
				<h1 class="text_color_redSauce">数字记忆</h1>
				<div class="text_color_999  f13 pt10">把一组数字，由大到小顺序连接，考验您的短时记忆和反应能力。</div>
			</div>
			<div class="content_pic content_pic_3" go-center="600"></div>
		</li>
		<li>
			<div class="content_pic content_pic_4" go-center="800"></div>
			<div class="content_text content_icon_4" go-center="800">
				<h1 class="text_color_redSauce">拼图游戏</h1>
				<div class="text_color_999  f13 pt10">拼图可以提高逻辑思考能力，提高观察分析能力。</div>
			</div>
		</li>
	</ul>
</div>
<div class="footer_bottom">
	<div class="footer_div">
		<!--<a>关于我们</a>
		<a>服务声明</a>
		<a>网站导航</a>
		<a>帮助</a>
		<a>隐私协议</a>
		<a>联系我们</a>
		<a>意见反馈</a>-->
	</div>
	<div class="clear"></div>
	<div>Copyright(c)2015 0gmi.com All Rights Reserved 苏ICP备 15034175 </div>
</div>