<div ng-controller="matchJohoRightPlugin">
	<div id="interval_message" class="basic_block tab right_standrad">
		<div class="tab-header posrel">
			<div class="tab-title">面试邀请</div>
			<div class="count_tag" ng-class="{'has_count':internalMessageList.length}">{{internalMessageList.length}}</div>
		</div>
		<div class="tab-content" ng-show="internalMessageList|isEmptyFilter">
			<div class="nothing_prompt m10">暂无面试邀请</div>
		</div>
		<ul class="ul_member" ng-show="!(internalMessageList|isEmptyFilter)">
			<li ng-repeat="internalMessage in internalMessageList" ui-sref=".interview"  ui-sref-opts="{reload: true}">
				<img ng-hide="internalMessage.company_logo" src="./recruiters/style/img/default.png"/>
				<img ng-show="internalMessage.company_logo" ng-src="{{internalMessage.company_logo}}" onerror="javascript:this.src='./recruiters/style/img/default.png';this.onerror=null;"/>
				<p title="{{internalMessage.company_name}}">{{internalMessage.short_company_name}}</p>
			</li>
		</ul>
	</div>
	<div id="information_message" class="basic_block tab right_standrad">
		<div class="tab-header posrel">
			<div class="tab-title">即时消息</div>
			<div class="count_tag" ng-class="{'has_count':!(IMInfo.count|isEmptyFilter)}">{{IMInfo.count|isEmptyFilter:"0"}}</div>
		</div>
		<ul class="ul_member" ng-show="!(IMInfo|isEmptyFilter) && IMInfo.count!==0">
			<li ng-repeat="info in IMInfo.info" ng-click="sendIMRoot(info.message[0])" ng-hide="info.count === 0">
				<img ng-hide="info.message[0].ext.avatar" src="./candidates/style/img/default.png"/>
				<img ng-show="info.message[0].ext.avatar" class="bradius_50" ng-src="{{info.message[0].ext.avatar}}" onerror="javascript:this.src='./candidates/style/img/default.png';this.onerror=null;"/>
				<p>{{info.message[0].ext.name}}</p>
			</li>
		</ul>
	</div>
	<div class="basic_block tab right_standrad">
		<div class="tab-header">
			<div class="tab-title">您的访客</div>
		</div>
		<div class="tab-content" ng-show="viewTahos|isEmptyFilter">
			<div class="nothing_prompt m10">暂无访客</div>
		</div>
		<ul class="ul_member" ng-show="!(viewTahos|isEmptyFilter)">
			<li ng-repeat="viewTaho in viewTahos"  ui-sref="^.simpleTaho({'user_id':viewTaho.personal_user_id})">
				<img class="bradius_50" ng-hide="viewTaho.avatar" src="./candidates/style/img/default.png"/>
				<img class="bradius_50" ng-show="viewTaho.avatar" ng-src="{{viewTaho.avatar}}" 
						onerror="javascript:this.src='./candidates/style/img/default.png';this.onerror=null;"/>
				<p>{{viewTaho.name}}</p>
			</li>
		</ul>
	</div>
</div>	