<p class="f16 text_color_grey loading_data ta_c mt30 cl" ng-if="inculdeHtml.loading">数据加载中...</p>
<div id="match_detail" ng-hide="inculdeHtml.loading">
	<h2 class="text_color_grey ml10">TAHO对比详情</h2>
	<!-- *************************************************差距比较页面***************************************************** -->
	<div>
		<!--  ====================================  -->
		<!--  ======== joho 基本信息 module  ========  -->
		<!--  ====================================  -->
		<div class="tab-0gmi-group-1">
			<!-- 展示个人信息 begin -->
			<div class="tab tab-0gmi-match">
				<!--has data-->
				<div class="tab-content">
					<div class="tab-img fl">
						<div class="single_score">{{tahoInfo1.score.totalScore|percentFilter}}</div>
						<img class="bradius_50" ng-hide="tahoInfo1.basic.avatar_url" src="./candidates/style/img/default.png"/>
						<img class="bradius_50" ng-show="tahoInfo1.basic.avatar_url" ng-src="{{tahoInfo1.basic.avatar_url}}" 
							onerror="javascript:this.src='./candidates/style/img/default.png';this.onerror=null;"/>
						<p class="h2">{{tahoInfo1.basic.name}}</p>
					</div>
					<div class="tab-center mt20">
						<div class="f16 text_color_6A b">匹配度比较</div>
					</div>
					
					<div class="tab-img fr">
					<div class="single_score">{{tahoInfo2.score.totalScore|percentFilter}}</div>
						<img class="bradius_50" ng-hide="tahoInfo2.basic.avatar_url" src="./candidates/style/img/default.png"/>
						<img class="bradius_50" ng-show="tahoInfo2.basic.avatar_url" ng-src="{{tahoInfo2.basic.avatar_url}}" 
							onerror="javascript:this.src='./candidates/style/img/default.png';this.onerror=null;"/>
						<p class="h2">{{tahoInfo2.basic.name}}</p>
					</div>
					
					<div class="clear"></div>
					<!--<ul class="dealbreak_ul">
						<li ng-repeat="dealbreak in dealBreakers" ng-if="dealbreak.status==1">
							{{dealbreak.value}}
						</li>
					</ul>-->
				</div>
			</div>

		</div>
		
		
		<!--  ==================个人信息==================  -->
		<div class="tab-0gmi-group-2">
			<!--joho 展示个人信息 begin -->
			<div class="tab tab-0gmi-position">
				<div class="tab-header">
					<div class="tab-title">个人信息</div>
				</div>
				<div class="single_score">{{tahoInfo1.score.basciInformationScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo1.basic|isEmptyFilter">
					<div class="nothing_prompt mt60">还未添加个人信息</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo1.basic|isEmptyFilter)">
					
					<dl class="basic_dl">
						<dt>年薪：</dt>
						<dd>{{tahoInfo1.basic.pref_salary|addTagFilter:'万'}}</dd>
						<dt class="cboth">工作地点：</dt>
						<dd>{{tahoInfo1.basic.locations[0].location_name}}</dd>
						<dt class="cboth">性别：</dt>
						<dd>{{tahoInfo1.basic.gender|genderShowFromTag}}</dd>
						<dt class="cboth">出差比例：</dt>
						<dd>{{tahoInfo1.basic.travel_type_name}}</dd>
						<dt class="cboth">职位：</dt>
						<dd>{{tahoInfo1.basic.positions[0].position_name}}</dd>
						<dt class="cboth">年龄：</dt>
						<dd ng-hide="tahoInfo1.basic.birth|isEmptyFilter">{{tahoInfo1.basic.birth|dateToAgeFilter}}岁</dd>
						<dd ng-show="tahoInfo1.basic.birth|isEmptyFilter">未知</dd>
						<dt class="cboth">公司类型：</dt>
						<dd>{{tahoInfo1.basic.company_type_name|isEmptyFilter:'不限'}}</dd>
						<dt class="cboth">行业类型：</dt>
						<dd>{{tahoInfo1.basic.industries[0].industry_name}}</dd>
						<dt class="cboth">工作类型：</dt>
						<dd>{{tahoInfo1.basic.employment_type_name}}</dd>
					</dl>
				</div>
			</div>
			
			<!--joho 展示个人信息 begin -->
			<div class="tab tab-0gmi-position">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<div class="single_score">{{tahoInfo2.score.basciInformationScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo2.basic|isEmptyFilter">
					<div class="nothing_prompt mt60">还未添加个人信息</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo2.basic|isEmptyFilter)">
					<dl class="basic_dl">
						<dt>年薪：</dt>
						<dd>{{tahoInfo2.basic.pref_salary|addTagFilter:'万'}}</dd>
						<dt class="cboth">工作地点：</dt>
						<dd>{{tahoInfo2.basic.locations[0].location_name}}</dd>
						<dt class="cboth">性别：</dt>
						<dd>{{tahoInfo2.basic.gender|genderShowFromTag}}</dd>
						<dt class="cboth">出差比例：</dt>
						<dd>{{tahoInfo2.basic.travel_type_name}}</dd>
						<dt class="cboth">职位：</dt>
						<dd>{{tahoInfo2.basic.positions[0].position_name}}</dd>
						<dt class="cboth">年龄：</dt>
						<dd ng-hide="tahoInfo2.basic.birth|isEmptyFilter">{{tahoInfo2.basic.birth|dateToAgeFilter}}岁</dd>
						<dd ng-show="tahoInfo2.basic.birth|isEmptyFilter">未知</dd>
						<dt class="cboth">公司类型：</dt>
						<dd>{{tahoInfo2.basic.company_type_name|isEmptyFilter:'不限'}}</dd>
						<dt class="cboth">行业类型：</dt>
						<dd>{{tahoInfo2.basic.industries[0].industry_name}}</dd>
						<dt class="cboth">工作类型：</dt>
						<dd>{{tahoInfo2.basic.employment_type_name}}</dd>
					</dl>
				</div>
			</div>
			<!--<div class="score">{{score.basciInformationScore|percentFilter}}</div>-->
		</div>
		
		
		<!--  ==================教育==================  -->
		<div class="tab-0gmi-group-2">
			<!-- joho教育 -->
			<div class="tab tab-0gmi-education">
				<div class="tab-header">
					<div class="tab-title">教育</div>
				</div>
				<div class="single_score">{{tahoInfo1.score.edcuationScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo1.basic.educations|isEmptyFilter">
					<div class="nothing_prompt mt60">还未添加教育信息</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo1.basic.educations|isEmptyFilter)">
					<ul class="education_ul" >
						<li ng-repeat = "education in tahoInfo1.basic.educations">
							<h1 class="text_color_redSauce mnone">{{education.university_name}}</h1>
							<div class="f12 text_color_grey">{{education.start_time|dateHandleFilter:education.end_time}}</div>
							<div class="text_color_grey">{{education.pref_edu_level_name}}{{education.education_level_name}}&nbsp;{{education.majors[0].major_name}}</div>
						</li>
					</ul>
				</div>
			</div>
			
			
			<!-- taho教育 -->
			<div class="tab tab-0gmi-education">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<div class="single_score">{{tahoInfo2.score.edcuationScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo2.basic.educations|isEmptyFilter">
					<div class="nothing_prompt mt60">还未添加教育信息</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo2.basic.educations|isEmptyFilter)">
					<ul class="education_ul" >
						<li ng-repeat = "education in tahoInfo2.basic.educations">
							<h1 class="text_color_redSauce mnone">{{education.university_name}}</h1>
							<div class="f12 text_color_grey">{{education.start_time|dateHandleFilter:education.end_time}}</div>
							<div class="text_color_grey">{{education.pref_edu_level_name}}{{education.education_level_name}}&nbsp;{{education.majors[0].major_name}}</div>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		

		<!--  ================工作经验================== -->
		<div class="tab-0gmi-group-1">
		    <!-- 理想工作经验 -->
		    <div class="tab tab-0gmi-education">
		  	<!--编辑图标-->
				<div class="tab-header">
					<div class="tab-title">工作经验</div>
				</div>
				<div>
					<div class="fl single_score" style="width: 50%;">{{tahoInfo1.score.workExperienceScore|percentFilter}}</div>
					<div class="fr single_score" style="width: 50%;">{{tahoInfo2.score.workExperienceScore|percentFilter}}</div>
					<div class="clear"></div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-show="((tahoInfo1.basic.work_experiences|isEmptyFilter) && (tahoInfo2.basic.work_experiences|isEmptyFilter))">
					<div class="nothing_prompt mt60">还未添加工作经验</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!((tahoInfo1.basic.work_experiences|isEmptyFilter) && (tahoInfo2.basic.work_experiences|isEmptyFilter))">
					<div class="ta_c" work-experience-compare-taho-vs-taho compare-taho-data="tahoInfo1.basic.work_experiences" compare-joho-data="tahoInfo2.basic.work_experiences"></div>
				</div>
			</div>
		</div>
		
		<!--  =================语言======================  -->
		<div class="tab-0gmi-group-2">
		    
		    <!-- joho语言能力 -->
		  	<div class="tab tab-0gmi-language">
				<div class="tab-header">
					<div class="tab-title">语言能力</div>
				</div>
				<div class="single_score">{{tahoInfo1.score.languageScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo1.basic.languages|isEmptyFilter">
					<div class="img_style_prompt ico_img_language"></div>
					<div class="nothing_prompt">还未添加语言能力</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo1.basic.languages|isEmptyFilter)">
					<ul item="2">
						<li ng-repeat="language in tahoInfo1.basic.languages">
							<h2>{{language.language_name}}<br/>
								<small>{{language.language_level_name}}</small>
							</h2>
						</li>
					</ul>
				</div>
			</div>
			
			 <!-- taho语言能力 -->
		  	<div class="tab tab-0gmi-language">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<div class="single_score">{{tahoInfo2.score.languageScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo2.basic.languages|isEmptyFilter">
					<div class="img_style_prompt ico_img_language"></div>
					<div class="nothing_prompt">还未添加语言能力</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo2.basic.languages|isEmptyFilter)">
					<ul item="2">
						<li ng-repeat="language in tahoInfo2.basic.languages">
							<h2>{{language.language_name}}<br/>
								<small>{{language.language_level_name}}</small>
							</h2>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		
		<!--  =================技能======================  -->
		<div class="tab-0gmi-group-2">
		    
		    <!-- joho技能 -->
		  	<div class="tab tab-0gmi-skill">
				<div class="tab-header">
					<div class="tab-title">技能</div>
				</div>
				<div class="single_score">{{tahoInfo1.score.skillScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo1.basic.skills|isEmptyFilter">
					<div class="img_style_prompt ico_img_skill"></div>
					<div class="nothing_prompt">还未添加任何技能</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo1.basic.skills|isEmptyFilter)">
					<ul class="ul_list">
						<li ng-repeat="skill in tahoInfo1.basic.skills">{{skill.skill_name}}</li>
					</ul>
				</div>
			</div>
			
			<!-- taho技能 -->
		  	<div class="tab tab-0gmi-skill">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<div class="single_score">{{tahoInfo2.score.skillScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo2.basic.skills|isEmptyFilter">
					<div class="img_style_prompt ico_img_skill"></div>
					<div class="nothing_prompt">还未添加任何技能</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo2.basic.skills|isEmptyFilter)">
					<ul class="ul_list">
						<li ng-repeat="skill in tahoInfo2.basic.skills">{{skill.skill_name}}</li>
					</ul>
				</div>
			</div>
		</div>
		
		
		
		<!--  =================证书====================  -->
		<div class="tab-0gmi-group-2">
			<!-- joho证书 -->
		  	<div class="tab tab-0gmi-certificate">
				<div class="tab-header">
					<div class="tab-title">证书</div>
				</div>
				<div class="single_score">{{tahoInfo1.score.certificationScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo1.basic.certificates|isEmptyFilter">
					<div class="img_style_prompt ico_img_certificate"></div>
					<div class="nothing_prompt">还未添加任何证书</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo1.basic.certificates|isEmptyFilter)">
					<ul class="ul_list ul_ico">
						<li ng-repeat="certificate in tahoInfo1.basic.certificates">
							<div class="li_ico"><img ng-src="{{certificate.certificate_logo}}"/></div>
							<span>{{certificate.certificate_name}}</span>
						</li>
					</ul>
				</div>
			</div>
			<!-- taho证书 -->
		  	<div class="tab tab-0gmi-certificate">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<div class="single_score">{{tahoInfo2.score.certificationScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo2.basic.certificates|isEmptyFilter">
					<div class="img_style_prompt ico_img_certificate"></div>
					<div class="nothing_prompt">还未添加任何证书</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo2.basic.certificates|isEmptyFilter)">
					<ul class="ul_list ul_ico">
						<li ng-repeat="certificate in tahoInfo2.basic.certificates">
							<div class="li_ico"><img ng-src="{{certificate.certificate_logo}}"/></div>
							<span>{{certificate.certificate_name}}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		
		<!--  =================动机====================  -->
		<div class="tab-0gmi-group-2">
		    
			<!-- joho动机 -->
	    	<div class="tab tab-0gmi-motivation">
				<div class="tab-header">
					<div class="tab-title">动机</div>
				</div>
				<div class="single_score">{{tahoInfo1.score.motivationScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-hide="tahoInfo1.basic.motivation && tahoInfo1.basic.motivation.motivation_id">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="tahoInfo1.basic.motivation && tahoInfo1.basic.motivation.motivation_id">
					<div class="tab-img">
						<img ng-src="{{tahoInfo1.basic.motivation.motivation_picture}}"/>
					</div>
					<h1>{{tahoInfo1.basic.motivation.motivation_name}}</h1>
					<div class="motivation_show">
						<span>{{tahoInfo1.basic.motivation.motivation_item1_name}}</span>
						<span>{{tahoInfo1.basic.motivation.motivation_item2_name}}</span>
						<span>{{tahoInfo1.basic.motivation.motivation_item3_name}}</span>
					</div>
				</div>
			</div>
			
			<!-- taho动机 -->
	    	<div class="tab tab-0gmi-motivation">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<div class="single_score">{{tahoInfo2.score.motivationScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-hide="tahoInfo2.basic.motivation && tahoInfo2.basic.motivation.motivation_id">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="tahoInfo2.basic.motivation && tahoInfo2.basic.motivation.motivation_id">
					<div class="tab-img">
						<img ng-src="{{tahoInfo2.basic.motivation.motivation_picture}}"/>
					</div>
					<h1>{{tahoInfo2.basic.motivation.motivation_name}}</h1>
					<div class="motivation_show">
						<span>{{tahoInfo2.basic.motivation.motivation_item1_name}}</span>
						<span>{{tahoInfo2.basic.motivation.motivation_item2_name}}</span>
						<span>{{tahoInfo2.basic.motivation.motivation_item3_name}}</span>
					</div>
				</div>
			</div>
		</div>
		
		<!--  =================价值观====================  -->
		<div class="tab-0gmi-group-2">
		    
			<!--joho 价值观 -->
		  	<div class="tab tab-0gmi-values">
				<div class="tab-header">
					<div class="tab-title">价值观</div>
				</div>
				<div class="single_score">{{tahoInfo1.score.valueTestScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-hide="tahoInfo1.basic.value && tahoInfo1.basic.value.value_id">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-if="tahoInfo1.basic.value && tahoInfo1.basic.value.value_id">
					<div id="valueShow" value-show width="140" height="140" ng-model='tahoInfo1.basic.value'></div>
				</div>
			</div>
			
			<!--taho 价值观 -->
		  	<div class="tab tab-0gmi-values">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<div class="single_score">{{tahoInfo2.score.valueTestScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-hide="tahoInfo2.basic.value && tahoInfo2.basic.value.value_id">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-if="tahoInfo2.basic.value && tahoInfo2.basic.value.value_id">
					<div id="valueShow" value-show width="140" height="140" ng-model='tahoInfo2.basic.value'></div>
				</div>
			</div>
		</div>
		
		<!--  =================iq====================  -->
		<div class="tab-0gmi-group-2">
		    <!--joho iq -->
			<div class="tab tab-0gmi-IQEQ">
				<div class="tab-header">
					<div class="tab-title">IQ</div>
				</div>
				<div class="single_score">{{tahoInfo1.score.iqScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo1.basic.iq|isEmptyFilter">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo1.basic.iq|isEmptyFilter)">
					<div class="tab-left">
						<div class="round">
							<span>{{tahoInfo1.basic.iq.iq_value}}</span>
							<br/>
							<span>IQ</span>
						</div>
					</div>
					<div class="tab-right">
						<h1 class="b text_color_redSauce">{{tahoInfo1.basic.iq.iq_level}}</h1>
						<p class="text_color_grey marketing">{{tahoInfo1.basic.iq.iq_description}}</p>
					</div>
				</div>
			</div>
			
			<!--taho iq -->
			<div class="tab tab-0gmi-IQEQ">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<div class="single_score">{{tahoInfo2.score.iqScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo2.basic.iq|isEmptyFilter">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo2.basic.iq|isEmptyFilter)">
					<div class="tab-left">
						<div class="round">
							<span>{{tahoInfo2.basic.iq.iq_value}}</span>
							<br/>
							<span>IQ</span>
						</div>
					</div>
					<div class="tab-right">
						<h1 class="b text_color_redSauce">{{tahoInfo2.basic.iq.iq_level}}</h1>
						<p class="text_color_grey marketing">{{tahoInfo2.basic.iq.iq_description}}</p>
					</div>
				</div>
			</div>
		</div>
		
		<!--  =================思维模式====================  -->
		<div class="tab-0gmi-group-2">
		    
			<!-- joho思维倾向 -->
			<div class="tab tab-0gmi-thinkingbehavior">
				<div class="tab-header">
					<div class="tab-title">思维模式</div>
				</div>
				<div class="single_score">{{tahoInfo1.score.thinkingPatternScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-hide="tahoInfo1.basic.thinking_pattern && tahoInfo1.basic.thinking_pattern.thinking_pattern_id">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="tahoInfo1.basic.thinking_pattern && tahoInfo1.basic.thinking_pattern.thinking_pattern_id">
					<div class="tab-img">
						<img ng-src="{{tahoInfo1.basic.thinking_pattern.thinking_pattern_picture}}">
					</div>
					<h1 class="b text_color_redSauce">{{ tahoInfo1.basic.thinking_pattern | showThinkingPatternName }}</h1>
					<p class="mb20">{{tahoInfo1.basic.thinking_pattern.thinking_pattern_description}}</p>
				</div>
			</div>
			
			<!-- taho思维倾向 -->
			<div class="tab tab-0gmi-thinkingbehavior">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<div class="single_score">{{tahoInfo2.score.thinkingPatternScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-hide="tahoInfo2.basic.thinking_pattern && tahoInfo2.basic.thinking_pattern.thinking_pattern_id">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="tahoInfo2.basic.thinking_pattern && tahoInfo2.basic.thinking_pattern.thinking_pattern_id">
					<div class="tab-img">
						<img ng-src="{{tahoInfo2.basic.thinking_pattern.thinking_pattern_picture}}">
					</div>
					<h1 class="b text_color_redSauce">{{ tahoInfo2.basic.thinking_pattern | showThinkingPatternName }}</h1>
					<p class="mb20">{{tahoInfo2.basic.thinking_pattern.thinking_pattern_description}}</p>
				</div>
			</div>
		</div>
		
		<!--  =================行为模式====================  -->
		<div class="tab-0gmi-group-2">
		    
			<!--joho 行为模式 -->
			<div class="tab tab-0gmi-thinkingbehavior">
				<div class="tab-header">
					<div class="tab-title">行为模式</div>
				</div>
				<div class="single_score">{{tahoInfo1.score.behaviorStyleScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-hide="tahoInfo1.basic.behavior_style && tahoInfo1.basic.behavior_style.behavior_style_id">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="tahoInfo1.basic.behavior_style && tahoInfo1.basic.behavior_style.behavior_style_id">
					<div class="tab-img">
						<img ng-src="{{tahoInfo1.basic.behavior_style.behavior_style_picture}}">
					</div>
					<h1 class="b text_color_redSauce">{{tahoInfo1.basic.behavior_style.behavior_style_name}}</h1>
					<p class="mb20">{{tahoInfo1.basic.behavior_style.behavior_style_description}}</p>
				</div>
			</div>
			
			<!--taho 行为模式 -->
			<div class="tab tab-0gmi-thinkingbehavior">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<div class="single_score">{{tahoInfo2.score.behaviorStyleScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-hide="tahoInfo2.basic.behavior_style && tahoInfo2.basic.behavior_style.behavior_style_id">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="tahoInfo2.basic.behavior_style && tahoInfo2.basic.behavior_style.behavior_style_id">
					<div class="tab-img">
						<img ng-src="{{tahoInfo2.basic.behavior_style.behavior_style_picture}}">
					</div>
					<h1 class="b text_color_redSauce">{{tahoInfo2.basic.behavior_style.behavior_style_name}}</h1>
					<p class="mb20">{{tahoInfo2.basic.behavior_style.behavior_style_description}}</p>
				</div>
			</div>
		</div>
		
		<!--  =================eq====================  -->
		<div class="tab-0gmi-group-2">
		    <!--joho eq -->
			<div class="tab tab-0gmi-IQEQ">
				<div class="tab-header">
					<div class="tab-title">EQ</div>
				</div>
				<div class="single_score">{{tahoInfo1.score.eqScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo1.basic.eq|isEmptyFilter">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo1.basic.eq|isEmptyFilter)">
					<div class="tab-left">
						<div class="round">
							<span>{{tahoInfo1.basic.eq.eq_value}}</span>
							<br/>
							<span>EQ</span>
						</div>
					</div>
					<div class="tab-right">
						<h1 class="b text_color_redSauce">{{tahoInfo1.basic.eq.eq_level}}</h1>
						<p class="text_color_grey marketing">{{tahoInfo1.basic.eq.eq_description}}</p>
					</div>
				</div>
			</div>
			<!--taho eq -->
			<div class="tab tab-0gmi-IQEQ">
				<div class="tab-header">
					<div class="tab-title"></div>
				</div>
				<div class="single_score">{{tahoInfo2.score.eqScore|percentFilter}}</div>
				<!--no data-->
				<div class="tab-content" ng-show="tahoInfo2.basic.eq|isEmptyFilter">
					<div class="nothing_prompt mt60">还未完成测试</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="!(tahoInfo2.basic.eq|isEmptyFilter)">
					<div class="tab-left">
						<div class="round">
							<span>{{tahoInfo2.basic.eq.eq_value}}</span>
							<br/>
							<span>EQ</span>
						</div>
					</div>
					<div class="tab-right">
						<h1 class="b text_color_redSauce">{{tahoInfo2.basic.eq.eq_level}}</h1>
						<p class="text_color_grey marketing">{{tahoInfo2.basic.eq.eq_description}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
