<!--andy-->
<!-- 主体  左侧-->
<style type="text/css">
	span.active{ border-bottom: #E24F00 2px solid; color: #E24F00; }
</style>
<div>
	<div>
		<span ui-sref-active="active" class="pointer text_color_grey f18" ui-sref="recruiters.talentPush.preTalentList.talentList">匹配推送</span>
		<span ui-sref-active="active" class="pointer text_color_grey f18 ml20" ui-sref="recruiters.talentPush.preTalentList.talentSelfRecommendation({type:1,pageNumber:1,pageSize:10})">人才自荐</span>
	</div>
</div>
	<div id="talent_push" ui-view=""></div>
<!-- 主体  右侧-->
<!--<div class="fr width_scale30 right_module" ng-include="inculdeHtml.rightHtml"></div>-->