<!--  =======================================  -->
<!--  ======== joho motivation&value ========  -->
<!--  =======================================  -->

<!--********************************show动机&价值观 begin********************************-->
<div class="tab-0gmi-group-2" style="background:none;">
    <!-- 动机 -->
    <div class="tab tab-0gmi-motivation viewport-flip" ng-class="{'maskLayer': editModuleTag}">
		<div class="flipper-container" ng-class="{'transFormFilp':transformTag_motivation==1}">
			<!-- IQ 正面-->
			<div class="filp front">
				<div class="tab-header">
					<div class="tab-title">动机</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-hide="motivation && motivation.motivation_id">
					<div class="nothing_prompt mt60">请至挑战模块，完成测试！</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-show="motivation && motivation.motivation_id">
					<div class="tab-img">
						<img ng-src="{{motivation.motivation_picture}}"/>
					</div>
					<h1>{{motivation.motivation_name}}</h1>
					<div class="motivation_show">
						<span>{{motivation.motivation_item1_name}}</span>
						<span>{{motivation.motivation_item2_name}}</span>
						<span>{{motivation.motivation_item3_name}}</span>
					</div>
				</div>
				<div class="ico_img_information tab-footer tab-tag" ng-click="transformTag_motivation=1"></div>
			</div>
		
			<!-- IQ 反面-->
			<div class="filp back">
				<div class="tab-tag tab-top" ng-click="transformTag_motivation=0">X</div>
				<div class="tab-header">
					<div class="tab-title">动机</div>
				</div>
				<div class="tab-content">
					动机描述了激发员工求职行为和高绩效表现的驱动因子。如果这些驱动因子被组织满足则会促使员工长期并主动处于高绩效状态。相反如长期未被满足则易导致人员流失。
				</div>
			</div>
		</div>
  </div>
	
  <!-- 价值观 -->
  <div class="tab tab-0gmi-values viewport-flip" ng-class="{'maskLayer': editModuleTag}">
  	<div class="flipper-container" ng-class="{'transFormFilp Filpborder':transformTag_value==1}">
			<!-- IQ 正面-->
			<div class="filp front">
				<div class="tab-header">
					<div class="tab-title">价值观</div>
				</div>
				<!--no data-->
				<div class="tab-content" ng-hide="value && value.value_id">
					<div class="nothing_prompt mt60">请至挑战模块，完成测试！</div>
				</div>
				<!--has data-->
				<div class="tab-content" ng-if="value && value.value_id">
					<div id="valueShow" value-show width="140" height="140" ng-model='value'></div>
				</div>
				<div class="ico_img_information tab-tag tab-footer" ng-click="transformTag_value=1"></div>
			</div>
			<!-- IQ 反面-->
			<div class="filp back">
				<div class="tab-tag tab-top" ng-click="transformTag_value=0">X</div>
				<div class="tab-header">
					<div class="tab-title">价值观</div>
				</div>
				<div class="tab-content">
					价值观是人们认识事物、辩定是非的一种思维或价值取向。匹配的价值观会使员工更容易融入组织/团队；差异较大的价值观容易导致理念和观点上的冲突，进而影响员工稳定性。
				</div>
			</div>
		</div>
				
	</div>
  
</div>
<!--***********************************show动机&价值观 end ******************************-->