@CHARSET "UTF-8";
/* CSS Document Design By rain For Sipsu */
@font-face
{
font-family: "myNumberFont";
src: url("./myNumberFont.ttf");
font-weight: normal;
}
.test {
    font-family: "myNumberFont" !important;
}
/*重置样式*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button,textarea, p, blockquote,th,td {margin: 0;padding: 0;}/*不同的元素的距边默认值不同，这里统一距边0px*/
fieldset, img {	border: 0;}/*fieldset在ie8显示为圆角，在其他浏览器中为直角。且当border:1px时，ff不支持，ie仅显示上、左边框。故重置为0，取消边框。
img在被嵌套在超链接中时，会显示有边框，比较难看。故取消边框。*/
:focus {outline: 0;}/*可以设置对象成为输入焦点时的样式属性，不支持IE5.5。为了方便使用键盘tab键，而重写该样式。需定义新的样式。*/
h1,h2,h3,h4,h5,h6{font-size: 100%; font-weight: normal;}/*定义相对大小（100%）后，会继承父类中的字体大小。否则，为默认值的大小*/
abbr,acronym{border:0;font-variant: normal;}/*缩写元素，很少使用。*/
code, kbd, samp, tt {font-size: 100%;}/*不常用标签，定义字体大小同父元素。*/
input, select, textarea {font-size:90%; font-family:微软雅黑;}/*ff和ie对这几个标签内文字的默认值不一致*/
table {	border-collapse:collapse;border-spacing: 0;}/*调整了table的边框样式：宽→细*/
caption, th {text-align: left;}/*设置默认的对齐方式居中改为居左*/
blockquote, q {	quotes: none;}/*某些浏览器中，引用标签blockquote、q前后可能出现引号*/
blockquote:before, blockquote:after,q:before, q:after {	content: '';content: none;}/*某些浏览器中，引用标签blockquote、q前后可能出现引号*/

/* 核心常用样式 */
body{font-size:14px;}
body {line-height: 1.5;}/*定义行高为字号的1.5倍,过小时可能削掉一部分汉字，且不便于阅读*/
ol, ul {list-style: none;}/*默认的序号比较难看，一般采用自定义的。这里清除列表默认的序号*/
@media print {form, object {display:none}}

/* 扩展常用样式 */
ul, li{ float:none;} 
ul{ margin:0px; }
li{ margin: 0px; }
a{ text-decoration:none; }
a:focus { outline: none; }
.text{ padding:4px; }
.text p{ text-indent:2em;}

/* 自定义缩写样式 */
.b{ font-weight:bold}
.f_n{ font-weight:normal}
.bg_c{ background-color:#CCCCCC;}
.bg_bfbfbf{ background-color:#bfbfbf;}
.c_black{ color:#000; }
.c_red{ color:#940502; } .c_gray{ color:#666666;} .c_darkblue{ color:#000066; } .c_grayblue{ color:#336699; } .c_white{color: #FFFFFF;}
.h10{height:10px; width:100%;} .h15{height:15px; width:100%;} .h20{height:20px; width:100%;}
.w10{width:10px;} .w20{width:20px;} .w30{width:30px;} .w40{width:40px;} .w60{width:60px;} .w80{width:80px;} .w100{width:100px;} .w120{width:120px;}
.f9{ font-size:9px;} .f10{ font-size:10px;} .f11{ font-size:11px;} .f15{ font-size:15px;}
.f12{ font-size:12px;} .f13{ font-size:13px;} .f14{ font-size:14px;} .f16{ font-size:16px;} .f18{ font-size:18px;}
.fl{float:left} .fr{float:right} .cl{ clear:left} .cr{clear:right} .clear{clear:both;height:0px;overflow:hidden} .cboth{clear:both;}
.hide{ display:none }
.lh20{ line-height:20px } .lh22{ line-height:22px } .lh24{ line-height:24px } .lh28{ line-height:28px;} .lh38{ line-height:38px;}
.mnone{margin:0px !important;}

.m0{margin:0px;}
.m5{ margin:5px;} 
.m10{ margin:10px;}
.m15{ margin:15px;} 
.m20{ margin:20px;}

.mt5{ margin-top:5px;} .mt10{ margin-top:10px;} .mt15{ margin-top:15px;} .mt20{ margin-top:20px;}  .mt0{margin-top:0px;} .mt30{margin-top:30px;}
.mb5{ margin-bottom:5px;} .mb10{ margin-bottom:10px;} .mb15{ margin-bottom:15px;} .mb20{ margin-bottom:20px;} .mb40{margin-bottom: 40px !important;}
.ml5{ margin-left:5px;} .ml10{ margin-left:10px;}  .ml15{ margin-left:15px;}  .ml20{ margin-left:20px;} 
.mr5{ margin-right:5px;} .mr10{ margin-right:10px;} .mr15{ margin-right:15px;} .mr20{ margin-right:20px;} 
.nobordertop{ border-top-style:none} .noborderright{ border-right-style:none} 
.noborderbtm{ border-bottom-style:none } .noborderleft{ border-left-style:none}
.p0{padding:0px;}
.p5{ padding:5px;} 
.p10{ padding:10px;}
.p15{ padding:15px;} 
.p20{ padding:20px;}
.pl5{ padding-left:5px;} .pl10{ padding-left:10px;} .pl15{ padding-left:15px;} .pl20{ padding-left:20px;}
.pr5{ padding-right:5px;} .pr10{ padding-right:10px;} .pr15{ padding-right:15px;} .pr20{ padding-right:20px;}
.pb5{ padding-bottom:5px;} .pb10{padding-bottom:10px;} .pb15{padding-bottom:15px;} .pb20{padding-bottom:20px;}
.pt5{ padding-top:5px;} .pt10{padding-top:10px;} .pt15{padding-top:15px;} .pt20{padding-top:20px;}
.pd5{ padding:5px;} .pd10{ padding:10px;} .pd15{ padding:15px;} .pd20{ padding:20px;}
.pointer{ cursor:pointer}
.ta_r{ text-align:right}
.ta_c{ text-align:center}
.text_indent{text-indent: 2em;}
.textUnderline{text-decoration: underline;}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.posrel{
	position: relative;
}
.posrel .error{
	left: 0px;
}

h1,.h1{font-size:24px;}
h2,.h2{font-size:18px;}
