<h2 class="text_color_grey b fl" ng-class="active" ui-sref="^.list">匹配的机会</h2>
<h2 class="text_color_redSauce b" style="width: 75px;margin-left: 100px;border-bottom: 2px solid #e24f00;">我的自荐</h2>

<p class="f16 text_color_grey ta_c mt30" ng-if="inculdeHtml.loading">数据加载中...</p>
<div class="tab-0gmi-group-1 no_data" ng-show="(recommendJOHOs|isEmptyFilter)&&!inculdeHtml.loading">
	<span class="notice">暂无自荐机会，完善TAHO信息即可自荐</span><br/>
	<h2 class="common_tag create_tag" ui-sref="candidates.taho">完善TAHO信息</h2>
</div>

<div class="tab-0gmi-group-1">

	<ul id="match_ul">
		<li ng-repeat="recommendJOHO in recommendJOHOs" ui-sref="^.detail({'job_id':recommendJOHO.job_id})">
			<div class="match_li_img fl">
				<img ng-hide="recommendJOHO.company_logo" src="./recruiters/style/img/default.png"/>
				<img ng-show="recommendJOHO.company_logo" ng-src="{{recommendJOHO.company_logo}}" 
					onerror="javascript:this.src='./recruiters/style/img/default.png';this.onerror=null;"/>
			</div>
			<div class="match_li_info fl">
				<h1 class="text_color_redSauce none">{{recommendJOHO.joho_name}}</h1>
				<dl>
					<dt>年薪:</dt>
					<dd>{{recommendJOHO.salary | addTagFilter:'万'}}</dd>
					<dt class="cr">工作地点:</dt>
					<dd>{{recommendJOHO.location_name}}</dd>
					<dd class="clear"></dd>
				</dl>
				<div class="mt15 f16 c_black">{{recommendJOHO.company_name}}</div>
			</div>
			<div class="match_li_score fl">
				<div class="show_score">{{ recommendJOHO.totalScore|percentFilter }}</div>
				<span class="f16 text_color_c0">匹配度</span>
			</div>
		</li>
	</ul>
	<tm-pagination conf="paginationConf"></tm-pagination>
	<div class="clear"></div>
</div>