<div class="tab-0gmi-group-1 tab">
	<div class="tab-header">
		<div class="tab-title">
			<h2 class="b">我的评价</h2>
			<p>以下是您的评价分值。</p>
		</div>
	</div>
	<ul class="tab-content setting_ul">
		<li>
			<div class='li_l'>招聘反馈速度</div>
			<div class='li_r pl5 text_color_grey'>功能正在开发中</div>
			<div class="clear"></div>
		</li>
		<li>
			<div class='li_l'>招聘专业度</div>
			<div class='li_r pl5 text_color_grey'>功能正在开发中</div>
			<div class="clear"></div>
		</li>
	</ul>
</div>








