<!-- 主体  左侧-->
<div class="width_scale70 fl">
	<div id="setting_page" ui-view=""></div>
</div>

<!-- 主体  右侧-->
<div class="fr width_scale30 right_module setting_page">
	<div class="basic_block  setting_list">
		<p ui-sref=".user" ui-sref-active="active">个人信息</p>
		<p ui-sref=".company" ui-sref-active="active">公司信息</p>
		<p ui-sref=".comment" ui-sref-active="active">我的评价</p>
		<p ui-sref=".account" ui-sref-active="active">账号设置</p>
		<p ui-sref=".privacy" ui-sref-active="active">隐私设置</p>
		<p ui-sref=".release" ui-sref-active="active">解除关联</p>
	</div>
</div>
