<div class="tab-0gmi-group-1 tab">
	<div class="tab-header">
		<div class="tab-title">
			<h2 class="b">解除关联</h2>
			<p>解除关联后，您将看不到任何人才推送，也不能进行任何操作。</p>
		</div>
	</div>
	<ul class="tab-content setting_ul">
		<li ng-show="setting.editSetting != 'release'">
			<div class='li_l'>解除关联</div>
			<div class='li_r pl5'>已关联</div>
			<div class="clear"></div>
			<div class="edit" ng-click="setting.editSetting = 'release'"></div>
		</li>
		<li class="special" ng-if="setting.editSetting == 'release'">
			<div class='li_l'>解除关联</div>
			<div class='li_r'>
				<div class="form_but_group" style="margin:0px">
					<div class="form_but form_but_submit" ng-click='cancelBind()'>解除关联</div>
					<div class="form_but form_but_cancel" ng-click="setting.editSetting = ''">取消</div>
				</div>
			</div>
			<div class="clear"></div>
		</li>
	</ul>
</div>








